<div class="box box-warning">
    <form name="addIndustryForm" ng-submit="industryFunctions.addNewIndustryFunction(industryFunctions.industryFunction)">
        <div class="box-body">
            <div class="col-xs-12">
                <input type="hidden" ng-model="industryFunctions.industryFunctions.id">
                <div class="form-group">
                    <label for="industryFunctionName">Name</label>
                    <input type="text" class="form-control" ng-model="industryFunctions.industryFunction.functionName" id="industryFunctionName" ng-required="true">
                </div>
                <div class="form-group" ng-show="false">
                    <label for="industryFunctionDescription">Description</label>
                    <input type="text" class="form-control" ng-model="industryFunctions.industryFunction.functionDescription" id="industryFunctionDescription">
                </div>
                <div class="form-group">
                    <label for="industryFunctionStatus">Enable</label>
                    <input type="checkbox" ng-model="industryFunctions.industryFunction.functionStatus" id="industryFunctionStatus">
                </div>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </div>
    </form>
</div>