
<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b><img src="/public/img/logo.png" alt="Brand"></b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" ng-click="userCtrl.toggleSideBar()" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->

    <div class="navbar-custom-menu" >

      <ul class="nav navbar-nav">
        <li ng-show="userCtrl.isAdmin" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{userCtrl.dashboard}}
            <i class="fa fa-sort-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="header"><a ui-sref="consultant.dashboard">Consultant</a></li>
            <li class="header"><a ui-sref="admin.consultants">Admin</a></li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img ng-src="{{userCtrl.profile.profileImage}}" style="width: 25px; border-radius: 2px;" alt="User Image">
            <span class="hidden-xs">{{userCtrl.user.firstName}} {{userCtrl.user.lastName}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img style="border-radius: 8px;" ng-src="{{userCtrl.profile.profileImage}}" class="" alt="User Image">

              <p>
                {{userCtrl.user.firstName}} {{userCtrl.user.lastName}}
                <small>{{userCtrl.CurrentDate | date}}</small>
                <small ng-click="userCtrl.openChangePassModal()" ><a href style="color: white"><strong>Change Password</strong></a ></small>
              </p>
            </li>
            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer" ng-controller="LoginController as login">
              <div class="pull-left">
                <a ui-sref="consultant.profile" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a ng-click="login.doLogout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>