<div class="wrapper">
    <div ng-include="'/public/templates/_client_header.html'"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div ng-include="'/public/templates/_side_user_dashboard.html'"></div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li>
                    <a ui-sref="client.dashboard">
                        <i class="fa fa-home"></i> <span>Home</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.consultants">
                        <i class="fa fa-search"></i> <span>Search Consultants</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-file-o"></i> <span>Request for Proposal</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a ui-sref="client.newrfp" >
                                <i class="fa fa-file-o"></i> New
                            </a>
                        </li>
                        <li>
                            <a ui-sref="client.listrfp">
                                <i class="fa fa-search"></i> List
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="client.firmlist">
                        <i class="fa fa-list-ul"></i> <span>Consulting Firm Listings</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.invite">
                        <i class="fa fa-user-plus"></i> <span>Invite Your Network</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.pmo">
                        <i class="fa fa-inbox"></i> <span>Project Management Office</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.messages">
                        <i class="fa fa-envelope"></i> <span>Messages</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.favorites">
                        <i class="fa fa-star"></i> <span>Favorites</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.searchwp">
                        <i class="fa fa-file-text-o"></i> <span>Search White Papers</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.accounting">
                        <i class="fa fa-calculator"></i> <span>Accounting</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="client.settings">
                        <i class="fa fa-gear"></i> <span>Settings</span>
                    </a>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div ui-view></div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div ng-include="'/public/templates/_dashboard_footer.html'"></div>
</div>