<div class="wrapper">
    <div ng-include="'/public/templates/_dashboard_header.html'"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div ng-include="'/public/templates/_side_user_dashboard.html'"></div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a ui-sref="consultant.dashboard">
                        <i class="fa fa-home"></i> <span>Home</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="consultant.profile">
                        <i class="fa fa-user"></i> <span>Manage Profile</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-globe"></i> <span>Website</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" ng-controller="SettingsController as sc">
                        <li>
                            <a ui-sref="consultant.website" >
                                <i class="fa fa-edit"></i> Edit Website
                            </a>
                        </li>
                        <li>
                            <a href="/consultant/{{sc.settings.profileLink}}" target="_blank">
                                <i class="fa fa-eye"></i> View Website
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="consultant.invite">
                        <i class="fa fa-user-plus"></i> <span>Invites</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:support@avisare.com?subject={{ userCtrl.user.firstName }}%20{{ userCtrl.user.lastName }}%20is%20requiring%20assistance%20in%20the%20platform">
                        <i class="fa fa-ticket"></i> <span>Support</span>
                    </a>
                </li>
                <!--  <li class="disabled" disabled>
                    <a href="#">
                        <i class="fa fa-envelope"></i> <span>Inbox</span>
                        <small class="label pull-right bg-red">1</small>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#" class="disabled">
                        <i class="fa fa-file-text"></i> <span>Submit Withe Papers</span>
                    </a>
                </li>
                <li class="disabled">
                    <a href="documentation/index.html">
                        <i class="fa fa-user-plus"></i> <span>Invite Consultants</span>
                    </a>
                </li>
                <li class="disabled">
                    <a href="documentation/index.html">
                        <i class="fa fa-coffee"></i> <span>Coffee Break</span>
                    </a>
                    <ul class="dropdown-menu">
                        
                        <li class="user-header">
                            <img src="/public/img/f0033880.jpg" class="img-circle" alt="User Image">
                            <p>
                                {{userCtrl.user.firstName}} {{userCtrl.user.lastName}} - Web Developer
                                <small>{{userCtrl.user.createdAt | date}}</small>
                            </p>
                        </li>
                        
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </li>
                        
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="documentation/index.html">
                        <i class="fa fa-gear"></i> <span>Settings</span>
                    </a>
                </li> -->
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div ui-view></div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div ng-include="'/public/templates/_dashboard_footer.html'"></div>
</div>