
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> Beta 1.0.1
    </div>
    <strong>Copyright &copy; 2015<a href="http://avisare.com"> Avisare.com</a>.</strong> All rights
    reserved.
</footer>