<div class="user-panel row" style="margin: 0;">
    <div class="text-center">
        <a ui-sref="consultant.profile">
        <img ng-src="{{userCtrl.profile.profileImage}}" style="width: 85px; border-radius: 5px;" class="profile-image" alt="User Image">
        </a>
    </div>
    <div class="info" style="padding: 10px 0; position: initial;">
        <p>{{userCtrl.user.firstName}} {{userCtrl.user.lastName}}</p>
        <span style="font-size: 12px" ng-show="!!userCtrl.city">{{userCtrl.city.cityName}}, {{userCtrl.state.stateName}}</span>
    </div>
</div>