<div class="wrapper">
    <div ng-include="'/public/templates/_dashboard_header.html'"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div ng-include="'/public/templates/_side_user_dashboard.html'"></div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a ui-sref="admin.industries">
                        <i class="fa fa-industry"></i> <span>Industries</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.industryFunctions">
                        <i class="fa fa-edit"></i> <span>Occupations</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.skills">
                        <i class="fa fa-cogs"></i> <span>Skills</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.prospects">
                        <i class="fa fa-users"></i> <span>Manage Prospects</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.consultants">
                        <i class="fa fa-users"></i> <span>Manage Consultants</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div ui-view></div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div ng-include="'/public/templates/_dashboard_footer.html'"></div>
</div>