<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="../../../../../app/lib/ink/css/ink.css" inline>
  <link rel="stylesheet" type="text/css" href="./style/invite.css" inline>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td class="six sub-columns">
                              <img src="http://cdn.avisare.com/logo_white.png" height="63" width="250">
                            </td>
                            <td class="six sub-columns last" style="text-align:right; vertical-align:middle;"></td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>

          <table class="container">
            <tr>
              <td>

                {% block content %}{% endblock %}

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td align="center social-links">
                            <center>
                              <p class="social-links" style="text-align:center;">
                                <a href="mailto:support@avisare.com">
                                  <img src="https://s3.amazonaws.com/avisare-production/facebook.jpg">
                                </a>

                                <a href="mailto:support@avisare.com">
                                  <img src="https://s3.amazonaws.com/avisare-production/linkedin.jpg">
                                </a>

                                <a href="mailto:support@avisare.com">
                                  <img src="https://s3.amazonaws.com/avisare-production/twitter.jpg">
                                </a>
                              </p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td align="center">
                            <center>
                              <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

              <!-- container end below -->
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>