/*
 * Skin: Avisare
 * ----------
 */
@import "../lib/AdminLTE/build/bootstrap-less/mixins.less";
@import "../lib/AdminLTE/build/bootstrap-less/variables.less";
@import "../lib/AdminLTE/build/less/variables.less";
@import "../lib/AdminLTE/build/less/mixins.less";

@sidebar-dark-bg: #0C5CD4;
@white:           #FFFFFF;
@avisare-titles:  #2CBFEC;
@border-img: #FAFAFA;
@text-color-body: #7C7C7C; 
@fuchsia: #A60CA8;
@yellow: #FFA500;



/* VAR MEDIA QUERY*/
@smartphones: ~"only screen and (max-width: 320px)";
@smartphones-plus: ~"only screen and (max-width: 480px)";
@tablets: ~"only screen and (max-width: 768px)";
@tablets-medium: ~"only screen and (max-width: 992px)";
@desktop: ~"only screen and (max-width: 1200px)";
@blue: #0C5CD4;
@green: #3fcf46;
@aqua: #00A1F1;
/* FIN VAR MEDIA QUERY*/

/*GENERIC*/
.border-white{
  border: @border-img solid 2px !important;
}
.title-blue{
  color: @avisare-titles;
}
.progress-bar-green, .progress-bar-success{
  background-color: #3FCF46;
}
.progress{
  background-color: #DCDCDC;
  border-radius: 8px;
}
.progress-bar{
  border-radius: 8px !important;
}
.content-wrapper{
  background-color: #F0F0F0;
}

textarea {
  resize: none;
}
/**********/
.skin-avisare {
  color: @text-color-body;
  //Navbar
  .main-header {
    .navbar {
      min-height: 70px;
      padding-top: 10px;
      .navbar-variant(@white; @avisare-titles);
      .sidebar-toggle {
        color: @avisare-titles;
        &:hover {
          background-color: darken(@white, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {

            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@white, 5%);
              }
            }
          }
        }
      }
      .user-menu{
        .dropdown-menu{
          border-color: #CCC;
          .user-header{
            background-color: @sidebar-dark-bg;
            > p{
            color:darken(@white, 5%);
            }
          }
        }
      }
      /*copy title header navbarFileId*/
      .title-navbar p{
        padding-top: 12px;
        color: @avisare-titles;
        font-size: 18px;
      }
      .separator-menu{
        border-left: 1px solid #F0F0F0;
        float: left;
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 4px;
        width: 1px;
      }
    }
    //Logo
    .logo {
      min-height: 70px;
      .logo-variant(darken(@white, 5%));
      .logo-mini img{
        max-width: 32px;
      }
    }

    li.user-header {
      background-color: @white;
    }
    .navbar-custom-menu{
      .nav{
        .messages-menu a, .notifications-menu a{
            color:@text-color-body;
          }
      }
    }
  }

  /* Content Wrapper. Contains page content */
  .content-wrapper{

     @media @smartphones, @smartphones-plus {
      margin-top: 40px;
    }
    @media @tablets{
      padding-top: 50px;
    }
    .content{
      .box-header.with-border{
        border: 0;
      }
    }
    .box{
      .box-body{
        .icon-box{
          font-size: 49px;
        }
        .title-box h4{
          margin: 0;
        }
        .content-box{
          p{
            margin: 20px 10px;
          }
          .content-btn{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  /*FIN Content Wrapper*/

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(@white);

  .main-sidebar{
    padding-top: 70px;
      @media @smartphones, @smartphones-plus {
        padding-top: 140px;
      }
      @media @tablets{
        padding-top: 150px;
      }
  }
  .sidebar-menu > li > a {
    padding: 10px 5px 10px 15px;
    display: block;
  }
  .sidebar-menu >li >a:hover{
    background:#0b58ca;
    border-left-color:#4DC0EF;
  }
  .sidebar li.active a{
    background: rgba(255, 255, 255, 0.15);
  }
}

.skin-blue.layout-top-nav .main-header > .logo {
  .logo-variant(@white);
}

.user-panel{
    padding-bottom: 60px;
    padding-top: @panel-body-padding;/*15px*/
  > .image {
    text-align: center;
    > img {
      max-width: 100px;
    }
  }
  .info{
    font-size: 16px;
    padding: 5px;
    text-align: center;
    p {
      white-space: normal ! important;
    }
  }
}

.login-boxy{
  
padding-top: 10%
}


body { 
  background: url(/public/img/photo4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
.form-group {
  &.has-success {
    label {
      color: @green;
    }
    .form-control {
      border-color: @green;
      box-shadow: none;
    }
  }

  &.has-warning {
    label {
      color: @yellow;
    }
    .form-control {
      border-color: @yellow;
      box-shadow: none;
    }
  }

  &.has-error {
    label {
      color: @red;
    }
    .form-control {
      border-color: @red;
      box-shadow: none;
    }

    .input-group {
  .input-group-addon {
    .border-radius(@input-radius);
    border-color: @red;
    background-color: rgb(217, 83, 79);
  }
}

  }
}

/* Input group */
.client-press {
  padding-left: 0px;
  margin-top: 10px;
}

.case-study-options{
  margin-top: 0.8em;
}

h1, h2, h3, h4, .nav-tabs li a {
   text-transform: none !important;
}

.fa.fa-star.yellow{

  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  color: yellow;
}