<!-- Basic Info -->
<div class="box box-primary" ng-controller="ProfileController as profile">
  <!-- form start -->
  <form novalidate avisare-form name="aboutForm"
        ng-submit="aboutForm.firstName.$valid
    && aboutForm.lastName.$valid
    && aboutForm.Skype.$valid
    && aboutForm.LinkedIn.$valid
    && aboutForm.twitter.$valid
    && main.syncProfile()">
    <div class="box-body">
      <div class="">
        <div class="col-sm-6 col-xs-12" ng-controller="AddressController as address">
          <h4>Personal Information</h4>
          <cloudinary-uploader ng-model="profile.picture">Avatar</cloudinary-uploader>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input avisare-input type="text" class="form-control" ng-maxlength="255" maxlength="255" name="firstName" id="firstName" ng-model="profile.user.firstName" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input avisare-input type="text" class="form-control" ng-maxlength="255" maxlength="255" name="lastName" id="lastName" ng-model="profile.user.lastName" required>
          </div>
          <div class="form-group" ng-controller="IndustryController as IndustryCtrl">
            <label>Industries</label> <i class="fa fa-question-circle" uib-tooltip="{{profile.industryTooltip}}"></i>
            <ui-select multiple ng-model="IndustryCtrl.industry" theme="select2" limit="3" style="width: 100%;">
              <ui-select-match>{{$item.industryName}}</ui-select-match>
              <ui-select-choices repeat="industry in IndustryCtrl.industries  | filter:$select.search">
                {{industry.industryName}}
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group" ng-controller="FunctionController as functionCtrl">
            <label>Functions</label> <i class="fa fa-question-circle" uib-tooltip="{{profile.functionTooltip}}"></i>
            <ui-select multiple ng-model="functionCtrl.functionsSelected" theme="select2" limit="2" style="width: 100%;">
              <ui-select-match>{{$item.functionName}}</ui-select-match>
              <ui-select-choices repeat="function in functionCtrl.functions | filter:$select.search">
                {{function.functionName}}
              </ui-select-choices>
            </ui-select>
          </div>

          <h4>Address</h4>

          <div class="form-group">
            <label>Country</label>
            <ui-select ng-model="address.country" theme="selectize" ng-disabled="disabled"
                       search-enabled="true" on-select="address.changeCountry($select.selected.id)">
              <ui-select-match placeholder="Select country">{{$select.selected.countryName}}</ui-select-match>
              <ui-select-choices repeat="country in address.countries | filter: $select.search">
                <span ng-bind-html="country.countryName | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">State</label>
            <ui-select ng-model="address.state" theme="selectize" ng-disabled="disabled"
                       search-enabled="true" on-select="address.changeState($select.selected.id)">
              <ui-select-match placeholder="Select a state">{{$select.selected.stateName}}</ui-select-match>
              <ui-select-choices repeat="state in address.states | filter: $select.search">
                <span ng-bind-html="state.stateName | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label>City</label>
            <ui-select ng-model="address.city" theme="selectize" ng-disabled="disabled"
                       search-enabled="true" on-select="address.changeCity($select.selected.id)">
              <ui-select-match placeholder="Select a city">{{$select.selected.cityName}}</ui-select-match>
              <ui-select-choices repeat="city in address.cities | filter: $select.search">
                <span ng-bind-html="city.cityName | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label for="address">Address Line</label>
            <input type="text" class="form-control" id="address" ng-maxlength="255" maxlength="255" ng-model="address.address.addressLineOne">
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input avisare-phone avisare-input type="text" class="form-control" id="firstName" ng-model="address.address.phoneNumber">
          </div>
        </div>

        <div class="col-md-6 col-xs-12">

          <h4>Current Resume</h4>
          <input avisare-file type="file" ng-model="profile.file" ng-change="profile.saveResume(profile.file)">
          <h4>Availability</h4>

          <div class="form-group">
            <label>When are you available</label>
            <avisare-datepicker name="date" min-date="profile.minDate" ng-model="profile.profile.avaliability"></avisare-datepicker>
            <!--<i style="width: 10px; height: 10px; float: left; background-color:{{main.availabilityColor}};"></i>-->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Amount available to travel</label>
            <ui-select ng-model="profile.profile.travel" theme="selectize" search-enabled="true">
              <ui-select-match placeholder="Select">
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices repeat="amount in profile.travelAvaliabilities | filter: $select.search">
                <span ng-bind-html="amount | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <h4>Social Account</h4>

          <div class="form-group">
            <label for="exampleInputEmail1">Skype</label>
            <input avisare-input type="text" ng-maxlength="255" maxlength="255" class="form-control" name="Skype" id="Skype" ng-model="profile.profile.skype">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">LinkedIn</label>
            <input avisare-input type="text" ng-maxlength="255" maxlength="255" class="form-control" name="LinkedIn" id="LinkedIn" ng-model="profile.profile.linkedin">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Twitter</label>
            <input avisare-input type="text" ng-maxlength="255" maxlength="255" class="form-control" name="twitter" id="twitter" ng-model="profile.profile.twitter">
          </div>
          <h4>Other Information</h4>

          <div class="form-group" ng-controller="LanguagesController as languagesCtrl">
            <label for="exampleInputPassword1">Languages</label>
            <ui-select multiple ng-model="languagesCtrl.languageSelected" theme="select2" style="width: 100%;">
              <ui-select-match>{{$item.languageName}}</ui-select-match>
              <ui-select-choices repeat="language in languagesCtrl.languages | filter:$select.search">
                {{language.languageName}}
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <!-- /.box-body -->


  </form>
</div><!-- /. Basic Info -->