<!-- Certifications & Skills -->
<div class="box box-primary">

    <div class="box-body" ng-controller="certificationController as cert">
        <!-- form start -->

        <div class="col-sm-6 col-xs-12">
            <h4>Certifications</h4>
            <button type="button" class="btn btn-primary" ng-click="cert.openModal()"><i class="fa fa-plus-circle"></i> &nbsp; Add New</button>

            <div class="box-body">
                <div class="experienceList" ng-repeat="certification in cert.certifications">
                    <hr/>
                    <span>{{certification.certificationType}} on {{certification.certificationName}}</span> at <span>{{certification.certificationDate | date}}</span>

                    <div style="float: right">
                        <a ng-click="cert.openModal(certification)">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a ng-click="cert.removeCert(certification)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-xs-12" ng-controller="ProfileSkillController as skill">

            <h4>Skills</h4>

            <div class="form-group">
                <ui-select multiple on-remove="skill.removeSkill($item)" on-select="skill.addSkill($item)" ng-model="skill.skills" tagging="tagTransform" theme="select2" style="width: 100%;">
                    <ui-select-match>{{$item.skillName}}</ui-select-match>
                    <ui-select-choices repeat="skill in skill.allSkills | filter:$select.search">
                        {{skill.skillName}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="skill.syncSkills()">Submit</button>
        </div>

    </div>
    <!-- /.box-body -->
</div><!-- ./Certifications & Skills -->