<div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-danger btn-sm" ng-click="cert.closeModal()">
          <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <form novalidate avisare-form name="certificationForm" ng-model="cert.form" role="form" ng-submit="certificationForm.$valid && cert.saveCert()">
        <div class="box-body">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="certificationType">Certification type</label>

                    <ui-select ng-model="cert.certification.certificationType" theme="selectize" ng-disabled="disabled"
                               search-enabled="true" avisare-input required>
                        <ui-select-match placeholder="Certification type">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="type in cert.certs | filter: $select.search">
                            <span ng-bind-html="type | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="certification">Certification name</label>
                    <input avisare-input type="text"  maxlength="255" ng-model="cert.certification.certificationName" class="form-control" id="certification" required>
                </div>
                <div class="form-group">
                    <label for="certificationYear">Year of certification</label>

                    <avisare-datepicker avisare-input ng-model="cert.certification.certificationDate" required></avisare-datepicker>
                </div>
                <div class="form-group">
                    <label for="Issuing">Issuing body</label>
                    <input avisare-input type="text" maxlength="255" ng-model="cert.certification.issuer" class="form-control" id="Issuing" required>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>