<div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-danger btn-sm" ng-click="educationCtrl.closeModal()">
          <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <form novalidate id="education-form" avisare-form name="expEducForm" role="form" ng-submit="expEducForm.$valid && educationCtrl.saveEducation(educationCtrl.education)">
        <div class="box-body">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="college">College / University</label>
                    <input avisare-input id="college" type="text"  maxlength="255" class="form-control" ng-model="educationCtrl.education.university" required>
                </div>
                <div class="form-group">
                    <label for="designation">Degree designation</label>
                        <ui-select ng-model="educationCtrl.education.degreeDesignation" theme="selectize" search-enabled="true">
                            <ui-select-match placeholder="Select">
                                {{$select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="designation in educationCtrl.designations | filter: $select.search">
                                <span ng-bind-html="designation | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                </div>
                <div class="form-group">
                    <label for="degree">Concentration</label>
                    <span class="pull-right" style="font-size: small">Characters left: {{255 - educationCtrl.education.degree.length}}</span>
                    <input avisare-input type="text" class="form-control" id="degree" ng-model="educationCtrl.education.degreeName" required ng-maxlength="255" maxlength="255">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>