<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Avisare | Consultant</title>

  <link href="/public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/site/css/consultant_style.css">
  <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/site/css/flexslider_consultant.css">

  <script src="/public/lib/jquery/dist/jquery.min.js"></script>
  <script src="/public/site/js/jquery.inputmask-multi.js"></script>
  <script src="/public/site/js/jquery.maskedinput.min.js"></script>
  <script src="/public/site/js/bindfirst.min.js"></script>
  <script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/public/site/js/jquery.flexslider-min.js"></script>
  <script src="/public/site/js/index_consultant.js"></script>
</head>
<body data-spy="scroll" data-target="#nav-bar">
  <header>
    <nav id="nav-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span><$ pageValues.Profile.User.firstName | capitalize $></span> <$ pageValues.Profile.User.lastName | capitalize $></a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#case-studies">Case Studies</a></li>            
            <% if pageValues.Profile.PastClients.length != 0 %>
              <li><a href="#clients">Clients</a></li>
            <% endif %>
            <li><a href="#experience">Experience</a></li>        
            <% if pageValues.Profile.Presses.length != 0 %>
              <li><a href="#press">Press</a></li>
            <% endif %>            
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="background-about">
    <section id="about" class="container">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="perfil-img img-responsive" src="http://res.cloudinary.com/avisare/image/upload/c_fill,g_face,h_392,w_392/<$ pageValues.Profile.File.cloudinaryUrl $>">
      </article>
      <figure class="hidden-xs hidden-sm">
        <img class="perfil-img img-responsive" src="/public/site/images/batch-img.png" width="100%">
      </figure>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h3 class="white-text"><b>About</b></h3>
        <p class="white-text text"><$ pageValues.aboutMe $></p>
      </article>
    </section>
  </div>

  <section id="service" class="container">
    <h3 class="text-center">Services</h3>
    <p class="text-center"><$ pageValues.serviceDescription $></p>
    <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2">
      <ul class="items-service">
        <% for serv in pageValues.Profile.Services %>
          <li><$ serv.serviceName $></li>
        <% endfor %>
      </ul>
    </div>
  </section>

  <div class="background-case">
    <section id="case-studies" class="container">
      <h3 class="text-center">CASE STUDIES</h3>
      <!-- Place somewhere in the <body> of your page -->
      <div id="flexslider" class="flexslider text-center" >
        <ul class="slides">
          <% for cases in pageValues.Profile.CaseStudies %>
            <li>
              <div class="box-slider well">
                <h4 class="text-center"> Case Study <$ loop.index $>:</h4>
                <p><$ cases.caseStudyTitle $></p>
                <!--<p><$ cases.Industry.industryName $></p>-->
                <div class="icon text-center">
                  <a class="btn-case" href="javascript:;" onClick="DetailCase(<$ cases.id $>)"><i class="fa fa-chevron-circle-right fa-4x"></i></a>
                </div>
              </div>
            </li>
          <% endfor %>
          <!-- items mirrored twice, total of 12 -->
        </ul>
      </div>

      <% for casesDesc in pageValues.Profile.CaseStudies %>
        <div id="case-<$ casesDesc.id $>" class="box-case hide">
          <h4><$ casesDesc.caseStudyTitle $>: <$ casesDesc.Industry.industryName $></h4>
          <p class="problem"><b>Problem:</b> <$ casesDesc.caseStudyProblem $></p>
          <p class="solution"><b>Solution:</b> <$ casesDesc.caseStudySolution $></p>
          <p class="result"><b>Results:</b>  <$ casesDesc.caseStudyResult $></p>
          <div class="icon-close text-left">
            <a class="btn-case" href="javascript:;" onClick="CloseCase(<$ casesDesc.id $>);"><i class="fa fa-chevron-circle-left fa-4x"></i></a>
          </div>
        </div>
      <% endfor %>

    </section>
  </div>
  <% if pageValues.Profile.PastClients.length != 0 %>  
    <section id="clients" class="container">
      <h3 class="text-center">CLIENTS</h3>
      <div class="cont-imgs text-center">
        <% for client in pageValues.Profile.PastClients %>
          <div>
            <img src="http://res.cloudinary.com/avisare/image/upload/c_fill,g_face,h_145,w_145/<$ client.File.cloudinaryUrl $>" width="120" height="120" alt="">
          </div>
        <% endfor %>
      </div>
    </section>
  <% endif %>

  <div class="background-case">
    <section id="experience" class="container text-center">
      <h3 class="text-center">Key Work Experience</h3>
      <% for item in pageValues.Profile.Experiences %>
        <% if item.experienceShow %>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4 class="text-center"><b><$ item.experienceCompany $></b></h4>
            <h5 class="text-center"><b><$ item.experienceTitle $></b></h5>
            <% if item.experienceEnd %>
              <h6 class="text-center"><$ item.experienceStart | date("YYYY") $> - <$ item.experienceEnd | date("YYYY") $> (<$ item.experienceEnd | date("from", item.experienceStart, "true") $>)</h6>
            <% else %>
              <h6 class="text-center"><$ item.experienceStart | date("YYYY") $> - Present (<$ item.experienceStart | date("fromNow", "true") $>)</h6>
            <% endif %>
            <p class="content-boby"><$ item.experienceDescription $></p>
          </div>
        <% endif %>
      <% endfor %>
      <% if pageValues.Profile.resume != ' ' and pageValues.Profile.resume != NULL %>
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0 text-center btn-down">
          <a class="btn btn-primary"  href="<$ pageValues.Profile.resume $>" download="<$ pageValues.Profile.User.firstName $>">DOWNLOAD RESUME</a>
        </div>
      <% endif %>
    </section>
  </div>
  <section id="educations" class="container">
    <% if pageValues.Profile.Certifications.length != 0 %>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-0 col-lg-offset-2 box-cert" >
        <h3><b>Certifications</b></h3>
        <% for cert in pageValues.Profile.Certifications %>
        <div class="item-cert" style="padding-right: 2em">
          <h4><b><$ cert.certificationName $></b></h4>
          <p>Year: <$ cert.certificationDate | date("YYYY") $></p>
          <p><b>Issued by: <$ cert.issuer $></b></p>
          <!--<div class="divider"></div>-->
        </div>
        <% endfor %>
      </div>

      <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-5 col-lg-5 col-lg-offset-0 box-educ">
    <% else %>
      <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-5 col-lg-4 col-lg-offset-4 box-educ pull-left text-center">
    <% endif %>
      <div style="padding-left: 1em;padding-right: 1em">
        <h3><b>Education</b></h3>
        <% for edu in pageValues.Profile.Education %>
        <div class="item-cert">
          <h4><b><$ edu.degreeDesignation $>, <$ edu.degreeName $></b></h4>
          <p><$ edu.university $></p>
          <!--<div class="divider"></div>-->
        </div>
        <% endfor %>
      </div>
    </div>
  </section>
  <br><br><br>
  <% if pageValues.Profile.Presses.length != 0 %>
  <div class="background-press">
    <section id="press" class="container text-center">
      <h3 class="text-center">PRESS</h3>
      <% for press in pageValues.Profile.Presses %>
      <div class="item-press well">
        <img class="img-responsive" src="http://res.cloudinary.com/avisare/image/upload/c_fill,g_face,h_272,w_272/<$ press.File.cloudinaryUrl $>">
        <div class="divider"></div>
        <p><a href="<$ press.pressFileUrl $>" target="_blank"><$ press.pressName $></a></p>
      </div>
      <% endfor %>
    </section>
  </div>
  <% endif %>

  <section id="contact" class="container">
    <h3 class="text-center">CONTACT</h3>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2 text-right map">
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.1296000046095!2d-66.86823228578734!3d10.490448367276993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58fcea3122a1%3A0x2b7b3098c8d45af6!2sTorre+Easo%2C+Av+Jos%C3%A9+Lazo+Marti%2C+Caracas!5e0!3m2!1ses!2sve!4v1447872182082" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->

      <% if pageValues.Profile.User.Addresses[0].City.cityName %>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<$ pageValues.Profile.User.Addresses[0].City.cityName $>, <$ pageValues.Profile.User.Addresses[0].City.State.stateName  $>&zoom=15&size=400x400&maptype=roadmap" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></img> 
      <% endif %>
      
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h4><$ pageValues.Profile.User.firstName $> <$ pageValues.Profile.User.lastName $></h4>
      <% if pageValues.Profile.User.Addresses[0].City.cityName %>
        <h5><$ pageValues.Profile.User.Addresses[0].City.cityName $>, <$ pageValues.Profile.User.Addresses[0].City.State.stateName  $></h5>
      <% endif %>
      <!--<h5>san marcos, California</h5>-->
      <ul class="items-contact">
        <% if pageValues.Profile.linkedin != ' ' and pageValues.Profile.linkedin %>
          <li>
            <img src="/public/site/images/in-icon.jpg" alt="">
            <a href="<$ pageValues.Profile.linkedin $>"><$ pageValues.Profile.linkedin $></a>
          </li>
        <% endif %>
        
        <% if pageValues.Profile.skype != ' ' and pageValues.Profile.skype %>
          <li>
            <img src="/public/site/images/skype-icon.jpg" alt="">
            <b><$ pageValues.Profile.skype $></b>
          </li>
        <% endif %>
        
        <% if pageValues.Profile.twitter != ' ' and pageValues.Profile.twitter %>
          <li>
            <img src="/public/site/images/twt-icon.jpg" alt="">
            <b><$ pageValues.Profile.twitter $></b>
          </li>
        <% endif %>
        <li>
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contactModal">Contact</button>
        </li>
      </ul>
    </div>
  </section>
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row text-center">
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-md-offset-1 text-center">
              <br>
              <h4><strong>You must be registered on Avisare to contact this consultant. To register, <a href="http://avisare.com/client">click here</a></strong></h4>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <div id="toTop" style="display: none;">TOP</div>
  <footer>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
        <a href="#">
          <img src="/public/site/images/avisare.png" width="229" height="55">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul class="social pull-right">
          <li><a href="http://www.twitter.com/avisare1" target="_blank"><img src="/public/site/images/twitter-icon.jpg" alt=""></a></li>
          <li><a href="https://www.linkedin.com/company/avisare?trk=biz-companies-cym" target="_blank"><img src="/public/site/images/linkedin-icon.jpg" alt=""></a></li>
          <li><a href="https://www.facebook.com/Hello.Avisare" target="_blank"><img src="/public/site/images/facebook-icon.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>