<!-- About Services -->
<div class="box box-primary" ng-controller="SettingsController as settingCtrl">
    <!-- form start -->
    <form novalidate avisare-form name="aboutServiceForm" role="form">

        <div class="box-body">
            <div class="col-sm-6 col-xs-12">
                
                <div class="form-group">
                    <label for="url">URL</label>
                    <div class="input-group">
                          <div class="input-group-addon success">http://avisare.com/consultant/</div>
                          <input avisare-input avisare-url type="text" class="form-control" id="url" ng-model="settingCtrl.settings.profileLink" name="link" required ng-minlength="5">
                          <input id="copyurl" type="hidden" name="someData" value="settingCtrl.settings.profileLink" />
                          <div class="input-group-addon"><button ngclipboard data-clipboard-target="#url"><i class="fa fa-clipboard"></i></button></div>
                        </div>
                    
                </div>
                
                <div class="form-group">
                    <label for="aboutMe">About Me</label> <p style="float: right;" class="rest"></p>
                    <textarea rows="8" avisare-input type="text" class="form-control" id="aboutMe" ng-model="settingCtrl.settings.aboutMe" my-maxlength="500" required>
                    </textarea>
                </div>

            </div>

            <div class="col-md-6  col-xs-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Service Tags</label> <i class="fa fa-question-circle" uib-tooltip="{{settingCtrl.serviceTagTooltip}}"></i>
                    <ui-select multiple ng-model="settingCtrl.serviceSelected" tagging="settingCtrl.tagTransform"
                    theme="select2" style="width: 100%;" on-select="settingCtrl.setDescription($item, $model)"
                    on-remove="settingCtrl.removeService($item, $model)">
                        <ui-select-match>{{$item.serviceName}}</ui-select-match>
                        <ui-select-choices repeat="service in settingCtrl.serviceArray | filter:$select.search">
                            {{service.serviceName}}
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label for="serviceText">Services</label> <i class="fa fa-question-circle" uib-tooltip="{{settingCtrl.tooltip}}"></i> <p style="float: right;" class="rest"></p>
                    <textarea rows="8" avisare-input type="text" class="form-control" id="serviceText" ng-model="settingCtrl.settings.serviceDescription" required ng-minlength="10" my-maxlength="500">
                    </textarea>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary" ng-click="aboutServiceForm.$valid && tabsWebSiteCtrl.syncAbout()">Submit</button>
            </div>

        </div>
    </form>
</div>
<!-- /. About Services -->