<!-- Cases Studies -->
<div class="box box-primary">
    <div class="box-body">
        <div class="col-xs-6" ng-controller="PastClientController as clients">

            <h4>Client</h4>
            <button type="button" class="btn btn-primary" ng-click="clients.openModal()"><i class="fa fa-plus-circle"></i> &nbsp; Add New</button>

            <div class="col-xs-12 client-press">
                <div ng-repeat="client in clients.clients">
                    <img ng-src="{{clients.getSmallImage(client)}}">
                    <h4>{{client.pastClientName}}</h4>
                    <p>Added on {{client.createdAt | date}}</p>
                    <div class="pull-right">
                        <a ng-click="clients.openModal(client)">
                           <i style="cursor: pointer" class="fa fa-edit"></i>
                        </a>
                        <a ng-click="clients.removeClient(client)">
                            <i style="cursor: pointer" class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-xs-6" ng-controller="PressController as presses">

            <h4>Press</h4>
            <button type="button" class="btn btn-primary" ng-click="presses.openModal()"><i class="fa fa-plus-circle"></i> &nbsp; Add New</button>

            <div class="col-xs-12 client-press">
                <div ng-repeat="press in presses.presses">
                    <img ng-src="{{presses.getSmallImage(press)}}">
                    <h4>{{press.pressName}} - {{press.pressDate | date}}</h4>
                    <p>Added on {{press.createdAt | date}}</p>
                    <div class="pull-right">
                        <a ng-click="presses.openModal(press)">
                            <i style="cursor: pointer" class="fa fa-edit"></i>
                        </a>
                        <a ng-click="presses.removePress(press)">
                            <i style="cursor: pointer" class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
</div>
<!-- /. Cases Studies -->