<!-- Info boxes -->
<div class="row">
    <div class="col-xs-12">
        <h3>Edit Website</h3>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">View a Sample Professional Website!</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <p>To help you in creating a professional website, we have created a guide. Based on our data, and experience,
                    companies would hire a consultant who has a professional and informative website with a clear and specific
                    focus similar to this sample. </p>
                <a class="btn btn-primary" href="http://staging.avisare.com/consultant/martykaan" target="_blank">View sample</a>
            </div>
        </div>
        <div>
            <uib-tabset>
                <uib-tab ng-repeat="tab in tabsWebSiteCtrl.tabs" heading="{{tab.title}}" active="tab.active" select="tabsWebSiteCtrl.tabChange($index)">
                    <ng-include src="tab.content"></ng-include>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>
</div>
<!-- /.row -->