<div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-danger btn-sm" ng-click="clients.closeModal()">
          <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <form novalidate avisare-form name="clientForm" role="form" ng-submit="">
        <div class="box-body">
            <div class="col-xs-12">
                <div class="form-group">
                    <cloudinary-uploader ng-model="clients.client.File" required="required">Client Logo *</cloudinary-uploader>
                    <!--<div ng-show="!clients.client.File" class="error-messages"><div>Field required</div></div>-->
                </div>
                <div class="form-group">
                  <label for="pastClientName">Name *</label>
                  <input avisare-input type="text" class="form-control" id="pastClientName" ng-model="clients.client.pastClientName" required>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="clientForm.$valid && clients.savePastClient()">Submit</button>
            </div>
        </div>
    </form>
</div>