<div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-danger btn-sm" ng-click="presses.closeModal()">
          <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <form novalidate avisare-form name="pressForm" role="form">
        <div class="box-body">
            <div class="col-xs-12">
                <cloudinary-uploader ng-model="presses.press.File" required="required">Press Image *</cloudinary-uploader>
                <div class="form-group">
                    <label for="pressName">Name *</label>
                    <input avisare-input type="text" class="form-control" id="pressName" ng-model="presses.press.pressName" required>
                </div>
                <div class="form-group">
                    <label for="pressFileUrl">Url *</label>
                    <input avisare-input type="text" class="form-control" id="pressFileUrl" ng-model="presses.press.pressFileUrl" required>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <avisare-datepicker ng-model="presses.press.pressDate"></avisare-datepicker>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="pressForm.$valid && presses.savePress()">Submit</button>
            </div>
        </div>
    </form>
</div>