<!-- Preview Website -->
<div class="box box-primary">
	<iframe id="previewFrame" onload='$("#previewFrame").contents().find("a:first").click();' ng-src="{{userCtrl.profile.websiteUrl}}" style="width: 100%; height: 50vh;"></iframe>
</div>