<!DOCTYPE html>
<html ng-app="avisare">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Avisare</title>
    <base href="/app/"/>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Select Theme -->
    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css">-->
        <link rel="stylesheet" href="/public/lib/selectize/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="/public/lib/select2/select2-bootstrap.css">

    <!-- /.Select Theme -->

    <!-- Select2 theme -->
    <link rel="stylesheet" href="/public/lib/select2/select2.css">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
    <link rel="stylesheet" href="/public/lib/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/public/styles/build/adminlte.css">
    <link rel="stylesheet" href="/public/lib/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" href="/public/lib/angular-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="/public/lib/switchery/dist/switchery.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
           folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/public/lib/AdminLTE/dist/css/skins/_all-skins.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      textarea{
        resize: none;
      }
      /*.box-title{
        color: #2CBFEC;
      }*/
      h1, 
      h2, 
      h3, 
      h4,
      .nav-tabs li a{
        text-transform: lowercase;
      }
      h1::first-letter, 
      h2::first-letter, 
      h3::first-letter, 
      h4::first-letter,
      .nav-tabs li a::first-letter{
        text-transform: capitalize;
      }

      #whitePapersBox{
        display: none;
      }
      .selectize-control > .selectize-dropdown {
          top: 36px;
      }
      .ui-select-dropdown{
          width: 100%;
      }
      .ui-select-offscreen{
          display: none;
      }
      .select2-result-single {
          padding: 0px;
      }
      .full button span {
          background-color: limegreen;
          border-radius: 32px;
          color: black;
      }
      .partially button span {
          background-color: orange;
          border-radius: 32px;
          color: black;
      }
      .error-messages > div {
        color: red;
      }
      .experienceList span,
      .educationList span,
      .blueAvisare {
          color: #2CBFEC;
      }
      /*hidding double calendar picker on chrome*/
      input::-webkit-calendar-picker-indicator{
        display: none;
      }
      input[type="date"]::-webkit-input-placeholder{ 
        visibility: hidden !important;
      }
      input[type="date"]::-webkit-inner-spin-button,
      input[type="date"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      .form-search-rfp{
        padding-bottom: 5px;
      }
    </style>
</head>
<body  class="{{bodylayout}}">
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
<div class="skin-avisare fixed">
    <div ui-view></div>
</div>


  <!-- jQuery 2.1.4 -->
  <script src="/public/lib/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <!-- Bootstrap 3.3.5 -->
  <script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/public/lib/AdminLTE/plugins/fastclick/fastclick.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/public/lib/AdminLTE/dist/js/app.min.js"></script>
  <script src="/public/site/js/jquery.inputmask-multi.js"></script>
  <script src="/public/site/js/jquery.maskedinput.min.js"></script>
  <script src="/public/site/js/bindfirst.min.js"></script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
  <!-- ChartJS 1.0.1 -->
  <!--<script src="lib/Chart.js/Chart.min.js"></script>-->
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->

  <!-- Angular Dependencies -->
  <script src="/public/lib/moment/min/moment.min.js"></script>
  <script src="/public/lib/angular/angular.min.js"></script>
  <script src="/public/lib/angular-resource/angular-resource.min.js"></script>
  <script src="/public/lib/ui-select/dist/select.min.js"></script>
  <script src="/public/lib/lodash/dist/lodash.min.js"></script>
  <script src="/public/lib/angular-lodash/angular-lodash.js"></script>
  <script src="/public/lib/angular-messages/angular-messages.min.js"></script>
  <script src="/public/lib/angular-momentjs/angular-momentjs.min.js"></script>
  <script src="/public/lib/angular-animate/angular-animate.min.js"></script>
  <script src="/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/public/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/public/lib/AngularJS-Toaster/toaster.min.js"></script>
    <script src="/public/lib/angular-ui-grid/ui-grid.min.js"></script>
    <script src="/public/lib/clipboard/dist/clipboard.min.js"></script>
    <script src="/public/lib/ngclipboard/dist/ngclipboard.min.js"></script>
    <script src="/public/lib/switchery/dist/switchery.min.js"></script>
    <script src="/public/lib/ng-switchery/src/ng-switchery.js"></script>
  <script src="/public/main.js"></script>
</body>

</html>
