<div class="box box-success">
  <div class="box-header ui-sortable-handle" style="cursor: move;">
    <!-- tools box -->
    <div class="pull-right box-tools">
      <button type="button" class="btn btn-danger btn-sm" ng-click="userCtrl.closeModal()">
        <i class="fa fa-times"></i></button>
    </div>
    <!-- /. tools -->
  </div>
  <form novalidate avisare-form ng-submit="changePasswordForm.$valid && userCtrl.changePassword()" accept-charset="UTF-8"
        role="form" class="form-signin" name="changePasswordForm">
    <div class="box-body">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="oldPassword">Current Password:</label>
          <input avisare-input type="password" ng-minlength="5" class="form-control" ng-model="userCtrl.changePass.oldPassword"
                 id="oldPassword" ng-class="{'has-error': changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$touched}" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input avisare-input type="password" ng-minlength="5" class="form-control" ng-model="userCtrl.changePass.newPassword"
                 id="newPassword" ng-class="{'has-error': changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$touched}"  required>
        </div>
        <div class="form-group">
          <label for="repeatedPasswordCP">Repeat Password</label>
          <input avisare-input type="password" class="form-control" ng-model="userCtrl.changePass.repeatPassword" id="repeatedPasswordCP" required
                 ng-class="{'has-error': changePasswordForm.repeatedPasswordCP.$invalid && changePasswordForm.repeatedPasswordCP.$touched ||
                                (userCtrl.changePass.newPassword !== userCtrl.changePass.repeatPassword)}">

          <div ng-show="userCtrl.changePass.newPassword !== userCtrl.changePass.repeatPassword" class="has-error" style="color:red">
            Passwords must match
          </div>
        </div>

        <input type="submit" class="btn btn-primary" value="submit"/>
      </div>
    </div>
  </form>
</div>