<!-- Info boxes -->
<div class="row"><br></div>
<div class="row">
  <div class="col-xs-12">
    <!-- Welcome message -->
    <div class="box" ng-show="!dash.showWelcomeMessage">
      <div class="box-header with-border">
        <h3 class="box-title">{{userCtrl.user.firstName}}, welcome to your Office!</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                  class="fa fa-times" ng-click="dash.closeMessage()"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        This is your control center. Here you can edit your basic information and create your website by filling out all the information in your manage profile and manage website sections. Share your website URL with friends, colleagues and clients. Go forth and prosper.
      </div><!-- /.box-body -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-6 col-xs-12">

    <!-- Profile Completion -->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Profile completion</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="progress">
          <uib-progressbar animate="false" value="dash.totalProfile" type="success"><b>{{dash.totalProfile}}%</b></uib-progressbar>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <div class="row">

      <!-- Manage Profile -->
      <div class="col-md-6 col-sm-12">
        <div class="box bg-aqua">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-user"></i>
            </div>
            <div class="title-box text-center">
              <h4>Manage Profile</h4>
            </div>
            <div class="content-box">
              <p class="text-center">Provide basic information about yourself, your skills and your experience.</p>
              <div class="col-lg-8 col-lg-offset-2 content-btn">
                <button type="button" ui-sref="consultant.profile"  class="btn btn-block btn-default">Manage my profile</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col Manage Profile-->

      <!-- Manage Website -->
      <div class="col-md-6 col-sm-12">
        <div class="box bg-blue">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-file-o"></i>
            </div>
            <div class="title-box text-center">
              <h4>Manage Website</h4>
            </div>
            <div class="content-box">
              <p class="text-center">Provide updated and additional information to make your website look amazing.</p>
              <div class="col-lg-6 content-btn">
                <button type="button" ui-sref="consultant.website" class="btn btn-block btn-default ">Edit website</button>
              </div>
              <div class="col-lg-6 content-btn" ng-controller="SettingsController as sc">
                <a type="button" href="/consultant/{{sc.settings.profileLink}}" class="btn btn-block btn-default" target="_blank">View website</a>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col Manage Website-->

      <!-- Submit White Papers -->
      <div class="col-md-6 col-sm-12"  id="whitePapersBox">
        <div class="box bg-fuchsia">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-list-ul"></i>
            </div>
            <div class="title-box text-center">
              <h4>Submit White Papers</h4>
            </div>
            <div class="content-box">
              <p class="text-center">Submit written White Papers on to your profile and showcase it!</p>
              <div class="col-lg-8 col-lg-offset-2 content-btn">
                <button type="button" class="btn btn-block btn-default">Submit White Papers</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col Submit White Papers-->

      <!-- Invite Consultants -->
      <div class="col-md-6 col-sm-12">
        <div class="box bg-yellow">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-user-plus"></i>
            </div>
            <div class="title-box text-center">
              <h4>Invite Consultants</h4>
            </div>
            <div class="content-box">
              <p class="text-center">We are an invite-only network so help others join in on the fun. Invite other
                consultants who could benefit from the platform or who you would like to partner with.</p>
              <div class="col-lg-8 col-lg-offset-2 content-btn">
                <button type="button" ui-sref="consultant.invite" class="btn btn-block btn-default">Start inviting</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col Invite Consultants-->

    </div>
  </div>
  <!-- /.col -->


  <!-- /.col -->


</div>
<!-- /.row -->
