<div class="container login-boxy">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="/public/img/logo.png" class="img-responsive" alt="Conxole Admin"/>
                    </div>
                </div>
                <div class="panel-body">
                    <form novalidate avisare-form ng-submit="loginForm.$valid && login.doLogin()" accept-charset="UTF-8"
                          role="form" class="form-signin" name="loginForm">
                        <fieldset>
                            <label class="panel-login">
                                <div class="login_result"></div>
                            </label>
                            <div class="form-group">
                                <input avisare-input class="form-control" placeholder="Username" ng-model="login.loginData.username"
                                       type="email" id="username" name="username" required>
                            </div>

                            <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched}">
                                <input avisare-input class="form-control" placeholder="Password" ng-model="login.loginData.password"
                                       type="password" id="password" name="password" ng-minlength="5" required>
                            </div>
                            <br></br>
                            <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Login »">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
