<div ng-message="required">Field required</div>
<div ng-message="minlength">Too short</div>
<div ng-message="maxlength">Too long</div>
<div ng-message="email">The field must be an email</div>
<div ng-message="compareTo">Must match the previous entry</div>