<!-- Info boxes -->
<div class="row"><br></div>
<div class="row form-search-rfp">
  <div class="col-xs-12">
    <!-- Quick search -->
    <h4 class="box-title">Search Request for Proposal</h4>
    <form action="#" method="get" class="form-inline" style="height: 35px;">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Search by title or ID #...">
      </div>
      <div class="form-group">
        <input type="text" name="location" class="form-control" placeholder="Search by Industries...">
      </div>
      <div class="form-group">
        <input type="text" name="keyword" class="form-control" placeholder="Search by services...">
      </div>
      <!-- <div class="form-group">
        <input type="text" name="firm" class="form-control" placeholder="Search by firm">
      </div> --> 
      <div class="form-group">
      <ui-select ng-model="profile.profile.travel" theme="selectize" search-enabled="true">
              <ui-select-match placeholder="All tiers">
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices repeat="amount in profile.travelAvaliabilities | filter: $select.search">
                <span ng-bind-html="amount | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
      </div>
      <div class="form-group">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary"> <i class="fa fa-search"></i>&nbsp;Search
          </button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="box">
    <div class="box-header">
      
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <div ui-grid="rfpCtrl.rfpGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-expandable ui-grid-auto-resize ></div>
    </div>
    <!-- /.box-body -->
  </div>

</div>
<!-- /.row -->
