<!-- Info boxes -->
<div class="row" ng-controller="RFPController as rfpCtrl">
  <div class="box">
    <div class="box-header">
      
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <div ui-grid="rfpCtrl.rfpMineGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-expandable ui-grid-auto-resize ></div>
    </div>
    <!-- /.box-body -->
  </div>

</div>
<!-- /.row -->
