<!-- Info boxes -->
<div class="row ng-scope"><br></div>
<div class="row">
    <div class="col-xs-12">
        <div>
            <uib-tabset>
                <uib-tab ng-repeat="tab in tabsCtrl.tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                    <ng-include src="tab.content"></ng-include>
                </uib-tab>
            </uib-tabset> 
        </div>
    </div>
</div>
<!-- /.row -->
