<div class="row">
  <div class="col-xs-12">
    <div class="box box-solid">
      <div class="box-header bg-aqua"><h3 class="box-title">About Us</h3></div>
      <div class="box-body">
        <div class="col-md-2 text-center">
          <i class="fa fa-user fa-5x text-aqua"></i>
        </div>
        <div class="col-md-10"></div>
      </div><!-- /.box-body -->
    </div>
    <div class="box box-solid">
      <div class="box-header bg-light-blue"><h3 class="box-title">Executive Summary</h3></div>
      <div class="box-body">
        <div class="col-md-2 text-center">
          <i class="fa fa-file-text-o fa-5x text-light-blue"></i>
        </div>
        <div class="col-md-10">
          {{rfp.rfpObject.summary}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xs-6">
        <div class="info-box bg-light-blue">
          <span class="info-box-icon bg-light-blue"><i class="fa fa-dollar"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Proposal Total Value</span>
            <span class="info-box-number">{{rfp.rfpObject.maxPrice}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-6">
        <div class="info-box bg-purple">
          <span class="info-box-icon bg-purple"><i class="fa fa-hourglass-2"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Duration Of Proposal</span>
            <span class="info-box-number">{{rfp.rfpObject.duration+' Months'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-solid">
      <div class="box-header bg-purple"><h3 class="box-title">Scope Of Work</h3></div>
      <div class="box-body">
        <div class="col-md-2 text-center">
          <i class="fa fa-briefcase fa-5x text-purple"></i>
        </div>
        <div class="col-md-10">
          {{rfp.rfpObject.scopeDescription}}
        </div>
      </div><!-- /.box-body -->
    </div>
    <div class="box box-solid">
      <div class="box-header bg-yellow"><h3 class="box-title">Deliverables</h3></div>
      <div class="box-body">
        <div class="col-md-2 text-center">
          <i class="fa fa-paper-plane fa-5x text-yellow"></i>
        </div>
        <div class="col-md-10">
          {{rfp.rfpObject.deliverables}}
        </div>
      </div><!-- /.box-body -->
    </div>
    <div class="box box-solid">
      <div class="box-header bg-green"><h3 class="box-title">Others</h3></div>
      <div class="box-body">
        <div class="col-md-2 text-center">
          <i class="fa fa-ellipsis-h fa-5x text-green"></i>
        </div>
        <div class="col-md-10">
          {{rfp.rfpObject.other}}
        </div>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>
<!-- /. Basic Info -->
