<div class="modal-header">
  <h4 class="modal-title text-center">Preview RFP</h4>
</div>
<div class="modal-body" ng-include="'/public/templates/_preview_rfp.html'"></div>
<div class="modal-footer">
  <button class="btn btn-primary" >Close</button>
</div>
