<div class="modal-header">
  <h4 class="modal-title text-center">Search Consultant</h4>
</div>
<div class="modal-body" ng-include="'/public/templates/_client_search.html'"></div>
<div class="modal-footer">
  <button class="btn btn-primary" >Close</button>
</div>
