<!-- Info boxes -->
<div class="row">
    <div class="col-xs-12">
        <h3>Request For Proposal</h3>
        <div>
            <div ng-include="'/public/templates/_rfp.html'" ng-controller="RFPController as rfp"></div>
        </div>
    </div>
</div>
<!-- /.row -->
