<!-- Basic Info -->
<form novalidate avisare-form name="rfpForm" role="form">
  <div class="box box-primary">
    <div class="box-body">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <span>Public RFP</span>
            <input ng-model="rfp.rfpObject.private" type="checkbox" class="js-switch" ui-switch="{color: '#3c8dbc', secondaryColor: '#3c8dbc', jackColor: '#FFF', jackSecondaryColor: '#FFF', size: 'small'}" />
            <span>Private RFP</span>
            <i class="fa fa-question-circle fa-lg"></i>
          </div>
        </div>
        <div class="row" ng-show="{{'rfp.rfpObject.private'}}">
          <div class="form-group col-md-8">
            <label>Add Consultants Or Firms</label>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" ng-click="rfp.addConsultant()">Add</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 ">
              <span ng-repeat="consultant in rfp.selectedConsultants">
                <span class="btn btn-primary btn-xs">{{consultant.User.firstName}} {{consultant.User.lastName}}
                  <a ng-click="rfp.removeConsultant($index)">X</a>
                </span>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <label>Location</label>
            <select class="form-control" ng-model="rfp.rfpObject.location">
              <option value="Local or Remote Only">Local or Remote Only</option>
              <option value="25%">25%</option>
              <option value="50%">50%</option>
              <option value="75%">75%</option>
              <option value="Relocate">Relocate</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label>Add Aditional Fields</label>
        <div class="row">
          <div class="col-md-6">
            <div ng-class="rfp.additionalFields.deliverables ? 'box box-solid box-primary' : 'box box-default'">
              <div class="box-header">
                <a href="#">
                  <i ng-click="rfp.toggleAditionalFields('deliverables')" ng-class="rfp.additionalFields.deliverables ? 'fa fa-close pull-right' : 'fa fa-plus pull-right'"></i>
                </a>
                <h3 class="box-title">Deliverables</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div ng-class="rfp.additionalFields.requirements ? 'box box-solid box-primary' : 'box box-default'">
              <div class="box-header">
                <a href="#">
                  <i ng-click="rfp.toggleAditionalFields('requirements')" ng-class="rfp.additionalFields.requirements ? 'fa fa-close pull-right' : 'fa fa-plus pull-right'"></i>
                </a>
                <h3 class="box-title">Requirements</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div ng-class="rfp.additionalFields.tools ? 'box box-solid box-primary' : 'box box-default'">
              <div class="box-header">
                <a href="#">
                  <i ng-click="rfp.toggleAditionalFields('tools')"  ng-class="rfp.additionalFields.tools ? 'fa fa-close pull-right' : 'fa fa-plus pull-right'"></i>
                </a>
                <h3 class="box-title">Tools</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div ng-class="rfp.additionalFields.contactPerson ? 'box box-solid box-primary' : 'box box-default'">
              <div class="box-header">
                <a href="#">
                  <i ng-click="rfp.toggleAditionalFields('contactPerson')" ng-class="rfp.additionalFields.contactPerson ? 'fa fa-close pull-right' : 'fa fa-plus pull-right'"></i>
                </a>
                <h3 class="box-title">Points of contact</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div ng-class="rfp.additionalFields.paymentTerms ? 'box box-solid box-primary' : 'box box-default'">
              <div class="box-header">
                <a href="#">
                  <i ng-click="rfp.toggleAditionalFields('paymentTerms')" ng-class="rfp.additionalFields.paymentTerms ? 'fa fa-close pull-right' : 'fa fa-plus pull-right'"></i>
                </a>
                <h3 class="box-title">Payment terms</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div ng-class="rfp.additionalFields.other ? 'box box-solid box-primary' : 'box box-default'">
              <div class="box-header">
                <a href="#">
                  <i ng-click="rfp.toggleAditionalFields('other')" ng-class="rfp.additionalFields.other ? 'fa fa-close pull-right' : 'fa fa-plus pull-right'"></i>
                </a>
                <h3 class="box-title">Other</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.box-body -->
  </div>
  <div class="box box-primary">
    <div class="box-body">
      <div class="col-md-5">
        <div class="row">
          <div class="form-group">
            <label>RFP Title *</label>
            <input avisare-input id="rfpTitle" ng-model="rfp.rfpObject.title" type="text" class="form-control" placeholder="Write you RFP title..." required>
          </div>
        </div>
        <div class="row">
          <div class="form-group" ng-controller="IndustryController as IndustryCtrl">
            <label>Industries *</label>
            <ui-select avisare-input multiple ng-model="rfp.rfpObject.industries" theme="select2" style="width: 100%;" required>
              <ui-select-match>{{$item.industryName}}</ui-select-match>
              <ui-select-choices repeat="industry in IndustryCtrl.industries  | filter:$select.search">
                {{industry.industryName}}
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Function/Services *</label>
            <!--<input avisare-input id="rfpServices" ng-model="rfp.rfpObject.Services" type="text" class="form-control" placeholder="Enter your function or services..." required>-->
            <ui-select multiple ng-model="rfp.rfpObject.services" tagging="rfp.tagTransform"
                       theme="select2" style="width: 100%;" on-select="rfp.setDescription($item, $model)"
                       on-remove="rfp.removeService($item, $model)">
              <ui-select-match>{{$item.serviceName}}</ui-select-match>
              <ui-select-choices repeat="service in rfp.serviceArray | filter:$select.search">
                {{service.serviceName}}
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Executive Summary *</label>
            <textarea avisare-input id="rfpSummary" ng-model="rfp.rfpObject.summary" class="form-control" rows="3" placeholder="Write your executive summary and provides the reader the overall, high-level objectives..." required></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Min Value</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <input avisare-input id="rfpMinPrice" ng-model="rfp.rfpObject.minPrice" type="number" class="form-control" placeholder="Insert min value for your RFP..." min="0">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Max Value</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <input avisare-input id="rfpMaxPrice" ng-model="rfp.rfpObject.maxPrice" type="number" class="form-control" placeholder="Insert max value for your RFP..." min="0">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="pull-right"><input type="checkbox" ng-model="rfp.rfpDuration" ng-change="rfp.rfpObject.duration=''">&nbsp;<label>Uncertain duration</label></div>
          <div class="form-group">
            <label>Duration</label>&nbsp;<i class="fa fa-question-circle fa-lg"></i>
            <div class="input-group" style="width: 100%">
              <div class="input-group-btn">
                <button type="button" class="btn btn-primary">Month</button>
              </div>
              <input avisare-input id="rfpDuration" ng-disabled="{{'rfp.rfpDuration'}}" ng-model="rfp.rfpObject.duration" type="number" class="form-control" min="0">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Scope Of Work *</label>
            <textarea avisare-input id="rfpScope" ng-model="rfp.rfpObject.scopeDescription" class="form-control" rows="3" placeholder="Write your scope and description of the work to be performed. Include work products and the high level requirements and objectives..." required></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-6">
        <div class="row" ng-show="{{'rfp.additionalFields.deliverables'}}">
          <label>Deliverables</label>
          <textarea class="form-control" rows="3" ng-model="rfp.rfpObject.deliverables"></textarea>
        </div>
        <div class="row" ng-show="{{'rfp.additionalFields.tools'}}">
          <label>Tools</label>
          <textarea class="form-control" rows="3" ng-model="rfp.rfpObject.tools"></textarea>
        </div>
        <div class="row" ng-show="{{'rfp.additionalFields.paymentTerms'}}">
          <label>Payment Terms</label>
          <textarea class="form-control" rows="3" ng-model="rfp.rfpObject.paymentTerms"></textarea>
        </div>
        <div class="row" ng-show="{{'rfp.additionalFields.requirements'}}">
          <label>Requirements</label>
          <textarea class="form-control" rows="3" ng-model="rfp.rfpObject.requirements"></textarea>
        </div>
        <div class="row" ng-show="{{'rfp.additionalFields.contactPerson'}}">
          <label>Points Of Contact</label>
          <textarea class="form-control" rows="3" ng-model="rfp.rfpObject.contactPerson"></textarea>
        </div>
        <div class="row" ng-show="{{'rfp.additionalFields.other'}}">
          <label>Other</label>
          <textarea class="form-control" rows="3" ng-model="rfp.rfpObject.other"></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="text-center">
            <button type="button" ng-click="rfp.previewRFP();" class="btn btn-primary">Preview</button>
            <button type="submit" ng-click="rfp.saveRFP();" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- /. Basic Info -->
