<!-- Basic Info -->
<div class="box box-primary" ng-controller="InviteController as invite">
  <!-- form start -->
  <div class="box-header">
    <button type="button" class="btn btn-primary" ng-click="invite.showForm('lg')">New Invite</button>
    <div class="col-sm-3 col-xs-6 input-group pull-right">
        <input type="text" class="form-control" ng-model="invite.paginationObj.query" ng-keypress="($event.which === 13)?invite.getInvites():0">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="invite.getInvites()">Search</button>
        </span>
    </div>
  </div>
  <div class="box-body">
      <div ui-grid="invite.gridOptions" ui-grid-pagination></div>
  </div>
  <!-- /.box-body -->

</div>
<!-- /. Basic Info -->
