<div class="modal-header">
  <h4 class="modal-title text-center">Invite New User</h4>
</div>
<div class="modal-body">
  <form name="invite.inviteForm" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error': invite.inviteForm.firstName.$touched && invite.inviteForm.firstName.$invalid}">
            <label>First Name</label>
            <input type="text" name="firstName" class="form-control" ng-model="invite.tempInvitation.firstName" placeholder="Enter ..." required>
            <div class="error-messages" ng-messages="invite.inviteForm.firstName.$error" ng-show="invite.inviteForm.firstName.$touched">
              <div ng-messages-include="{{invite.routeMessages}}"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error': invite.inviteForm.lastName.$touched && invite.inviteForm.lastName.$invalid}">
            <label>Last Name</label>
            <input type="text" name="lastName" class="form-control" ng-model="invite.tempInvitation.lastName" placeholder="Enter ..." required>
            <div class="error-messages" ng-messages="invite.inviteForm.lastName.$error" ng-show="invite.inviteForm.lastName.$touched">
              <div ng-messages-include="{{invite.routeMessages}}"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error': invite.inviteForm.email.$touched && invite.inviteForm.email.$invalid}">
            <label>Email Address</label>
            <input type="email" name="email" class="form-control" ng-model="invite.tempInvitation.email" placeholder="Enter ..." required>
            <div class="error-messages" ng-messages="invite.inviteForm.email.$error" ng-show="invite.inviteForm.email.$touched">
              <div ng-messages-include="{{invite.routeMessages}}"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="col-md-12" ng-show="invite.isAdmin">
        <div class="col-md-6">
          <div class="form-group">
            <label>Referral Name</label>
            <input type="text" name="referalBy" class="form-control" ng-model="invite.tempInvitation.referalBy" placeholder="Enter ...">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Referral Email</label>
            <input type="text" name="referalEmail" class="form-control" ng-model="invite.tempInvitation.referalEmail" placeholder="Enter ...">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7">
          <div class="form-group">
            <label>Custom Message</label><span class="pull-right"><input type="checkbox" ng-model="invite.tempInvitation.saveMessage"> Save custom message</span>
            <textarea class="form-control" rows="3" ng-model="invite.tempInvitation.message"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button ng-show="!invite.editMode" ng-disabled="invite.inviteForm.$invalid" type="button" ng-click="invite.pushInvitation()" class="btn btn-primary center-block">ADD</button>
      <button ng-show="invite.editMode" ng-disabled="invite.inviteForm.$invalid" type="button" ng-click="invite.saveInvite()" class="btn btn-primary center-block">Save</button>
    </div>
  </form>
  <div class="col-md-12 ">
    <p><strong>Added Invitations:</strong></p>
    <span ng-repeat="invited in invite.invitedEmails"><span class="btn btn-primary btn-xs" ng-click="invite.editInvite($index)">{{invited.email}}  <a ng-click="invite.removeInvite($index)">X</a></span></span>
  </div>


</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="invite.invitedEmails.length >0 ? false : true" ng-click="invite.sendInvites()">Send Invitation</button>
</div>
