<div class="modal-content">
  <div class="modal-body">
    <h4 class="modal-title text-center">{{Modal.data.header}}</h4>
    <p>{{Modal.data.body}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="Modal.close()" href="join">{{Modal.data.acceptText}}</button>
  </div>
</div>