<div class="form-group">
  <label><ng-transclude></ng-transclude></label>
  <div>
    <img style="max-width: 150px" ng-show="vm.img.url" ng-src="{{vm.img.url}}" alt="avatar">
    <button ng-click="vm.open()" type="button" class="btn btn-primary">Upload Image</button>
  </div>
</div>