<p class="input-group">
  <input type="date" class="form-control" min-date="vm.minDate" uib-datepicker-popup="{{vm.dateFormat}}" is-open="vm.open" show-button-bar="false" ng-model="vm.date"/>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="vm.open = true">
      <i class="fa fa-calendar"></i>
    </button>
  </span>
</p>