<div class="file" ng-class="{'file-focused':fileCtrl.focused}">
  <span class="file-text file-placeholder" ng-hide="fileCtrl.file.s3Url || fileCtrl.file">{{fileCtrl.placeholder}}</span> <span ng-show="fileCtrl.file.s3Url || fileCtrl.file" class="file-text"> {{(fileCtrl.file.s3Url || fileCtrl.file) | avisareurl}}</span>
  <input class="file-input" ng-blur="fileCtrl.focused = false" ng-focus="fileCtrl.focused = true" avisare-input required="{{!!fileCtrl.required}}" ng-model="fileCtrl.file" type="file">
</div>