{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">Hello {{firstName}} {{lastName}},</p>
            <br/>
            <p>We sincerely appreciate your interest in joining Avisare. It means a lot that you are interested in growing with us as a new platform.  But being new means we have to make some tough choices and unfortunately we cannot approve your application at this time.  This doesn’t make you less of a rock star. It just means we’re not meant to help you on your journey right now.  Feel free to check back in with us as we grow when we might have more opportunities for you.</p>
            </br>

            <p>All the best,</p>
            <p>The Avisare Team</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}