{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}} {{lastName}},</p>
            <br/>
            <p>Your application has been saved</p>
            <p>You can continue your application process.</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="offset-by-three wrapper last">

      <table class="six columns">
        <tr>
          <td>

            <table class="button">
              <tr>
                <td>
                  <a href="{{basePath}}/application/?access_token={{accessToken}}">Complete your application</a>
                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>Have an amazing day,</p>
                  <p>The Avisare Team</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}