{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}} {{lastName}},</p>
            <br/>
            <p>Thank you for giving us the opportunity to be a part of your career journey.  You have successfully submitted your application to join our community of independent consultants at Avisare. We really appreciate the time you took to fill out the application process and will review it with the care and attention it deserves.</p>
            <p>We will be back in touch shortly after reviewing your application.</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>Have an amazing day,</p>
                  <p>The Avisare Team</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}