{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}} {{lastName}},</p>
            <br/>
            <p>Welcome to Avisare!</p>
            <p>Your talent and experience speaks volumes. It is our privilege to welcome you to this community. Now that you are one of us, it’s time to connect you with companies seeking consultants who are at the top of their field.</p>
            </br>

            <p>Your portal is now active.  Here you can update your profile, create your website, bid on RFPs and manage your portfolio of case studies and white papers. We will notify you as we continue to roll out new functionality during the beta period. If you are interested in having a professional writer create your profile and case studies for a fee, email us at profile@avisare.com.  </p>
            </br>

            <p>Your time and experience is precious so don’t waste either.  Get connected now and be valued for your expertise.  </p>

            <p>Now for logistics. Please reset your password now:</p>

            </br>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="offset-by-three wrapper last">

            <table class="six columns">
              <tr>
                <td>

                  <table class="button">
                    <tr>
                      <td>
                        <a href="{{basePath}}/reset?access_token={{accessToken}}">Start using Avisare!</a>
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                  </br>
                  <p>If you have questions, you can contact us at support@avisare.com</p>
                </td>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}