{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject: You've got a new gig!
mail from info@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}},</p>
            <br/>

            <p>Congratulations! You have been hired for the {{RFP_NAME}} project with {{COMPANY_NAME}}. Login to your portal to review the offer details. You must accept, counter or decline the offer.</p>

            <p>You will receive payment for this project through Avisare so please make sure the payment details, your email address and phone number are correct in the system.  You can also post group messages, see additional information and upload files for this project through the Project Management Office tab on your portal.</p>

            <p>We hope you enjoy your gig and feel free to reach out to us at info@avisare.com if you have any questions. </p>

            </br>
            <p>Warm regards,</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                  </br>
                  <p>If you have questions, you can contact us at support@avisare.com</p>
                </td>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}