{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject: You have a new proposal
mail from client@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}},</p>
            <br/>

            <p>Thank you for registering with Avisare. To protect the integrity of the platform, only government-registered corporate entities and non-profits will be accepted to search for and hire consultants. We are reviewing your request and may reach out for additional information before you can be approved. </p>

            <p>We will be in touch as soon as possible.   </p>

            </br>
            <p>Warm regards,</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                  </br>
                  <p>If you have questions, you can contact us at support@avisare.com</p>
                </td>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}