{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject: New Client Registration
mail from: client@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">Avisare,</p>
            <br/>

            <p>{{firstName}} of {{companyName}} is requesting access to the platform. Please review the company website at {{companyWebsite}}.</p>

            </br>
            <p>All the best,</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                </td>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}