{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject: Your Avisare Portal Access
mail from client@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}},</p>
            <br/>
            <p>Welcome to your Avisare portal! Avisare is an invitation-only platform that connects high-level talent with companies seeking experienced consultants.  You are now registered and can begin searching for consultants, posting RFPs, downloading white papers and managing projects. </p>

            <p>We are still building out our pool of consulting talent while we are in beta. When you post a project, we will continue our recruiting efforts to ensure you have qualified candidates to review. </p>

            <p>If you have any questions at any time, you can always contact us at client@avisare.com. </p>

            <p>Now for logistics. Please reset your password now:</p>


          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="offset-by-three wrapper last">

            <table class="six columns">
              <tr>
                <td>

                  <table class="button">
                    <tr>
                      <td>
                        <a href="{{basePath}}/reset?access_token={{accessToken}}">Start using Avisare!</a>
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>All the best. </p>
                  <br>
                  <p>The Avisare Team</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}