{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br>
            <p class="lead"> AQUI VAN LOS TEXTOS!!!</p>
            <br>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="offset-by-three wrapper last">

            <table class="six columns">
              <tr>
                <td>

                  <table class="button">
                    <tr>
                      <td>
                        <!--<a href="{{basePath}}/reset?access_token={{accessToken}}">Start using Avisare!</a>-->
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                  <br>
                  <p>If you have questions, you can contact us at support@avisare.com</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<br>

{% endraw %}
{% endblock %}