{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">Avisare,</p>
            <br/>
            <p>We have a new contact request:</p>
            <br/>
            <p><strong>Name: </strong>{{name}}</p>
            <p><strong>Email: </strong>{{email}}</p>
            <p><strong>Company Name: </strong>{{companyName}}</p>
            <p><strong>State: </strong>{{state}}</p>
            <p><strong>City: </strong>{{city}}</p>
            <p><strong>Phone Number: </strong>{{phoneNumber}}</p>
            <p><strong>Message: </strong>{{message}}</p>
            <p><strong>Reason: </strong>{{reason}}</p>
            <p><strong>How did they hear: </strong>{{howdidyouhear}}</p>
            </br>

            <p>Take care!.</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}