{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{fullName}}</p>
            <br/>
            {% if remind %}
            <p>This is a friendly reminder that your invitation to Avisare from <a href="">{{referalName}}</a> is waiting for you. Apply now and let us start bringing companies to you!</p>
            {% else %}
            {% if referalName %}
            <p>Word gets around.</p>
            <br/>
            <p>Your stellar reputation precedes you. <a href="">{{referalName}}</a> has invited you to join Avisare.</p>
            {% else %}
            <p>Your stellar reputation precedes you.  You have been invited to join Avisare.</p>
            {% endif %}
            {% endif %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% if message %}
<table class="row">
  <tr>
    <td class="offset-by-one wrapper last">
      <table class="nine columns">
        <tr>
          <td>
            <p>
            {% if referalName %}
              {{referalName}}: <small class="note">{{message}}</small>
            {% else %}
              Message from <a href="">Avisare</a>:
              <br/>
              <small class="note">{{message}}</small>
            {% endif %}
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
{% endif %}

<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <p>Avisare is an invitation-only platform that connects high-level talent with companies seeking experienced consultants. Our end-to-end solution will empower you to effectively market and contract services for short or long-term engagements.</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="offset-by-three wrapper last">

      <table class="six columns">
        <tr>
          <td>

            <table class="button">
              <tr>
                <td>
                  <a href="{{basePath}}/application/?access_token={{accessToken}}">Start your application</a>
                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p>By accepting this invitation, you are taking the first step to joining this exclusive network. Our goal is to provide a platform where experienced industry experts can find highly compensated consulting jobs. In addition to finding companies that value your experience and capabilities, we will also offer the following services to our members:</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
{% endraw %}
{% endblock %}