{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">Avisare,</p>
            <br/>
            <p>We have a new application from {{firstName}} {{lastName}} from {{city}}, {{state}} !</p>
            <p>Primary Industry: {{primaryIndustry}}</p>
            <p>Primary Function: {{primaryFunction}}</p>
            </br>

            <p>Login to the platform to review their application.</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}