{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject:  New Hire Offer
mail from client@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">Avisare,</p>
            <br/>
            <p>We’re almost there! {{CONSULTANT_FIRST_LAST_NAME}} has received an offer for the {{RFP_NAME}} project with {{COMPANY_NAME}}. Here are the offer details:</p>
            <br/>
            <p><strong>Consultant Rate: </strong> {{CONTRACT_RATE}}</p>
            <p><strong>Hours Per Week: </strong> {{HOURS}}</p>
            <p><strong>Start Date: </strong>{{START_DATE}}</p>
            <p><strong>End Date: </strong>{{END_DATE}}</p>
            <p><strong>Consultant fee PPP: </strong>{{TOTAL_FEE_PPP}}</p>
            <p><strong>Avisare Fee PPP: </strong>{{AVISARE_FEE_PPP}}</p>
            </br>

            <p>If no action is taken within 3 days, follow up with the consultant directly. </p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>Teamwork.</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}