{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject: You have a new proposal
mail from: client@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}},</p>
            <br/>

            <p>You have a new proposal submission on Avisare from {{CONSULTANT_FIRST_NAME_LAST_NAME}} for the {{PROJECT_TITLE}} project. Log in to the site to review your proposals.</p>

            </br>
            <p>All the best,</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                  </br>
                  <p>If you have questions, you can contact us at support@avisare.com</p>
                </td>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}