{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject: RFP Posting Successful
mail from: client@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}},</p>
            <br/>

            <p>Thank you for posting a project with Avisare. Your RFP is now live. By posting a project, you are helping us give back to the community.  When you hire a consultant through Avisare, we sponsor a low-income student to learn about entrepreneurship through <a href="www.ntfe.com">NFTE</a>.</p>
            <p>If you need assistance in selecting consultants for your project, feel free to contact us at client@avisare.com.</p>

            </br>
            <p>All the best,</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                  </br>
                  <p>If you have questions, you can contact us at support@avisare.com</p>
                </td>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}