{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<!-- 
Mail Subject:  Your profile is now searchable
mail from info@avisare.com
 -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">{{firstName}},</p>
            <br/>
            <p>Your profile has reached the 80% threshold mark. Clients can now view your profile and contact you directly. Clients have the option of inviting you to bid on a private RFP, sending you a message or reviewing your submission for a public RFP. </p>

            <p>When our clients log into the system it is usually because they have an immediate need so be sure to keep your profile up-to-date and maintain your availability for new work. </p>

            <p>Thank you for joining us during the beta period and we hope you will be hired for projects very soon! </p>

            <p>Wishing you the best. </p>

            </br>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>The Avisare Team</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}