{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <br>
            <br/>
            <p class="lead">Hello {{firstName}},</p>
            <br/>
            <p>{{consultantFirstName}} {{consultantLastName}} has selected you to provide a reference. Your response will be used as part of the matching and evaluation process for placing {{consultantFirstName}} on projects through the Avisare platform. Your response is completely PRIVATE and will only be viewed by Avisare personnel. </p>
            </br>
            <p>Avisare is an exclusive marketplace where companies hire top talent to work on a contract basis and find consulting firms that fit their needs. Our consultants have significant industry experience and work as 1099 independent contractors.  We also offer a number of services to build our consultants’ brands, including individual professional websites, speaking engagements, and a searchable repository of white papers. </p>
            </br>
            <p>Please click the start button below to answer a few brief questions.</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="offset-by-three wrapper last">

            <table class="six columns">
              <tr>
                <td>

                  <table class="button">
                    <tr>
                      <td>
                        <a href="{{basePath}}/referral/{{id}}?access_token={{accessToken}}">Tell us about {{consultantFirstName}}</a>
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>Take care,</p>
                  <p>The Avisare Team</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}