{% extends "base/basic.html" %}
{% block content %}
{% raw %}
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <br/>
            <p class="lead">Hi {{firstName}},</p>
            <br/>
            <p>Looks like you reset your password. Good call. If it wasn’t you that reset your password, let us know by sending an email to support@avisare.com.</p>
            </br>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="offset-by-three wrapper last">

            <table class="six columns">
              <tr>
                <td>

                  <table class="button">
                    <tr>
                      <td>
                        <a href="{{basePath}}/reset?access_token={{accessToken}}">Reset your password</a>
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <p>Take care,</p>
                  <p>The Avisare Team</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</br>

{% endraw %}
{% endblock %}