<div class="modal-header">
  <h4 class="modal-title text-center">Reference</h4>
</div>
<div class="modal-body">
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="firstName">First Name</label>
    <input ng-model="reference.reference.firstName" type="text" class="form-control" id="firstName" placeholder="First Name" disabled>
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="lastName">Last Name</label>
    <input ng-model="reference.reference.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" disabled>
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="communitacionMethod">Method of Communication</label>
    <input ng-model="reference.reference.communitacionMethod" type="text" class="form-control" id="communitacionMethod" placeholder="communitacionMethod" disabled>
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="email">Email</label>
    <input avisare-input ng-model="reference.reference.email" type="email" class="form-control" id="email" placeholder="Email" disabled>
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="phone">Phone Number</label>
    <input avisare-phone avisare-input ng-model="reference.reference.phone" type="text" class="form-control" id="phone" placeholder="Phone Number" disabled>
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="relation">Relationship to Applicant</label>
    <input ng-model="reference.reference.relation" type="text" class="form-control" id="relation" placeholder="Relationship" disabled>
  </div>
  <div class="form-group col-xs-12">
    <label for="response">Response</label>
    <textarea ng-model="reference.reference.response" rows="4"  class="form-control" id="response" placeholder="Response" disabled></textarea>
  </div>
</div>
<div class="modal-footer">&nbsp;</div>