<div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Phone Number:</strong></div><div class="col-md-10">{{row.entity.User.Addresses[0].phoneNumber}}</div></div>
<div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>LinkedIn URL:</strong></div><div class="col-md-10"><a href="{{row.entity.User.Profiles[0].linkedin}}" style="color: #00C0EC">{{row.entity.User.Profiles[0].linkedin}}</a></div></div>
<div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Skype ID:</strong></div><div class="col-md-10">{{row.entity.User.Profiles[0].skype}}</div></div>
<div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Resume:</strong></div><div class="col-md-10"><a href="{{row.entity.User.Profiles[0].resume}}" style="color: #00C0EC">{{row.entity.User.Profiles[0].resume}}</a></div></div>
<div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Writing Sample:</strong></div><div class="col-md-10"><a href="{{row.entity.writingSample}}" style="color: #00C0EC">{{row.entity.writingSample}}</a></div></div>
<div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Value Proposition:</strong></div><div class="col-md-10">{{row.entity.User.Profiles[0].ProfileSetting.aboutMe}}</div></div>
<div style="height: 150px; overflow-y: auto; overflow-x: hidden; margin-bottom: 15px; margin-left: 15px; background-color: #FFFFFF">
    <div class="row" ng-repeat="caseStudy in row.entity.User.Profiles[0].CaseStudies">
        <div class="col-md-12">
            <h4>Case Study #{{$index + 1}}</h4>
            <div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Case Study:</strong></div><div class="col-md-10" style="color: #00C0EC">{{caseStudy.caseStudyTitle}}</div></div>
            <div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Industry:</strong></div><div class="col-md-10" style="color: #00C0EC">{{caseStudy.Industry.industryName}}</div></div>
            <div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Problem:</strong></div><div class="col-md-10">{{caseStudy.caseStudyProblem}}</div></div>
            <div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Solution:</strong></div><div class="col-md-10">{{caseStudy.caseStudySolution}}</div></div>
            <div class="row"><div class="col-md-2" style="color: #7B7B7B;"><strong>Result:</strong></div><div class="col-md-10">{{caseStudy.caseStudyResult}}</div></div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="reference in row.entity.References">
    <div class="col-md-2" style="color: #7B7B7B;"><strong>Reference:</strong></div>
    <a class="col-md-3" href="#" ng-click="grid.appScope.consultant.showReference(reference)">{{reference.firstName}} {{reference.lastName}}</a>
    <strong class="col-md-7" ng-show="{{reference.status == 'Responded'}}" style="color: #FDA631">({{reference.status}})</strong>
    <strong class="col-md-7" ng-show="{{reference.status == 'Read'}}" style="color: #00C561">({{reference.status}})</strong>
    <strong class="col-md-7" ng-show="{{reference.status == 'Pending'}}" style="color: #00C0EC">({{reference.status}})</strong>
</div>
<div class="row" ng-repeat="note in row.entity.ApplicationNotes"><div class="col-md-2" style="color: #7B7B7B;"><strong>Note:</strong></div><div class="col-md-10">{{note.note}}</br>By <span style="color: #00C0EC">{{note.User.firstName}} {{note.User.lastName}}</span></div></div>