<!-- Certifications & Skills -->
<div class="box box-primary">
    <div class="box-header">
        <div class="col-sm-3 col-xs-6 input-group pull-right">
            <input type="text" class="form-control" ng-model="consultant.consultant_paginationObj.query" ng-keypress="($event.which === 13)?consultant.getConsultants():0">
            <span class="input-group-btn">
                <button ng-click="consultant.getConsultants()" class="btn btn-primary">Search</button>
            </span>
        </div>
    </div>

    <!-- form start -->
    <form role="form">

        <div class="box-body">
            <div class="col-sm-12 col-xs-12">
                <div class="form-group">
                    <div ui-grid="consultant.consultantsGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-expandable ui-grid-auto-resize ></div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </form>
</div><!-- ./Certifications & Skills -->
