<!-- Certifications & Skills -->
<div class="box box-primary">
    <!-- form start -->
    <form role="form">

        <div class="box-body">
            <div class="col-sm-6 col-xs-12">
                <h4>Certification</h4>

                <div class="form-group">
                    <label for="certificationType">Certification type</label>

                    <ui-select ng-model="main.certificationType" theme="selectize" ng-disabled="disabled"
                               search-enabled="true">
                        <ui-select-match placeholder="Certification type">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="type in main.certs | filter: $select.search">
                            <span ng-bind-html="type.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="certification">Certification name</label>
                    <input type="text" class="form-control" id="certification">
                </div>
                <div class="form-group">
                    <label for="certificationYear">Year of certification</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{main.format}}"
                               is-open="main.status.opened" show-button-bar="false" ng-model="main.experience.start"
                               id="certificationYear"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="main.showStartDatePicker($event)"><i
                                    class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="Issuing">Issuing body</label>
                    <input type="text" class="form-control" id="Issuing">
                </div>

            </div>

            <div class="col-md-6 col-xs-12">
                <h4>Skills</h4>

                <div class="form-group">
                    <label for="exampleInputPassword1">Languages</label>
                    <ui-select multiple ng-model="multipleDemo.colors" theme="select2" ng-disabled="disabled"
                               style="width: 100%;">
                        <ui-select-match>{{$item}}</ui-select-match>
                        <ui-select-choices repeat="color in main.availableColors | filter:$select.search">
                            {{color}}
                        </ui-select-choices>
                    </ui-select>
                    {{$item}}
                </div>

            </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div><!-- ./Certifications & Skills -->
