<div class="modal-header">
    <h4 class="modal-title text-center">Application</h4>
</div>
<div class="modal-body">
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active" style="height: auto;">
            <h3 class="widget-user-username">{{consultant.consultant.User.firstName}} {{consultant.consultant.User.lastName}}</h3>
            <h5 class="widget-user-desc">{{consultant.consultant.User.email}}</h5>
        </div>
        <!--<div class="widget-user-image">
            <img alt="User Avatar" src="../dist/img/user1-128x128.jpg" class="img-circle">
        </div>-->
        <div class="box-footer" style="padding-top: 0px">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <span class="description-text">Application Date</span>
                        <h5 class="description-header">{{consultant.consultant.applicationDate}}</h5>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <span class="description-text">Status</span>
                        <h5 class="description-header">{{consultant.consultant.status}}</h5>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <span class="description-text">Referred by</span>
                        <h5 class="description-header">{{consultant.consultant.referredBy}}</h5>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->
            </div>
            <div class="row" ng-show="consultant.consultant.User.Profiles.length">
                <div class="col-sm-12">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Profiles</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: block;">
                            <div ng-repeat="profile in consultant.consultant.User.Profiles">
                                <ul class="nav nav-stacked">
                                    <li ng-show="profile.companyName">
                                        <strong class="text-primary">Company Name:</strong>
                                        <span class="pull-right">{{profile.companyName}}</span>
                                    </li>
                                    <li ng-show="profile.primaryFuntion">
                                        <strong class="text-primary">Function:</strong>
                                        <span class="pull-right">{{profile.primaryFuntion}}</span>
                                    </li>
                                    <li ng-show="profile.avaliability">
                                        <strong class="text-primary">Avaliability:</strong>
                                        <span class="pull-right">{{profile.avaliability}}</span>
                                    </li>
                                    <li ng-show="profile.travel">
                                        <strong class="text-primary">Travel:</strong>
                                        <span class="pull-right">{{profile.travel}}</span>
                                    </li>
                                    <li ng-show="profile.linkedin">
                                        <strong class="text-primary">LinkedIn:</strong>
                                        <span class="pull-right">{{profile.linkedin}}</span>
                                    </li>
                                    <li ng-show="profile.skype">
                                        <strong class="text-primary">Skype:</strong>
                                        <span class="pull-right">{{profile.skype}}</span>
                                    </li>
                                    <li ng-show="profile.twitter">
                                        <strong class="text-primary">Twitter:</strong>
                                        <span class="pull-right">{{profile.twitter}}</span>
                                    </li>
                                    <li ng-show="profile.ProfileSetting.aboutMe">
                                        <strong class="text-primary">About:</strong>
                                        <span class="pull-right">{{profile.ProfileSetting.aboutMe}}</span>
                                    </li>
                                    <li ng-show="profile.ProfileSetting.serviceDescription">
                                        <strong class="text-primary">Services:</strong>
                                        <span class="pull-right">{{profile.ProfileSetting.serviceDescription}}</span>
                                    </li>
                                    <li ng-show="profile.resume" style="padding-top: 5px; padding-bottom: 15px">
                                        <strong class="text-primary">Resume:</strong>
                                        <a href="{{profile.resume}}" class="pull-right" style="padding: 0px"><button class="btn btn-primary btn-sm">Dowload</button></a>
                                    </li>
                                    <li ng-show="consultant.consultant.writingSample" style="padding-top: 5px; padding-bottom: 15px">
                                        <strong class="text-primary">Writing Sample:</strong>
                                        <a href="{{consultant.consultant.writingSample}}" class="pull-right" style="padding: 0px"><button class="btn btn-primary btn-sm">Dowload</button></a>
                                    </li>
                                    <li ng-show="profile.CaseStudies.length">
                                        <strong class="text-primary">Case Studies:</strong>
                                        <uib-accordion>
                                            <uib-accordion-group heading="{{caseStudy.caseStudyTitle}}"  ng-repeat="caseStudy in profile.CaseStudies">
                                                <div class="row">
                                                    <div class="col-sm-2 text-primary"><strong>Industry:</strong></div><div class="col-sm-9">{{caseStudy.Industry.industryName}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2 text-primary"><strong>Problem:</strong></div><div class="col-sm-9">{{caseStudy.caseStudyProblem}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2 text-primary"><strong>Solution:</strong></div><div class="col-sm-9">{{caseStudy.caseStudySolution}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2 text-primary"><strong>Result:</strong></div><div class="col-sm-9">{{caseStudy.caseStudyResult}}</div>
                                                </div>
                                            </uib-accordion-group>
                                        </uib-accordion>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="consultant.consultant.User.Addresses.length">
                <div class="col-sm-12">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Addresses</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: block;">
                            <div ng-repeat="address in consultant.consultant.User.Addresses">
                                <ul class="nav nav-stacked">
                                    <li ng-show="address.addressLineOne">
                                        <strong class="text-primary">Address:</strong>
                                        <span class="pull-right">{{address.addressLineOne}}</span></li>
                                    <li ng-show="address.addressLineTwo"><span class="pull-right">{{address.addressLineTwo}}</span></li>
                                    <li ng-show="address.addressLineThree"><span class="pull-right">{{address.addressLineThree}}</span></li>
                                    <li ng-show="address.City.State.Country.countryName">
                                        <strong class="text-primary">Country:</strong>
                                        <span class="pull-right">{{address.City.State.Country.countryName}}</span>
                                    </li>
                                    <li ng-show="address.City.State.stateName">
                                        <strong class="text-primary">State:</strong>
                                        <span class="pull-right">{{address.City.State.stateName}}</span>
                                    </li>
                                    <li ng-show="address.City.cityName">
                                        <strong class="text-primary">City:</strong>
                                        <span class="pull-right">{{address.City.cityName}}</span>
                                    </li>
                                    <li ng-show="address.zipCode">
                                        <strong class="text-primary">Zip Code:</strong>
                                        <span class="pull-right">{{address.zipCode}}</span>
                                    </li>
                                    <li>
                                        <strong class="text-primary">Phone:</strong>
                                        <span class="pull-right">{{address.phoneNumber}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="consultant.consultant.References.length">
                <div class="col-sm-12">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">References</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: block;">
                            <div class="box box-widget">
                                <div class="box-header with-border"></div><!-- /.box-header -->
                                <div class="box-footer box-comments" style="padding-top: 8px">
                                    <div class="box-comment" ng-repeat="reference in consultant.consultant.References">
                                        <!--<img alt="User Image" src="../dist/img/user3-128x128.jpg" class="img-circle img-sm"> User image -->
                                        <div class="comment-text" style="margin-left: 10px">
                                            <span class="username text-primary">{{reference.firstName}} {{reference.lastName}}<span class="text-muted pull-right">{{reference.createdAt | date:'MM/dd/yyyy'}}</span></span><!-- /.username -->
                                            <ul class="nav nav-stacked">
                                                <li ng-show="reference.communicationMethod">
                                                    <strong class="text-primary">Communication Method:</strong><span class="pull-right">{{reference.communicationMethod}}</span>
                                                </li>
                                                <li ng-show="reference.email">
                                                    <strong class="text-primary">Email:</strong><span class="pull-right">{{reference.email}}</span>
                                                </li>
                                                <li ng-show="reference.phone">
                                                    <strong class="text-primary">Phone:</strong><span class="pull-right">{{reference.phone}}</span>
                                                </li>
                                                <li ng-show="reference.relation">
                                                    <strong class="text-primary">Relation:</strong><span class="pull-right">{{reference.relation}}</span>
                                                </li>
                                                <li ng-show="reference.status">
                                                    <strong class="text-primary">Status:</strong><span class="pull-right">{{reference.status}}</span>
                                                </li>
                                                <li ng-show="{{reference.status != 'Pending' }}">
                                                    <strong class="text-primary">Response:</strong>
                                                </li>
                                                <li ng-show="{{reference.status != 'Pending' }}">
                                                    <div ng-switch on="reference.relation">
                                                        <div ng-switch-when="Client">
                                                            <ul ng-show="{{reference.timezone == null ? true : false }}">
                                                                <li class="text-primary">Did {{consultant.consultant.User.firstName}} meet or exceed your expectations for the project? <strong ng-show="{{reference.expectationAccomplished}}" class="text-black">Yes</strong><strong class="text-black" ng-show="{{!reference.expectationAccomplished}}">No</strong></li>
                                                                <li class="text-primary">Why? <strong class="text-black">{{reference.deserialized.expectationAccomplished}}</strong></li>
                                                                <li class="text-primary">What qualities does {{consultant.consultant.User.firstName}} exhibit that make this individual a good consultant? <strong class="text-black">{{reference.deserialized.qualities}}</strong></li>
                                                                <li class="text-primary">Would you hire {{consultant.consultant.User.firstName}} again for another project? <strong ng-show="{{reference.hireAgain}}" class="text-black">Yes</strong><strong ng-show="{{!reference.hireAgain}}" class="text-black">No</strong></li>
                                                            </ul>
                                                        </div>
                                                        <div ng-switch-when="Manager">
                                                            <ul ng-show="{{reference.timezone == null ? true : false }}">
                                                                <li class="text-primary">Is {{consultant.consultant.User.firstName}} effective at their job? <strong ng-show="{{reference.consultantEffective}}" class="text-black">Yes</strong><strong class="text-black" ng-show="{{!reference.consultantEffective}}">No</strong></li>
                                                                <li class="text-primary">What qualities does {{consultant.consultant.User.firstName}} exhibit that make this individual a good consultant? <strong class="text-black">{{reference.deserialized.qualities}}</strong></li>
                                                                <li class="text-primary">What made you come to that conclusion? <strong class="text-black">{{reference.deserialized.experiences}}</strong></li>
                                                                <li class="text-primary">Would you hire {{consultant.consultant.User.firstName}} again? <strong ng-show="{{reference.hireAgain}}" class="text-black">Yes</strong><strong ng-show="{{!reference.hireAgain}}" class="text-black">No</strong></li>
                                                                <li class="text-primary" ng-show="{{!reference.hireAgain}}">Why not? <strong class="text-black">{{reference.deserialized.hire}}</strong></li>
                                                            </ul>
                                                        </div>
                                                        <div ng-switch-when="Colleague">
                                                            <ul ng-show="{{reference.timezone == null ? true : false }}">
                                                                <li class="text-primary">If you were a business owner, would you hire {{consultant.consultant.User.firstName}}? <strong ng-show="{{reference.hireAgain}}" class="text-black">Yes</strong><strong class="text-black" ng-show="{{!reference.hireAgain}}">No</strong></li>
                                                                <li class="text-primary">In what capacity? <strong class="text-black">{{reference.deserialized.hirePosition}}</strong></li>
                                                                <li class="text-primary">What qualities that you directly experienced make {{consultant.consultant.User.firstName}} a good consultant? <strong class="text-black">{{reference.deserialized.goodQualities}}</strong></li>
                                                                <li class="text-primary">What are the areas for improvement? <strong class="text-black">{{reference.deserialized.thingsToImprove}}</strong></li>
                                                            </ul>
                                                        </div>
                                                        <div ng-show="{{reference.timezone != null ? true : false }}">
                                                            <ul>
                                                                <li class="text-primary">I prefer to speak on the phone <strong class="text-black">Yes</strong></li>
                                                                <li class="text-primary">Phone number <strong class="text-black">{{reference.phone}}</strong></li>
                                                                <li class="text-primary">Time zone <strong class="text-black">{{reference.timezone}}</strong></li>
                                                                <li class="text-primary">Best times to call? <strong class="text-black">{{reference.timeToCall}}</strong></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!-- /.comment-text -->
                                    </div><!-- /.box-comment -->
                                </div><!-- /.box-comment -->
                            </div><!-- /.box-footer -->
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="consultant.consultant.ApplicationNotes.length">
                <div class="col-sm-12">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Notes</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: block;">
                            <div class="box box-widget">
                                <div class="box-header with-border"></div><!-- /.box-header -->
                                <div class="box-footer box-comments" style="padding-top: 8px">
                                    <div class="box-comment" ng-repeat="note in consultant.consultant.ApplicationNotes">
                                        <!--<img alt="User Image" src="../dist/img/user3-128x128.jpg" class="img-circle img-sm"> User image -->
                                        <div class="comment-text">
                                            <span class="username">{{note.User.firstName}} {{note.User.lastName}}<span class="text-muted pull-right">{{note.createdAt | date:'MM/dd/yyyy'}}</span></span><!-- /.username -->
                                            {{note.note}}
                                        </div><!-- /.comment-text -->
                                    </div><!-- /.box-comment -->
                                </div><!-- /.box-comment -->
                            </div><!-- /.box-footer -->
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
<div class="modal-footer">&nbsp;</div>