<div class="box box-primary">
    <div class="box-header">
        <div class="col-sm-3 col-xs-6 input-group pull-right">
            <input type="text" class="form-control" ng-model="consultant.app_paginationObj.query" ng-keypress="($event.which === 13)?consultant.getApplications():0">
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="consultant.getApplications()">Search</button>
            </span>
        </div>
    </div>

    <div class="box-body">
        <div ui-grid="consultant.applicationGrid" ui-grid-selection  ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns></div>
    </div><!-- ui-grid-expandable -->
</div>
