<!-- Info boxes -->
<div class="row">
    <div class="col-xs-12">
        <h3>Manage Consultants</h3>
        <div>
            <uib-tabset>
                <uib-tab ng-repeat="tab in consultant.tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                    <ng-include src="tab.content"></ng-include>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<!-- /.row -->
