<div class="modal-header">
  <h4 class="modal-title text-center">Notes</h4>
</div>
<div class="modal-body">
  <form name="note.noteForm" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" ng-class="{'has-error': note.noteForm.newNote.$touched && note.noteForm.newNote.$invalid}">
          <label>Note</label>
          <textarea class="form-control" rows="3" name="newNote" ng-model="note.newNote" required></textarea>
          <div class="error-messages" ng-messages="note.noteForm.newNote.$error" ng-show="note.noteForm.newNote.$touched">
            <div ng-messages-include="{{note.routeMessages}}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button ng-disabled="note.noteForm.$invalid" type="button" ng-click="note.saveNote()" class="btn btn-primary center-block">Save</button>
    </div>
  </form>
  <div class="col-md-12 ">
    <p><strong>Added Notes:</strong></p>
    <span ng-repeat="notes in note.notes">
      <span class="btn btn-primary btn-xs">
        <a style="color: #FFFFFF" ng-click="note.editNote($index)">by {{notes.User.firstName}} {{notes.User.lastName}}</a>
        <a ng-click="note.removeNote($index)">X</a>
      </span>
    </span>
  </div>
</div>
<div class="modal-footer">&nbsp;</div>