<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>About:</strong></div><div class="col-md-10">{{row.entity.ProfileSetting.aboutMe}}</div></div>
<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>Languages:</strong></div><div class="col-md-10">
<a ng-repeat="test in row.entity.User.Languages">{{test.languageName}}, </a></div></div>
<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>Services:</strong></div><div class="col-md-10">
<a ng-repeat="test in row.entity.Services">{{test.serviceName}}, </a></div></div>
<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>Case Studies:</strong></div><div class="col-md-10">
<span ng-repeat="test in row.entity.CaseStudies">{{test.caseStudyTitle}}, </span></div></div>
<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>Key Work Experience:</strong></div><div class="col-md-10">
<a ng-repeat="test in row.entity.Experiences">{{test.experienceTitle}}, </a></div></div>
<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>Certifications:</strong></div><div class="col-md-10">
<a ng-repeat="test in row.entity.Certifications">{{test.certificationName}}, </a></div></div>
<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>Education:</strong></div><div class="col-md-10">{{row.entity.Education[0].degreeName}} at {{row.entity.Education[0].university}}, </div></div>
<div class="row"><div class="col-md-2" style="color: #00C0EC;"><strong>Skills:</strong></div>
<div class="col-md-10"><a ng-repeat="test in row.entity.Skills">{{test.skillName}}, </a></div></div>
<div class="row"><div class="col-md-2 pull-right" style="color: #00C0EC;"><a class="btn btn-primary btn-xs btn-block" href="/consultant/{{row.entity.ProfileSetting.profileLink}}" target="_blank">HIRE/INQUIRE</a></div></div>