<!-- Certifications & Skills -->
<div class="box box-primary">
    <div class="box-header">
        <div class="col-xs-12" ng-controller="ClientController as clientCtrl">
            <!-- Quick search -->
            <h4 class="box-title">Quick search for consultants</h4>
            <!--<form novalidate id="education-form" avisare-form name="expEducForm" role="form" ng-submit="expEducForm.$valid && educationCtrl.saveEducation(educationCtrl.education)">
            <form action="client.quickSearch" method="get" class="form-inline" style="height: 35px;">
            -->

            
            <form novalidate id="search-form" name="searchForm" ng-submit="searchForm.$valid && clientCtrl.quickSearch(clientCtrl.search)" method="get" class="form-inline" style="height: 35px;">
              <div class="form-group">
                <input type="text" name="name" class="form-control" ng-model="search.name" placeholder="Search by name...">
              </div>
              <div class="form-group">
                <input type="text" name="location" class="form-control" ng-model="search.location" placeholder="Search by location...">
              </div>
              <div class="form-group">
                <input type="text" name="keyword" class="form-control" placeholder="Search by keyword...">
              </div>
              <!-- <div class="form-group">
                <input type="text" name="firm" class="form-control" placeholder="Search by firm">
              </div> --> 
              <div class="form-group">
              <ui-select ng-model="client.client.availability" theme="selectize" search-enabled="true">
                      <ui-select-match placeholder="Availability">
                        {{$select.selected}}
                      </ui-select-match>
                      <ui-select-choices repeat="amount in client.avStatus | filter: $select.search">
                        <span ng-bind-html="amount | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
              </div>
              <div class="form-group">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary"> <i class="fa fa-search"></i>&nbsp;Search
                  </button>
              </div>
            </form>
            <br>
          </div>


        <!--<div class="col-sm-3 col-xs-6 input-group pull-right">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary">Search</button>
            </span>
        </div>-->
    </div>

    <!-- form start -->
    <form role="form">

        <div class="box-body">
            <div class="col-sm-12 col-xs-12">
                <div class="form-group">
                    <div ui-grid="client.consultantsGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-expandable ui-grid-auto-resize ui-grid-selection></div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </form>
</div><!-- ./Certifications & Skills -->