<% extends "site/layout.html" %>
<% block content %> 
	<!-- CONTAINER ------>
	<section id="about" class="container">
		<article class="p-about">
			<h2>about avisare</h2>
			<p>Avisare is committed to developing a global consulting marketplace that easily allows companies to extend their workforce by contracting with the best talent on a project basis. We do this by empowering our world-class network through innovative tools, resources and thought-leadership: all with one goal in mind – to grow better business outcomes with smart, dedicated consultants. </p>

			<p>Our platform significantly advances the emerging extended workplace culture where professionals and consulting firms can be found by their specific expertise.</p>
		</article>
	</section>
	<section class="col-xs-12 banner-about"></section>
	<section class="col-xs-12 back-benefits">
		<h2>Benefits</h2>
		<article class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-3 col-lg-3">
			<h3>Benefits to <b>consultants</b></h3>
			<ul>
               <li>Discover and apply for Consulting gigs on one platform</li>
               <li>Create a professional website to promote your consulting services</li>
               <li> Escrow payment services offer freedom from having to collect money</li>
               <li>Find work when you want it, mark your profile as "booked" when you don't </li>
        	</ul>
            <div class="text-center col-xs-12 row-btn">
                <a class="btn btn-primary btn-item" href="" data-toggle="modal" data-target="#ModalLogin">Apply</a>
            </div>
		</article>
		<article class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-3 col-lg-3 ">
			<h3>Benefits to <b>Consulting Firms</b></h3>
			<ul>
               <li>Market your company, capabilities and industry expertise on a platform where clients can discover you</li>
               <li>Set your company apart by showcasing your talent with our simple profile template</li>
               <li>Search your consultants for key skills with our SaaS management tools</li>
               <li>See all previous projects your consultants have worked on</li>
        	</ul>
            <div class="text-center col-xs-12">
                <a class="btn btn-primary btn-item" href="contact.html">Contact Us</a>
            </div>
		</article>
		<article class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-3 col-lg-3">
			<h3>Benefits to <b>companies</b></h3>
			<ul>
               <li>Find top subject matter experts and strategic executives who want to consult on one platform</li>
               <li>Manage the proposal review, interviewing and hiring process through the platform</li>
               <li>Escrow payment services offer security from pre-payment</li>
               <li>Hire the consultants you want when you need them; get notified of their availability</li>
        	</ul>
            <div class="text-center col-xs-12">
                <a class="btn btn-primary btn-item" href="contact.html">Register</a>
            </div>
		</article>
	</section>
	<section id="perspective" class="container">
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<img src="/public/site/images/perspective.jpg" width="100%" alt="">
		</article>
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h2>Our Perspective</h2>
			<p><span>We respect the relationship that is built between our consultants and their clients. </span>We believe in transparency, facilitating a dialogue between consultant and client and helping that relationship grow over time.</p>
			<p><span>We value your brand as much as our own.</span> Every consultant should have their own brand and reputation, and we want you to get the recognition and branding you deserve.</p>
			<p><span>We understand the urgent need to find the right consultants.</span> When you have an immediate need for executive-level strategy & execution, we want to be the platform you trust to find the right talent quickly.</p>

		</article>
	</section>
	<div id="values" class="col-xs-12">
		<section class="container">
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
				<h3 class="text-center">Our Values</h3>
				<div class="flexslider">
				  <ul class="slides">
				    <li data-type="slide-1">
				      <p>1</p>
				    </li>
				    <li data-type="slide-2">
				      <p>2</p>
				    </li>
				    <li data-type="slide-3">
				      <p>3</p>
				    </li>
				    <li data-type="slide-4">
				      <p>4</p>
				    </li>
				    <li data-type="slide-5">
				      <p>5</p>
				    </li>
				  </ul>
				</div>
			</article>
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
				<img class="pull-left hidden-xs" src="/public/site/images/left-curl.png">
				<div class="cont">
					<div class="cont-slide-1">
						<h4>Creativity</h4>
						<p>“Creativity” is not reserved for artists and graphic designers. Good business people can be very creative problem solvers. We admire creativity in business</p>
					</div>
					<div class="cont-slide-2">
						<h4>Integrity</h4>
						<p>What’s right isn’t always what’s popular. We value the ability to do what’s right for our company, our members, and for yourself.</p>
					</div>
					<div class="cont-slide-3">
						<h4>Individuality</h4>
						<p>Everyone has something unique about them. We appreciate uniqueness and individuality and personality. Nobody likes to be boring!</p>
					</div>
					<div class="cont-slide-4">
						<h4>Commitment</h4>
						<p>We believe that you should work hard without having to do hard work. We strive to create a fun environment that makes people comfortable and brings out the best in everyone.</p>
					</div>
					<div class="cont-slide-5">
						<h4>Gratitude</h4>
						<p>There is a lot to be thankful for and we always want to remember that.</p>
					</div>
				</div>
				<img class="pull-right hidden-xs" src="/public/site/images/right-curl.png">
			</article>
		</section>
	</div>
	<section id="our" class="col-xs-12">
		<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h3>Our Responsibility</h3>
			<div class="content">
				<p>We have a responsibility to <span>educate the future generation about self-employment, entrepreneurship and business</span>. That's why we support the Network for Teaching Entrepreneurship.</p>
				<p>By teaching the entrepreneurial mindset, <span>NFTE provides</span> young people with the tools and attitudes to overcome adversity and address future personal, economic, and global challenges.<br><span>NFTE has worked with more than 600,000 young people</span> from low-income communities in programs across the U.S. and around the world. We’re proud to support this organization in their noble efforts.</p>
			</div>
		</article>
		<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<img class="pull-right" src="/public/site/images/network-pic1.jpg" width="100%">
		</article>
	</section>
	<section class="col-xs-12 banner-our"></section>
	<section class="col-xs-12 our-people">
		<h3>Our People</h3>
		<article class="container">
			<p>Avisare was <a href="bio">founded</a> by veteran consultants, specialists and executives who recognize the emerging growth of freelance among the most highly skilled professionals. Avisare is an LA-based company, located on Venice Beach. Our team and advisory board draws on decades of executive-level insight and experience at companies such as <span>AT&T, Disney, ESPN, CNBC, Coca-Cola, UBS</span> and <span>Goldman Sachs.</span></p>
			<ul>
		        <li><img src="/public/site/images/at-t.png" alt="" /></li>
		        <li><img src="/public/site/images/disney.png" alt="" /></li>
		        <li><img src="/public/site/images/espn.png" alt="" /></li>
		        <li><img src="/public/site/images/cnbc.png" alt="" /></li>
		        <li><img src="/public/site/images/coca-cola.png" alt="" /></li>
		        <li><img src="/public/site/images/ubs.png" alt="" /></li>
		        <li><img src="/public/site/images/goldman-sachs.png" alt="" /></li>
		    </ul>
		    <p>Together we are creating a unique platform for matching companies with executive talent and strategic consultants who deliver results.</p>
		</article>
	</section>
	<!-- END CONTAINER -->

<% endblock %>
