<% extends "site/layout.html" %>
<% block content %>
<div ng-app='avisare.application' ng-controller="SiteController as siteCtrl">
	<div ng-class="{uglyForm: siteCtrl.currentTab !== 'basic'}">
			<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-left'}"></toaster-container>
			<div class="col-xs-12 back-1">
				<header class="row off-form-header">
					<h2 class="text-center">APPLICATION FORM</h2>
					<p ng-show="siteCtrl.currentTab == 'experience'" class="text-centrer col-xs-offset-2 col-xs-8 col-sm-8 col-md-8"><strong>Hi</strong>, thank you for applying to be an Avisare consultant. If approved, all of the information on this form will live on your profile for potential clients to see.</p>
					<p ng-show="siteCtrl.currentTab == 'reference'" class="text-centrer col-xs-offset-2 col-xs-8 col-sm-8 col-md-8">We require a minimum of 3 references. Your references must be people who have hired you before either as a consultant or full-time employee, or previous colleagues who can speak to your work ethic.</p>
				</header>
				<section ng-controller="ApplicationController as applicationCtrl" id="form-client" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<header>
						<h2 class="text-center">Apply to be listed on Avisare</h2>
						<p class="text-center">Congratulations on taking the first step to joining this exclusive network! The Avisare platform empowers consultants to effectively build their brand and get hired for long-term engagements. To find out more about the platform, check out the information below or just get started.</p>
					</header>
				  <div ng-show="siteCtrl.currentTab == 'basic'" ng-include="'/public/templates/_application_web_form.html'"></div>
				  <div ng-show="siteCtrl.currentTab == 'experience'" ng-include="'/public/templates/_application_web_form_basic.html'"></div>
				  <div ng-show="siteCtrl.currentTab == 'reference'" ng-include="'/public/templates/_application_web_form_reference.html'"></div>
				</section>
			</div>
	</div>
		<div ng-show="siteCtrl.currentTab == 'basic'" class="col-xs-12 back-2 hidden-div">
			<img class="hidden-xs" src="/public/site/images/why-use-advice1.jpg" width="100%">
			<img class="img-mobile hidden-sm hidden-md hidden-lg" src="/public/site/images/mobile-img5.jpg">
			<section id="why-user" class="container">
				<article class="col-xs-12 col-sm-5 col-md-6 col-lg-6 hidden-xs"></article>
				<article class="col-xs-12 col-sm-7 col-md-6 col-lg-6 last">
					<h3>Why use Avisare?</h3>
					<ul>
						<li><b>Avisare</b> is the meeting place and the tool that will help companies hire thousands of <b>executive leaders</b> on an interim or consulting basis.</li>
						<li>We have a searchable database of <b>independent consultants</b> so that companies can find the talent they are looking for.</li>
						<li>
							<ul>Both <b>companies</b> and <b>consultants</b> go through the vetting process to make sure
								<li>Consultants have <b>real industry experience...</b> and</li>
								<li>Companies have the <b>financial resources</b> to provide compensation.</li>
							</ul>
						</li>
					</ul>
				</article>
			</section>
		</div>
		<div ng-show="siteCtrl.currentTab == 'basic'" class="col-xs-12 back-3 hidden-div">
			<div class="container">
				<h3 class="text-center">How it works?</h3>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="/public/site/images/stp-wrk-img1.png" alt="">
					<h4>Register</h4>
					<p>Create a professional website using our tools and templates once you have been invited and submitted an approved application to join Avisare.</p>
					<small class="arw-img1 hidden-xs"><img src="/public/site/images/arw-img1.png" alt=""></small>
				</article>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="/public/site/images/stp-wrk-img2.png" alt="">
					<h4>Apply</h4>
					<p>Find intriguing jobs through our marketplace and apply for them. We will ecommend jobs matching your skills and interests.</p>
					<small class="arw-img2 hidden-xs"><img src="/public/site/images/arw-img2.png" alt=""></small>
				</article>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="/public/site/images/stp-wrk-img3.png" alt="">
					<h4>complete your project</h4>
					<p>Finalize project scope, milestones and payment terms. Sign any necessary paperwork through the site.</p>
					<small class="arw-img1 hidden-xs"><img src="/public/site/images/arw-img3.png" alt=""></small>
				</article>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="/public/site/images/stp-wrk-img4.png" alt="">
					<h4>receive payment</h4>
					<p>Receive electronic payments through bank to bank transfers. We provide scrow services, making it easy for you to get paid.</p>
				</article>
			</div>
		</div>
		<div ng-show="siteCtrl.currentTab == 'basic'" class="col-xs-12 back-4 hidden-div">
			<section class="container">
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h3><span>Invitation Only:</span> Dependable Results</h3>
					<p>Consultants must be invited to join the site either by companies directly or by other consultants. Once they are invited, they are vetted and approved by our staff. We look for seasoned professionals with at least 10 years of experience, but we do make expectations for those who have a specialized skill and are at the top of their field.</p>
				</article>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<img src="/public/site/images/invitation-img1.jpg" width="100%" alt="">
				</article>
			</section>
		</div>
</div>

			<script src="/public/lib/angular/angular.min.js"></script>
			<script src="/public/lib/angular-resource/angular-resource.min.js"></script>
			<script src="/public/lib/ui-select/dist/select.min.js"></script>
			<script src="/public/lib/lodash/dist/lodash.min.js"></script>
			<script src="/public/lib/angular-lodash/angular-lodash.js"></script>
			<script src="/public/lib/angular-messages/angular-messages.min.js"></script>
			<script src="/public/lib/angular-animate/angular-animate.min.js"></script>
			<script src="/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
			<script src="/public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
			<script src="/public/lib/angular-sanitize/angular-sanitize.min.js"></script>
		  <script src="/public/lib/AngularJS-Toaster/toaster.min.js"></script>
		  <script src="/public/lib/angular-ui-grid/ui-grid.min.js"></script>
		  <script src="/public/main-application-web.js"></script>


	  <% endblock %>