<% extends "site/layout.html" %>
<% block content %> 
	<!-- CONTAINER ------>
	<section id="bio" class="container">
		<article class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
			<img class="pull-right" src="/public/site/images/bio-pic.png" alt="">
		</article>
			<article class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
			<h2>FOUNDER PROFILE</h2>
			<p><strong>Sky Kelley</strong> is the founder of Avisare, a company she created based on her experience as an independent consultant. EOS Management Group is a digital strategy consulting firm she launched to help companies use technology more strategically and profitably. As a digital strategist, Sky helps firms to focus on the innovation of new products and services as well as help scale business in health care, digital media and entertainment, and tech.  Avisare arose from the need for independent consultants to continuously market themselves to find work based mostly on word of mouth.</p>
         <p>Sky brings impressive credentials and significant experience to her role. Previously, she was Director of New Product Strategy in the digital video distribution group at Disney and ESPN Media Networks where she worked on $10-$12 billion negotiations with companies like DirecTV, Dish and AT&T.  Sky served as Director of Business Development for Emerging Media Products at AT&T in the national advertising division prior to her work at Disney.  She also co-founded America's Minority Health Network, which went public after a $5 million Series B round and was acquired in 2011.  Prior to that, she ran sales and marketing for a start-up digital-out-of-home company called Care Media.</p>
         <p>Sky began her career on Wall Street, completing a graduate training program with UBS and assuming roles in Derivative Sales and Equity Sales-Trading covering technology, media and telecom in New York and London.  She sits on the board of the LA Media Lab, a newly formed organization designed to provide technology-focused college graduates access to jobs within the burgeoning LA tech scene and is the Technology co-chair for the Southern California board of Women in Cable & Telecommunications (WICT).  She is also a member of the Television Academy.  Sky holds a Bachelor of Arts degree from the University of North Carolina at Chapel Hill where she studied the history of Entrepreneurship in America and resides in Los Angeles.</p>
		</article>
	</section>
	<!-- END CONTAINER -->
<% endblock %>
