<% extends "site/layout.html" %>
<% block content %> 
	<div ng-app='avisare.clientReg' ng-controller="ClientRegistration as clientRegCtrl" class="col-xs-12 back-1">
		<toaster-container toaster-options="{'time-out': 10000, 'close-button':true, 'animation-class': 'toast-top-left'}"></toaster-container>
		<section id="form-client" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<h2 class="text-center">Client Registration</h2>
			<p class="text-center">If you are a company looking to hire a consultant, fill out this form with a brief description of your needs and we will get back to you. Please do not use this form if you are a consultant and want an invite to the platform. Thanks and we look forward to helping you!</p>
			<form avisare-form id="clientformAvisare" name="clientformAvisare" class="form-client" novalidate>
				<div class="row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					    <label for="firstName">First Name</label>
					    <input avisare-input type="text" class="form-control" id="firstName" name="firstName" ng-model="firstName" placeholder="First Name" required>
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					    <label for="lastName">Last Name</label>
					    <input avisare-input type="text" class="form-control" id="lastName" name="lastName" ng-model="lastName" placeholder="Last Name" required>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					    <label for="companyName">Company name</label>
					    <input avisare-input type="text" class="form-control" id="companyName" name="companyName" ng-model="companyName" placeholder="Company name" required>
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					    <label for="email">Email</label>
					    <input avisare-input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="Email" required>
					</div> 
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					    <label for="phoneNumber">Website URL</label> 
					    <i class="fa fa-question-circle" style="float: rigth;" uib-tooltip="We need resquest this text to the client"></i>
					    <input avisare-input type="text" class="form-control" id="website" name="website" ng-model="website" placeholder="Website URL" required>
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					    <label for="phoneNumber">Phone Number</label>
					    <input avisare-input type="text" class="form-control" id="phoneNumber" name="phoneNumber" ng-model="phoneNumber" placeholder="Phone Number">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="message">Message</label>
						<textarea avisare-input class="form-control" id="message" name="message" ng-model="message" rows="3" placeholder="MESSAGE" ></textarea>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<button class="btn btn-primary btn-lg submit-client" ng-click="clientRegCtrl.submitForm(clientformAvisare)">Submit <i class="fa fa-angle-right"></i></button>
				</div>
			</form>
		</section>
	</div>
	<div class="col-xs-12 back-2">
		<img class="hidden-xs" src="images/why-use-advice1.jpg" width="100%">
		<img class="img-mobile hidden-sm hidden-md hidden-lg" src="/public/site/images/mobile-img5.jpg">
		<section id="why-user" class="container">
			<article class="col-xs-12 col-sm-5 col-md-6 col-lg-6 hidden-xs"></article>			
			<article class="col-xs-12 col-sm-7 col-md-6 col-lg-6 last">
				<h3>Why use Avisare?</h3>
				<ul>
					<li><b>Avisare</b> is the meeting place and the tool that will help companies hire thousands of <b>executive leaders</b> on an interim or consulting basis.</li>
					<li>We have a searchable database of <b>independent consultants</b> so that companies can find the talent they are looking for.</li>
					<li>
						<ul>Both <b>companies</b> and <b>consultants</b> go through the vetting process to make sure
							<li>Consultants have <b>real industry experience...</b> and</li>
							<li>Companies have the <b>financial resources</b> to provide compensation.</li>
						</ul>
					</li>
				</ul>
			</article>			
		</section>
	</div>
	<div class="col-xs-12 back-3">
		<div class="container">
			<h3 class="text-center">How it works?</h3>
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
				<img src="/public/site/images/stp-wrk-img1.png" alt="">
				<h4>Register</h4>
				<p>Create a professional website using our tools and templates once you have been invited and submitted an approved application to join Avisare.</p>
				<small class="arw-img1 hidden-xs"><img src="/public/site/images/arw-img1.png" alt=""></small>
			</article>
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
				<img src="/public/site/images/stp-wrk-img2.png" alt="">
				<h4>Apply</h4>
				<p>Find intriguing jobs through our marketplace and apply for them. We will ecommend jobs matching your skills and interests.</p>
				<small class="arw-img2 hidden-xs"><img src="/public/site/images/arw-img2.png" alt=""></small>
			</article>
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
				<img src="/public/site/images/stp-wrk-img3.png" alt="">
				<h4>complete your project</h4>
				<p>Finalize project scope, milestones and payment terms. Sign any necessary paperwork through the site.</p>
				<small class="arw-img1 hidden-xs"><img src="/public/site/images/arw-img3.png" alt=""></small>
			</article>
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
				<img src="/public/site/images/stp-wrk-img4.png" alt="">
				<h4>receive payment</h4>
				<p>Receive electronic payments through bank to bank transfers. We provide scrow services, making it easy for you to get paid.</p>
			</article>
		</div>
	</div>
	<div class="col-xs-12 back-4">
		<section class="container">
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3><span>Invitation Only:</span> Dependable Results</h3>
				<p>Consultants must be invited to join the site either by companies directly or by other consultants. Once they are invited, they are vetted and approved by our staff. We look for seasoned professionals with at least 10 years of experience, but we do make expectations for those who have a specialized skill and are at the top of their field.</p>
			</article>
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<img src="/public/site/images/invitation-img1.jpg" width="100%" alt="">
			</article>
		</section>
	</div>

	<script src="/public/lib/angular/angular.min.js"></script>
	<script src="/public/lib/angular-resource/angular-resource.min.js"></script>
	<script src="/public/lib/ui-select/dist/select.min.js"></script>
	<script src="/public/lib/lodash/dist/lodash.min.js"></script>
	<script src="/public/lib/angular-lodash/angular-lodash.js"></script>
	<script src="/public/lib/angular-messages/angular-messages.min.js"></script>
	<script src="/public/lib/angular-animate/angular-animate.min.js"></script>
	<script src="/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/public/lib/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="/public/lib/AngularJS-Toaster/toaster.min.js"></script>
	<script src="/public/lib/angular-ui-grid/ui-grid.min.js"></script>
	<script src="/public/main-application-web.js"></script>
	
<% endblock %>
