<% extends "site/layout.html" %>
<% block content %> 
  <div class="contact-box">
    <div class="container">
      <form action="" id="contactus" method="post" accept-charset="utf-8">
        <h3>contact us</h3>
        <span>Please fill out the form below and we'll get back to you as soon as possible.</span>
        <div class="row">
          <div class="select-box">
            <label class="required">Reason for contact</label>
            <div class="styled-select">
              <select name="reason" id="reason" class="validate[required]" required="required">
                <option value="">Reason for contact</option>
                <option value="My company wants to hire a Consultant">My company wants to hire a Consultant</option>
                <option value="My consulting firm wants to be listed">My consulting firm wants to be listed</option>
                <option value="Press Inquiry">Press Inquiry</option>
                <option value="Other">Other</option>
              </select>                  
            </div>
            <!--<div class="required">
              <span>* This field is required</span>
            </div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="required">your name</label>
            <input name="name" id="name" class="validate[required] text-input" type="text" required="required"/>
            <!--<div class="required">
              <span>* This field is required</span>
            </div>-->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="required">organization</label>
            <input name="companyName" id="organization" class="text-input" type="text" required="required"/>
            <!--<div class="required">
              <span>* This field is required</span>
            </div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label>City</label>
            <input name="city" id="city" class="validate[required] text-input" type="text"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="required">State</label>
            <div class="styled-select">
              <select name="state" id="state" class="validate[required]" required="required">
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Colorado">Colorado</option>
                <option value="Delaware">Delaware</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Virgin Islands">Virgin Islands</option>
              </select>
            </div>
              <!--<div class="required">
                <span>* This field is required</span>
              </div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="required">Email</label>
            <input name="email" id="email" class="validate[required,custom[email]] text-input" style="text-align: left" placeholder="yourname@example.com" type="email" required="required"/>
            <!--<div class="required">
              <span>* This field is required</span>
            </div>-->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label>Phone</label>
            <input name="phoneNumber" id="phone" class="text-input" placeholder="(XXX)-XXX-XXXX" type="tel"/>
          </div>
        </div>
        <div class="row">
          <div class="textarea-box">
            <label style="text-align: center">message</label>
            <textarea name="message" id="message" class="validate[required]" cols="30" rows="6"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="select-box">
            <div class="styled-select">
              <select name="howdidyouhear" id="hear" class="validate[required]">
                <option value="">How did you hear about us?</option>
                <option value="Search Engine">Search Engine</option>
                <option value="LinkedIn">LinkedIn</option>
                <option value="Facebook">Facebook</option>
                <option value="Consultant Referral">Consultant Referral</option>
                <option value="Company Referral">Company Referral</option>
                <option value="NCMM">NCMM</option>
                <option value="NFTE">NFTE</option>
                <option value="Other">Other</option>
              </select>                  
            </div>
          </div>
        </div>
        <div class="row button">
          <button class="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
<% endblock %>
