<% extends "site/layout.html" %>
<% block content %> 
  <!--GO FORM-->
  <div class="about-box">
    <div class="container">
      <div class="about-top">
        <h1>examples</h1>
         <p>Companies turn to Avisare to find help solving their most strategic problems. With experience in both strategy and execution, Avisare consultants can help steer your ship in the right direction, and get you where you need to go. Bottom-line, measurable results are always the primary goal. Here are just a few examples of how Avisare consultants can help companies get ahead.</p>        
      </div>
      <div class="content-tabs">
       <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
              <img src="/public/site/images/exam-img-1.png" alt="" /><span class="heading">Multinational retailer<br> gains control of forex</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
              <img src="/public/site/images/exam-img-2.png" alt="" /><span class='heading'>Analytics-driven<br> foresight</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
              <img src="/public/site/images/exam-img-3.png" alt="" /><span class='heading'>Delighting the<br> customer</span>
            </a>
          </li>
        </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <h2>Retail Company   <span>* </span> Interim CFO   <span>*</span>  8 month contract</h2>
      <h3 class="scenario-icon">Scenario</h3>
      <p> A retailer with a presence throughout the Americas, Western Europe and South Asia suddenly lost its CFO in the midst of a major expansion into new foreign markets, leaving the company unprepared to face the confusion of foreign exchange and requirements for local partnerships. Dealing in four separate currencies and a host of confusing and sometimes conflicting laws, the company faced significant delays in its expansion as a result.</p>
      <h3 class="solution-icon">Solution</h3>
      <p>The company found an interim CFO with experience in global markets for an indefinite engagement, ultimately converting the consulting arrangement into a full time appointment. The most pressing question of when to keep cash in the host country and when to repatriate it was answered after an exhaustive analysis of each country’s tax laws. Furthermore, local partnerships proved fruitful. In South Asian countries where formal retail is still emerging, byzantine regulations on both operation and finance caused delays for competitors, but the company, through it is new interim CFO, was able to establish key relationships with influencers in each host country to navigate the bureaucracy.
            </p>
      <h3  class="results-icon">Results</h3>
      <p>The company was successful in establishing a stronghold in several capital cities, and through a continuous evaluation of exchange rates was able to achieve an additional 1% increase in actual revenue through forex arbitrage.</p>
    </div>
    <div role="tabpane2" class="tab-pane" id="profile">
      <h2>Manufacturer   <span>* </span> Big Data Analysis <span>*</span>9 Month contract</h2>
        <h3 class="scenario-icon">Scenario</h3>
        <p>A manufacturer with multiple SKUs was facing commoditization and stagnation, losing market share to more innovative competitors. The company was able to find a consultant specializing in big data-driven analytics, and the strategic business background in manufacturing required to derive both the insight and foresight they needed to achieve new levels of growth.</p>
        <h3 class="solution-icon">Solution</h3>
        <p>the consultant shifted the company's traditional historical analysis to a more foresight-driven model. Recognizing that future success doesn't always depend on an analysis of the past, during her 9-month engagement, the consultant analyzed new demographic trends to determine how future customers would react to different product lines, found hidden opportunities and better understood the competitive landscape.
            </p>
        <h3  class="results-icon">Results</h3>
        <p>By analyzing new demographics, the company was able to re-orient its manufacturing line to focus on more productive items, find a completely new audience for its product line and deliver a 9% increase in sales during the engagement period. In addition, they discovered a new use case for the existing product line based on innovations in related technology that had not yet been marketed by competitors. This discovery led to an immediate 4% increase in market share.</p>
    </div>
    <div role="tabpane3" class="tab-pane" id="messages">
      <h2>Ecommerce <span>* </span> Customer Relations Strategist <span>*</span>  6 month contract</h2>
        <h3 class="scenario-icon">Scenario</h3>
        <p>A nationally-recognized online retailer faced stiff competition on sales of products that offered little differentiation from those offered by competing retailers. Recognizing that other companies have achieved incredible success by offering superior customer service, the company brought in a customer relations consultant for a 6-month engagement to completely revamp its customer service department.</p>
        <h3 class="solution-icon">Solution</h3>
        <p>Rather than beginning with software, the consultant began with strategy and by rolling out a new customer service mindset across the board, from the phone bank to the C-suite. Re-training all customer-facing staff to be more engaging and innovative, and giving them the tools and knowledge they needed to become problem-solvers rather than order-takers, the consultant transformed the department into one that became the company's key differentiator in the market.</p>
        <h3  class="results-icon">Results</h3>
        <p>Agents in the call center had been previously trained to escalate problems to other personnel or supervisors if the request went outside of a defined script. Newer training empowered agents to solve a subset of problems and avoid unnecessary escalation, which not only improved customer satisfaction by 40%, it reduced employee churn in the call center and increased sales significantly. The new strategy, combined with an upgrade to the CRM system, gave the company a big boost in the PR department, and a 12% increase in ARPU within the first year.</p>
    </div>
  </div>
      </div>
    </div>
  </div>
  <% endblock %>
