<% extends "site/layout.html" %>
<% block content %> 
		<!-- CONTAINER -->
	<div id="intro" class="col-xs-12 intro">
		<section class="container text-center">
			<h1>Executive Consultants, Exceptional Results</h1>
			<h4>Extend your workforce with the right consulting talent.</h4>
		</section>
	</div>
	<div class="col-xs-12 second">
		<section class="container">
			<article class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6">
				<h2>Avisare is a consulting marketplace that allows companies to connect with the best talent on a contract basis. With Avisare you can:</h2>
				<ul>
		            <li>
		            	Quickly close the skills gap: Hire consultants with specific skills for special projects.
		           	</li>
		            <li>
		            	Adapt to changing demands: Flexibly adjust to changing demands for skills in a cost-effective manner.
		            </li>
		            <li>
		            	Find the needle in the haystack: We showcase consultants who work independently and those who work at consulting firms so you quickly find the talent you need.
		            </li>
		        </ul>
			</article>
		</section>
	</div>
	<div class="col-xs-12 third">
		<section class="container text-center">
			<h3 class="text-center">We feature independent consultants and consulting firms with expertise in the following areas:</h3>
			<article class="col-xs-12 col-sm-4 col-md-4">
				<span class="img-box"><figure class="management"></figure></span>
                   <p>C-Suite &amp;<br> General Management</p>
			</article>
			<article class="col-xs-12 col-sm-4 col-md-4">
				<span class="img-box"><figure class="information"></figure></span>
                   <p>Information <br>Technology</p>
			</article>
			<article class="col-xs-12 col-sm-4 col-md-4">
				<span class="img-box"><figure class="logistics"></figure></span>
                   <p>Supply Chain<br> &amp; Logistics</p>
			</article>
			<article class="col-xs-12 col-sm-4 col-md-4">
				<span class="img-box"><figure class="human"></figure></span>
                   <p>Human Resources</p>
			</article>
			<article class="col-xs-12 col-sm-4 col-md-4">
				<span class="img-box"><figure class="markiting"></figure></span>
                   <p>Marketing</p>
			</article>
			<article class="col-xs-12 col-sm-4 col-md-4">
				<span class="img-box"><figure class="development"></figure></span>
                   <p>Business Strategy<br>&amp; Development</p>
			</article>
		</section>
	</div>
	<div class="col-xs-12 four">
		<section class="container">
			<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h3>Help Us Give Back:</h3>
				<span>Training the Next Generation of Business Leaders</span>
				<p>For every project contracted through our site, we provide a scholarship for a student to learn about entrepreneurship and business.  Hire a consultant while helping plan for a bright future.</p>
				<h2>1 Consultant + 1 Company = 1 Student Scholarship</h2>
			</article>
		</section>
	</div>
	<div class="col-xs-12 banner-home">
		<section class="container text-center">
			<h3>Our site is currently in <span>beta</span> as we perfect the <strong>interviewing, hiring and payment</strong> process.</h3>
			<p>If you are currently <em>consulting</em>, or would like to consult, click <a href="application"><em>here</em></a> to apply for a free listing on the platform. <br>
            If you are a <em>company</em> looking
            to hire a consultant,
            <a href="/contact" class="btn-contact">contact us</a>
            <div class="join-us">Join us on the journey!</div></p>
		</section>
	</div>
	<div class="col-xs-12 back-2 home">
		<section id="why-user" class="container">			
			<article class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
				<h3>Why use Avisare? <br>Because We Can Help</h3>
				<p><b>Avisare</b> is the meeting place and the tool that will help companies hire thousands of <b>executive leaders</b> on an interim or consulting basis.</p>
				<ul>
					<li>
						<ul><b>Quality:</b> Both <b>companies</b> and <b>consultants</b> go through the vetting process to make sure
							<li>Consultants have <b>real industry experience...</b> and</li>
							<li>Companies have the <b>financial resources</b> to provide compensation.</li>
						</ul>
					</li>
					<li><b>Efficiency:</b> Our searchable database of consultants and consulting firms allow you to get to the right people that you need. Need an HR firm that knows Canadian labor law or a software engineer that understands business strategy? Find them here.</li>
					<li>
                        <ul><b>Speed:</b> By posting an RFP, you can find the right contract talent within your budget. Asking around in your network takes time, find who you want when you want in the price range you want…quickly!
							<!--<li>Consultants have <b>real industry experience...</b> and</li>
							<li>Companies have the <b>financial resources</b> to provide compensation.</li> -->
						</ul>
					</li>
				</ul>
			</article>			
		</section>
	</div>
	<!-- END CONTAINER -->

	<% endblock %>
