<% extends "site/layout.html" %>
<% block content %> 
  <!--GO CONTENT HOW IT WORKS-->
  <div class="how-it-box">
    <h1>how it works</h1>
    <div class="works-box">
      <div class="container">
        <div class="inner-box">
          <div class="hand-img">
            <img src="/public/site/images/hand-img.png" alt=""/>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 lft-box">
                    <h2>Consultants</h2>
                    <ul>
                        <li class="register-icon">
                            <h3>Register</h3>
                            <p>Create a professional website using our tools and templates once you have accepted the invitation to join Avisare. </p>
                        </li>
                        <li class="apply-icon">
                            <h3>apply</h3>
                            <p>Find intriguing jobs through our marketplace and apply for them. We will recommend jobs matching your skills and interests.</p>
                        </li>
                        <li class="project-icon">
                            <h3>complete your project</h3>
                            <p>Finalize project scope, milestones and payment terms. Sign any necessary paperwork through the site.</p>
                        </li>
                        <li class="payment-icon">
                            <h3>receive payment</h3>
                           <p>Receive electronic payments through bank to bank transfers. We provide escrow services, making it easy for you to get paid.</p>
                        </li>
                    </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 rgt-box">
              <h2>Companies</h2>
                <ul>
                    <li class="post-icon">
                        <h3>post</h3>
                        <p>Sign up to join Avisare. Once approved, post your project or reach out to our consultants 
                     directly through the platform.</p>
                    </li>
                    <li class="engage-icon">
                        <h3>engage</h3>
                        <p>Review candidates’ profiles and evaluate job proposals. Conduct interviews as needed, and execute any 
                     necessary paperwork through the site.</p>
                    </li>
                    <li class="track-icon">
                        <h3>track</h3>
                        <p>Determine job milestones and payment terms. We provide everything you need to manage your 
                     project, including collaboration tools.</p>
                    </li>
                    <li class="pay-icon">
                        <h3>pay</h3>
                        <p>Make electronic payments using our secure system. We provide escrow services, helping to ensure that 
                     you only pay for work you approve. </p>
                    </li>
                </ul>
            </div>
            <div class="bottom-img">
              <a href="#" class="scroll-down">
                <img src="/public/site/images/work-b-img.png" alt="" />            
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-invitation">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 invitation-img">
            <img src="/public/site/images/invitation-img.jpg" alt="" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content-box">
            <h4><span>Invitation Only:</span> Dependable Results</h4>
            <p>Consultants must be invited to join the site either by companies directly or by other consultants. Once they are invited, they are vetted and approved by our staff. We look for seasoned professionals with at least 10 years of experience, but we do make exceptions for those who have a specialized skill and are at the top of their field.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END CONTENT NOW IT WOKS-->
<% endblock %>