<% extends "site/layout.html" %>
<% block content %> 
	<!-- CONTAINER ---- -->
	<div class="col-xs-12 join">
        <section class="container">
            <div class="col-md-4 text-center">
            	<a href="application" class="btn btn-primary btn-lg submit-contact">Consultant Application</a>
            </div>
                        <div class="col-md-4 text-center">
            	<a href="client" class="btn btn-primary btn-lg submit-contact">Client Registration</a>
            </div>
                        <div class="col-md-4 text-center">
            	<a href="contact" class="btn btn-primary btn-lg submit-contact">Consulting Firm Registration</a>
            </div>
        </section>
    </div>
	<!-- END CONTAINER -->
<!-- MODAL LOGIN -->
	
	<!-- END MODAL LOGIN -->
	<% endblock %>

