<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Avisare</title>
	<!-- CSS -->
	<link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/public/site/css/flexslider.css">
	<link rel="stylesheet" href="/public/site/css/style.css">
	<link rel="stylesheet" href="/public/lib/selectize/dist/css/selectize.bootstrap3.css">
  <link rel="stylesheet" href="/public/lib/AngularJS-Toaster/toaster.min.css">
		
		<!-- JS -->
		<script src="/public/lib/jquery/dist/jquery.min.js"></script>

		<script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>

		<style type="text/css">
			.ui-select-container {
				background: #fff;
				font-size: 16px;
				border: #c2c7cc 1px solid;
				color: #000;
				height: 41px;
				text-transform: none;
				resize: none;
				position: relative;
			}

			.selectize-input {
				-webkit-border-radius: 0 !important;
				-moz-border-radius: 0 !important;
				border-radius: 0 !important;
				padding: 0 !important;
				height: 41px;
			}

			.selectize-input input{
				padding: 12px 20px !important;
				height: 41px !important;
				width: 85%;
    		padding: 12px 20px !important;
			}

			.ui-select-match {
				padding: 12px 20px;
			}

			.ui-select-focusser {
				background: transparent !important;
				z-index: 1;
				position: absolute;
				border: 0 !important;
				height: 41px !important;
				width: 85%;
				left: 0;
				top: 0;
			}
		</style>
	<!-- JS -->
	<script src="/public/lib/jquery/dist/jquery.min.js"></script>
	<script src="/public/site/js/jquery.maskedinput.min.js"></script>
	<script src="/public/site/js/bindfirst.min.js"></script>
	<script src="/public/site/js/jquery.inputmask-multi.js"></script>
	<script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/public/site/js/jquery.flexslider-min.js"></script>
	<script src="/public/site/js/bootbox.min.js"></script>
	<script src="/public/site/js/index.js"></script>
</head>
<body>
	<header>
		<nav id="nav-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
			  <!-- El logotipo y el icono que despliega el menú se agrupan
			       para mostrarlos mejor en los dispositivos móviles -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse"
			            data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Desplegar navegación</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/"><img src="/public/site/images/logo.png"></a>
			  </div>
	 
			  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
			       otro elemento que se pueda ocultar al minimizar la barra -->
				  <div class="collapse navbar-collapse navbar-ex1-collapse">
				    <ul class="nav navbar-nav">
				      <li><a href="/">Home</a></li>
				      <li><a href="about">About</a></li>
				      <li><a href="howitworks">How it works</a></li>
				      <li><a href="example">Examples</a></li>
				      <li><a href="contact">Contact</a></li>

				      <li id="loginButton"><button class="btn btn-primary btn-item btn-login" data-toggle="modal" data-target="#ModalLogin">Login</button></li>
				      <li id="joinButton"><button class="btn btn-primary btn-item btn-join" onclick="javascript:location.href='join'">Join</button></li>
				      <li id="dashboardButton" style="display: none"><button class="btn btn-primary btn-item btn-join" onclick="javascript:location.href='app'">Dashboard</button></li>
				      <li id="logoutButton" style="display: none"><button class="btn btn-primary btn-item btn-login">Log out</button></li>
				    </ul>
				  </div>
			</div>
		</nav>
	</header>

	<% block content %> <% endblock %>
	  <!-- MODAL LOGIN -->
	<div id="ModalLogin" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body">
	            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title text-center">LET'S DO THIS</h4>
	                <form id="loginform" class="form-login">
	                	<div class="form-group text-center col-xs-12 col-sm-10 col-sm-offset-1">
						    <label for="email-login">Email Address</label>
						    <input type="email" class="form-control" id="email" name="email"  placeholder="yourname@example.com" required>
						</div>
						<div class="form-group text-center col-xs-12 col-sm-10 col-sm-offset-1">
						    <label for="pass-login">Password</label>
						    <input type="password" class="form-control" id="password" name="password" required>
						</div>
						<div class="text-center">
							<button class="btn btn-primary btn-lg submit-login">Login</button>
						</div>
						<div class="checkbox">
						    <label>
						      
						    </label>
						    <a class="pull-right" href="/request">forgot password?</a>
						</div>

	                </form>
	            </div>
	            <div class="modal-footer">
	            	<h5 class="text-center">Haven't registered yet?</h5>
	                <a class="btn btn-default" href="/join">Join now!</a>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- END MODAL LOGIN -->

		<!--FOOTER -->
	<div class="col-xs-12">
	<footer>
	  <div class="container">
	   <div class="row">
	    <div class="col-sm-12">
	     <div class="foot-menu">
	             <ul>
	                <li><a href="home">Home</a></li>
	                <li><a href="about">About</a></li>
	                <li><a href="howitworks">how it works</a></li>
	                <li><a href="example">examples</a></li>
	                <li><a href="terms">TERMS</a></li>
	                <li><a href="contact">Contact</a></li>
	             </ul>
	            </div> 
	    </div>
	   </div>
	   <div class="row">
	    <div class="copy-right col-sm-12">
	     <p>&copy; Copyright 2015 AVISARE. All Rights Reserved.</p>
	    </div>
	   </div>
	   <div class="row">
	    <div class="col-sm-12">
	     <div class="social-link">
	            <a href="http://www.twitter.com/avisare1" target="_blank">
	                <img src="/public/site/images/twitter-icon.jpg" alt="" />
	            </a>
	             <a href="https://www.linkedin.com/company/avisare?trk=biz-companies-cym" target="_blank">
	                <img src="/public/site/images/linkedin-icon.jpg" alt="" />
	               </a>
	             <a href="https://www.facebook.com/Hello.Avisare" target="_blank">
	                <img src="/public/site/images/facebook-icon.jpg" alt="" />
	               </a>
	          </div>
	    </div>
	   </div>
	  </div>
 	</footer>
 	</div>

	<% if env=="production" %>
	<script></script>
	<% endif %>

  
</body>
</html>