<% extends "site/layout.html" %>
<% block content %>
<div ng-app='avisare.referral'>
	<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-left'}"></toaster-container>
	<div ui-view class="col-xs-12 back-1">
		<section id="form-client" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<h2 class="text-center">Hi {{SiteCtrl.user.firstName}} {{SiteCtrl.user.lastName}}</h2>
			<p class="text-centrer">{{SiteCtrl.referralUser.firstName}} {{SiteCtrl.referralUser.lastName}} has selected you to provide a reference. Please fill out this form to help us with the matching and evaluation process.</p>
			<form avisare-form novalidate name="SiteCtrl.contactForm" class="form-client" ng-submit="SiteCtrl.sendResponse(SiteCtrl.contactForm)">
				<section class="row">
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label>
							<input ng-model="SiteCtrl.speakOnPhone" name="phone" type="checkbox"> I prefer to speak on the phone
						</label>
					</div>
				</section>
				<section ng-show="SiteCtrl.speakOnPhone" class="row">
					<div class="form-group col-xs-12">
						<label for="phone">Phone Number</label>
	      		<input avisare-phone avisare-input required ng-model="SiteCtrl.contact.phone" type="text" class="form-control" id="phone" placeholder="Phone Number">
	      	</div>
	      	<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
	      	  <label>Time Zone</label>
	      	  <ui-select avisare-input required ng-model="SiteCtrl.contact.timezone" theme="selectize" name="timezone{{$index + 1}}" ng-disabled="disabled" search-enabled="true">
	      	    <ui-select-match placeholder="Time Zone">
	      	      {{$select.selected.value}}
	      	    </ui-select-match>
	      	    <ui-select-choices repeat="timezone in SiteCtrl.timeZones | filter: $select.search">
	      	      <span ng-bind-html="timezone.value | highlight: $select.search"></span>
	      	    </ui-select-choices>
	      	  </ui-select>
	      	</div>
	      	<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
	      	  <label>Best Times to Call</label>
	      	  <ui-select avisare-input required ng-model="SiteCtrl.contact.timeToCall" theme="selectize" name="timeToCall{{$index + 1}}" ng-disabled="disabled" search-enabled="true">
	      	    <ui-select-match placeholder="Best Time to Call">
	      	      {{$select.selected}}
	      	    </ui-select-match>
	      	    <ui-select-choices repeat="timeToCall in SiteCtrl.timesToCall | filter: $select.search">
	      	      <span ng-bind-html="timeToCall | highlight: $select.search"></span>
	      	    </ui-select-choices>
	      	  </ui-select>
	      	</div>
	      	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<button class="btn btn-primary btn-lg submit-client">Send Response</button>
					</div>
				</section>
			</form>
			<form ng-hide="SiteCtrl.speakOnPhone" ng-switch="SiteCtrl.referralInfo.relation" avisare-form novalidate name="SiteCtrl.referalFormsCollage" class="form-client" ng-submit="SiteCtrl.sendResponse(SiteCtrl.referalFormsCollage)">
				<div ng-switch-when="Colleague" ng-hide="SiteCtrl.speakOnPhone">
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>
								If you were a business owner, would you hire {{SiteCtrl.referralUser.firstName}}?
							</label>
							<div>
								<label>
									Yes
									<input avisare-input required ng-model="SiteCtrl.referral.hireAgain" ng-value="true" name="phone" type="radio">
								</label>
								<label>
									No
									<input ng-model="SiteCtrl.referral.hireAgain" ng-value="false" name="phone" type="radio">
								</label>
							</div>
						</div>
						<div ng-show="SiteCtrl.referral.hireAgain" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>In what capacity?</label>
							<textarea autofocus avisare-input ng-model="SiteCtrl.referral.response.hirePosition" type="text" ng-required="SiteCtrl.referral.hireAgain" class="form-control" placeholder="Response"></textarea>
						</div>
					</section>
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>What qualities that you directly experienced make {{SiteCtrl.referralUser.firstName}} a good consultant?</label>
							<textarea autofocus avisare-input ng-model="SiteCtrl.referral.response.goodQualities" type="text" required class="form-control" placeholder="Response"></textarea>
						</div>
					</section>
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>What are the areas for improvement?</label>
							<textarea autofocus avisare-input ng-model="SiteCtrl.referral.response.thingsToImprove" type="text" required class="form-control" placeholder="Response"></textarea>
						</div>
					</section>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<button class="btn btn-primary btn-lg submit-client">Send Response</button>
					</div>
				</div>
			</form>
			<form ng-hide="SiteCtrl.speakOnPhone" ng-switch="SiteCtrl.referralInfo.relation" avisare-form novalidate name="SiteCtrl.referalFormsClient" class="form-client" ng-submit="SiteCtrl.sendResponse(SiteCtrl.referalFormsClient)">
				<div ng-switch-when="Client" ng-hide="SiteCtrl.speakOnPhone">
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>
								Did {{SiteCtrl.referralUser.firstName}} meet or exceed your expectations for the project?
							</label>
							<div>
								<label>
									Yes
									<input avisare-input required ng-model="SiteCtrl.referral.expectationAccomplished" ng-value="true" name="expectationAccomplished" type="radio">
								</label>
								<label>
									No
									<input ng-model="SiteCtrl.referral.expectationAccomplished" ng-value="false" name="expectationAccomplished" type="radio">
								</label>
							</div>
						</div>
					</section>
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>Why <label style="margin: 0" ng-hide="SiteCtrl.referral.expectationAccomplished">not</label>?</label>
							<textarea autofocus avisare-input ng-model="SiteCtrl.referral.response.expectationAccomplished" type="text" required class="form-control" placeholder="Response"></textarea>
						</div>
					</section>
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>What qualities does {{SiteCtrl.referralUser.firstName}} exhibit that make this individual a good consultant?</label>
							<textarea autofocus avisare-input ng-model="SiteCtrl.referral.response.qualities" type="text" required class="form-control" placeholder="Response"></textarea>
						</div>
					</section>
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>Would you hire {{SiteCtrl.referralUser.firstName}} again for another project?</label>
							<div>
								<label>
									Yes
									<input avisare-input required ng-model="SiteCtrl.referral.hireAgain" ng-value="true" name="hireAgainClient" type="radio">
								</label>
								<label>
									No
									<input ng-model="SiteCtrl.referral.hireAgain" ng-value="false" name="hireAgainClient" type="radio">
								</label>
							</div>
						</div>
					</section>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<button class="btn btn-primary btn-lg submit-client">Send Response</button>
					</div>
				</div>
			</form>
			<form ng-hide="SiteCtrl.speakOnPhone" ng-switch="SiteCtrl.referralInfo.relation" avisare-form novalidate name="SiteCtrl.referalFormsManager" class="form-client" ng-submit="SiteCtrl.sendResponse(SiteCtrl.referalFormsManager)">
				<div ng-switch-when="Manager">
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>
								Is {{SiteCtrl.referralUser.firstName}} effective at their job?
							</label>
							<div>
								<label>
									Yes
									<input avisare-input required ng-model="SiteCtrl.referral.consultantEffective" ng-value="true" name="consultantEffective" type="radio">
								</label>
								<label>
									No
									<input ng-model="SiteCtrl.referral.consultantEffective" ng-value="false" name="consultantEffective" type="radio">
								</label>
							</div>
						</div>
					</section>
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>What qualities does {{SiteCtrl.referralUser.firstName}} exhibit that make this individual a good consultant?</label>
							<textarea autofocus avisare-input ng-model="SiteCtrl.referral.response.qualities" type="text" required class="form-control" placeholder="Response"></textarea>
						</div>
					</section>
					<section class="row">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>
								Would you hire {{SiteCtrl.referralUser.firstName}} again?
							</label>
							<div>
								<label>
									Yes
									<input avisare-input required ng-model="SiteCtrl.referral.hireAgain" ng-value="true" name="hireAgain" type="radio">
								</label>
								<label>
									No
									<input ng-model="SiteCtrl.referral.hireAgain" ng-value="false" name="hireAgain" type="radio">
								</label>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label>Why <label style="margin: 0" ng-hide="SiteCtrl.referral.hireAgain">not</label>?</label>
							<textarea autofocus avisare-input ng-model="SiteCtrl.referral.response.hire" type="text" required class="form-control" placeholder="Response"></textarea>
						</div>
					</section>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<button class="btn btn-primary btn-lg submit-client">Send Response</button>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>
<script src="/public/lib/angular/angular.min.js"></script>
<script src="/public/lib/angular-resource/angular-resource.min.js"></script>
<script src="/public/lib/ui-select/dist/select.min.js"></script>
<script src="/public/lib/lodash/dist/lodash.min.js"></script>
<script src="/public/lib/angular-lodash/angular-lodash.js"></script>
<script src="/public/lib/angular-messages/angular-messages.min.js"></script>
<script src="/public/lib/angular-animate/angular-animate.min.js"></script>
<script src="/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/public/lib/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/public/lib/AngularJS-Toaster/toaster.min.js"></script>
<script src="/public/lib/angular-ui-grid/ui-grid.min.js"></script>
<script src="/public/main-referral-web.js"></script>
<% endblock %>