<% extends "site/layout.html" %>
<% block content %>
<div ng-app='avisare.reset'>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-left'}"></toaster-container>
		<div class="col-xs-12 back-1" ng-controller="ResetController as resetCtrl">
			<section id="form-client" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h2 class="text-center">Reset Password</h2>
			  <div class="row" ng-include="'/public/templates/_reset_password.html'"></div>
			</section>
		</div>
		</div>



	<script src="/public/lib/angular/angular.min.js"></script>
	<script src="/public/lib/angular-resource/angular-resource.min.js"></script>
	<script src="/public/lib/ui-select/dist/select.min.js"></script>
	<script src="/public/lib/lodash/dist/lodash.min.js"></script>
	<script src="/public/lib/angular-lodash/angular-lodash.js"></script>
	<script src="/public/lib/angular-messages/angular-messages.min.js"></script>
	<script src="/public/lib/angular-animate/angular-animate.min.js"></script>
	<script src="/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/public/lib/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="/public/lib/AngularJS-Toaster/toaster.min.js"></script>
	<script src="/public/lib/angular-ui-grid/ui-grid.min.js"></script>
	<script src="/public/main-reset-web.js"></script>
	  <% endblock %>
