<% extends "site/layout.html" %>
<% block content %> 
	<!-- CONTAINER ------>
	<section id="bio" class="container">
		<article class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
			<ul class="col-xs-12 col-sm-10">
	            <li>
	            	<a href="terms" class="active">Terms of Use</a>            
	           	</li>
	            <li>
	            	<a href="terms">Privacy Policy</a>            
	         	</li>
         	</ul>
		</article>
		<article class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
			<h2>TERMS OF USE AGREEMENT</h2>
			<small class="pad">Updated: April 24, 2015</small><br>
			<p>Welcome to Avisare. This User Agreement (“Agreement”) is a contract between you (“you”, “your” or “User”) and EOS Management Group, LLC (“Avisare”, “we”, “us” or “our”) and explains the terms under which you are allowed to use the Avisare website at http://www.avisare.com (the “Site”) and Site Services. By accessing or using the Site, you agree to comply with and be legally bound by this Agreement. This Agreement incorporates by reference the agreements and policies referred to herein or linked from <span class="blue">www.avisare.com/terms</span>(“Terms of Use”). Any capitalized term used herein shall have the meaning set forth in Section19 </p>
         <p><strong>1. THE AVISARE PLATFORM.</strong> The Avisare platform provides a curated environment for Clients to advertise Jobs to Consultants. If a Consultant agrees on the terms advertised by or negotiated with a Client, Consultant may enter into a consulting relationship by executing a form of consulting agreement proposed by the Client (an “Engagement”). You acknowledge that Avisare is not a party to an Engagement between a Client and Consultant, but will be a third party beneficiary thereto. 
         </p>
         <p><strong>2. ACCOUNTS.</strong> To access Site Services or become a User you must register for anAvisareaccount (“Account”). You agree toprovide true, accurate and complete information to us and on all registration and other forms you access on the Site,and to update such information to maintain its truthfulness, accuracy and completeness. You must not providemisleading information about your location. You must not register for more than one Client Account and oneConsultant Account without express written permission from Avisare. Upon Account registration, and from time to time thereafter, yourAccount may be subject to verification as well as editorial and feedback reviews.</p>
         <p>Avisare offers the Site Services for your business purposes, and not for personal, household, or consumer use. Toregister for an Account, you must be a legal entity, or an individual in business 18 years or older who can form legallybinding contracts. If you are registering an Account on behalf of a legal entity, you represent that you have the authority to bind the legal entity to this Agreement.When you register for an Account, you also must accept all of the Terms of Service, including thisAgreement. By registering for an Account, you agree: (a) to abide by this Agreement and the processes, procedures,and guidelines described throughout the Terms of Service and the Site,and (b) to be financially responsible for your use ofthe Site and the purchase or delivery of Consultant Services. Avisare reserves the right in its sole discretion to refuse, suspend, or terminate Site Services to youupon discovery that any information you provided on any form or posted on the Site or otherwise provided to us is untrue, inaccurate, or incomplete, or otherwise violates the Terms of Service, or for any other reason or no reason inAvisare’s sole discretion.</p>
         <span>3. FEES</span>
         <p class="tex-indent"><strong>3.1 Avisare Fees.</strong> In consideration for providing Clients with a curated platform to solicit consulting talent, Avisare will receive anonrefundable Service Fee equal to twelve percent (12%)of the Engagement Amount, which shall be paid to Avisare by the Client when funds are deposited into escrow. Because the Service Fee is payment for matching services, Avisare will not refund any portion of the Service Fee if, including but not limited to,(i) the Engagement is terminated for any reason prior to completion, or (ii) the Client finds the Consultant’s performance to be unsatisfactory. 
         </p>	
         <p class="tex-indent"><strong>3.2 Other Fees</strong>. Additional charges may be imposed by Avisare or third parties for providing you with certain services, including but not limited to, payment processing and escrow-related services.
         </p>
         <span>4. JOB.</span>
         <p class="tex-indent"><strong>4.1 Non Disclosure Agreement.</strong> When a Client posts a Job on the Site, the Client has the option of requiring Consultants to agree to the terms and conditions of a non-disclosure agreement (an “NDA”) before receiving access to a full Job description.</p>
         <p class="tex-indent"><strong>4.2 Request for Proposal.</strong> If a Job requires prospective Consultants to submit a proposal, Consultant and Client acknowledge that such proposal shall be submitted and managed through the Site. </p>
         <p class="tex-indent"><strong>4.3Client Representations.</strong> By entering into an Engagement with a Consultant, Client represents that it (i) has the intent to see the Engagement through completion, and (ii) is capable of paying the agreed upon compensation to the Consultant in accordance with the payment schedule agreed upon by the parties.</p>
         <p class="tex-indent"><strong>4.4Consultant Representations.</strong> Consultant agrees that by entering into an Engagement with a Client, that the Consultant is competent to perform the Job. </p>
         <p class="tex-indent"><strong>5. RATING AND FEEDBACK SYSTEM.</strong> Avisare encourages you to leave objective balanced feedback about Users with whom you have transacted. You acknowledge and agree that the Site contains public feedback from Users with whom you have transacted. You acknowledge that feedback results for you may consist of comments and ratings left by other Users and that Avisare may calculate a composite feedback number based on these individual ratings. Consultants agree to be rated by Clients, and Clients agree to be rated by Consultants, along with several other criteria, as determined by Avisare.  Avisare does not monitor or censor these postings or investigate any remarks posted by Users for accuracy or reliability unless a User brings the posting to Avisare’s attention. You may be held legally responsible for damages suffered by other Users or third parties as a result of your remarks if a court finds that your remarks are legally actionable or defamatory. By law, Avisare is not legally responsible for any feedback or comments posted or made available on this Site by any Users or third parties, even if that information is defamatory or otherwise legally actionable. </p>
         <p>ou agree to report violations or abuses of our rating and feedback system immediately by contacting Customer Support, and agree not to take any actions that undermine the integrity of the feedback system, including but not limited to the following:</p>    
         <div class="rating">
            <ul>
               <li>Leaving feedback for yourself, using a different username or another User’s username.</li>
               <li>Leaving fake or inaccurate feedback for another User.</li> 
               <li> Soliciting other Users to leave fake or inaccurate feedback.</li> 
               <li>Threatening to leave negative feedback to induce another User to perform a task not required by an   Engagement.</li>                            <li> Withholding deliverables or funds required by the Engagement to induce another User to leave positive feed
                  back or no feedback.</li> 
               <li> Feedback solicitation such as offering to sell or buy services in exchange for positive feedback, trading 
                  feedback undeservedly or buying feedback.</li>  
            </ul>
         </div>
         <span>6. EXCLUSIVITY.</span>
         <p><strong>.1 Consultant Exclusivity Period.</strong> Consultant agrees that, while Consultant is offering services on the Site, Consultant will not solicit or attempt to solicit his or her consulting services through other online platforms, except that Consultant shall be permitted to solicit consulting services through LinkedIn.</p>
         <p><strong>6.2Payment Exclusivity Period; Opt Out.</strong> Client agrees to make all payments relating to, or in connection with, an Engagement between Client andConsultant through the Site or a Third Party Provider, for a period of eighteen (18) months after the Client identifies the Consultant through the Site (the “Exclusivity Period”). Notwithstanding the above, Clientmay wish to do business with a Consultant outside of the Site (e.g. a subsequent consulting project). If ConsultantServices are rendered outside of the Site within the Exclusivity Period, payment for such ConsultantServices will not be subject to the Service Fees provided that the Client pays Avisare an “Opt Out Fee” with respect to each Engagement, equal to the greater of the following:</p>
         <p>(a)	$5,000; </p>
         <p>(b)	15% of the total cost of the ConsultantServices rendered to the Client during the Exclusivity Period, as estimated in good faith by the Client; or</p>
         <p>(c) All fees that would have been earned by Avisare had the payments been processed through the Site. An interest rate equal to 18% shall be imposed, calculated from the date Client first makes payment to the Consultant until the date Opt Out Fee is paid in full.</p>
         <p>To pay the Opt Out Fee, you must request instructions by sending an email message to support@avisare.com.</p>
         <p class="tex-indent"><strong>6.3 Non-Circumvention.</strong> You agree not to circumvent the payment methods offered by the Site. You agree to not:</p>
         <p>(a) Submit proposals or solicit Consultants identified through the Site to contact, hire, manage or pay outside the Site. </p>
         <p>(b) Accept proposals or solicit parties identified through the Site to contact, deliver services, invoice, or receive payment outside the Site.</p>
         <p>(c) Invoice or report on the Site or in an opt-out request an Engagement Amount lower than that actually agreed between Client and Consultant.</p>
         <p>You agree to notify Avisare immediately if another person improperly contacts you or suggests making or receiving payments outside of the Site. If you are aware of a breach or potential breach of this non-circumvention policy, please submit a confidential report to Avisare by sending an email message to: support@avisare.com.</p>
         <p><strong>7. PROHIBITED ACTIVITIES.</strong> In connection with your use of the Site, you will not:</p>
         <div class="rating">
            <ul>
               <li>Use any robot, spider, scraper or other automated means to access the Site, including but not limited to Job postings, for any purpose without our express written permission;</li>
               <li>Copy, reproduce, modify, create derivative works from, distribute, or publicly display any content (other than content that you have submitted to the Site) from the Site, any software code that is part of the Site, or any Avisare Services offered on the Site without the prior express written permission of Avisare and the appropriate third party, as applicable;</li>
               <li>Violate or assist any party in violating any law, statute, ordinance, regulation or any rule of any self-regulatory or similar organization of which you are or are required to be a member through your use of the Site;</li>
               <li>Provide false, inaccurate or misleading information;</li>
               <li>Infringe upon Avisare’s or any third party’s copyright, patent, trademark, or other intellectual property rights;</li>
               <li>Distribute unsolicited or unauthorized advertising or promotional material, any junk mail, spam or chain letters;</li>
               <li>Reverse engineer or disassemble any aspect of the Avisare Services in an effort to access any source code, underlying ideas and concepts, and algorithms.</li>
               <li>Take any action that imposes an unreasonable or disproportionately large load on our infrastructure, or detrimentally interferes with, intercepts, or expropriates any system, data, or information;</li>
               <li>Transmit or upload any material to the Site that contains viruses, Trojan horses, worms, or any other harmful or deleterious programs;</li>
               <li>Otherwise attempt to gain unauthorized access to the Site, User Accounts, computer systems or networks connected to the Site, through password mining or any other means; or</li>
               <li>Transfer any rights granted to you under this Agreement.</li>
            </ul>
         </div>
         <p><strong>8. THIRD PARTY MATERIAL.</strong> The Site may contain links to third party websites and resources (“Third Party Material”) not controlled by us. You acknowledge and agree that Avisare is not responsible or liable for (i) availability or accuracy of such Third Party Material, or (ii) the content, products or services on or available from such Third Party Material.  Links to such Third Party Material do not imply any endorsement by Avisare of such Third Party Material or the content, products or services available from such Third Party Material. You acknowledge sole responsibility for and assume all risk arising from your use of and interaction with any such Third Party Material. </p>
         <span>9. LICENSES.</span>
         <p class="tex-indent">9.1 License Granted to Avisare. By submitting information to us on the Site, you are agreeing to the terms of this Section 9. You own any and all content and information you post on the Site, including but not limited to personal information, any text, audio or video files, resumes, and other information you post on the Site (“User Content”), and may request its deletion at any time, unless you have shared information or content with others and they have not deleted it, or it was copied or stored by other Users. Additionally, you grant Avisare a non-exclusive, irrevocable, worldwide, perpetual, assignable, sublicensable and royalty-free right to use, exercise, commercialize, and exploit the copyright, publicity, trademark, and database rights with respect to your User Content.</p>
         <p>Any content or information you submit to us is at your own risk. All information submitted to the Site, whether publicly posted or privately transmitted, is the sole responsibility of the person from whom the content originated. Avisare will not be liable for any errors or omissions in any content. By providing content or information to us, you represent and warrant that you are entitled to submit it and that it is not confidential and not in violation of any law, contractual restrictions or other third party rights (including any intellectual property rights). </p> 
         <p>You may submit comments or ideas about the Site, including without limitation about how to improve the Site or Site Services (collectively, “Ideas”). By submitting any Ideas, you agree that: (i) your disclosure is gratuitous, unsolicited and without restriction and will not place Avisare under any fiduciary or other obligation, and (ii) that your Ideas do not contain the confidential or proprietary information of third parties, and that we are free to use the Ideas without any additional compensation to you and to disclose the Ideas on a non-confidential basis or otherwise to anyone. You further acknowledge and agree that, by acceptance of your submission, Avisare does not waive any rights to use similar or related ideas known or developed by Avisare or obtained from sources other than you.</p>
         <p class="tex-indent"><strong>9.2 License Granted to Users.</strong> Avisare grants you a limited, nonexclusive, nontransferable license, subject to the Terms of Service, to access and use the Site, and the content, materials, information and functionality available in connection therewith (collectively, the “Content”) solely for information, transactional, or other approved purposes as permitted by Avisare from time to time. Any other use of the Avisare Services or Content is expressly prohibited. All other rights in the Avisare Services or Content are reserved by us and our licensors. You will not otherwise copy, transmit, distribute, sell, resell, license, de-compile, reverse engineer, disassemble, modify, publish, participate in the transfer or sale of, create derivative works from, perform, display, incorporate into another website, or in any other way exploit any of the Content or any other part of the Avisare Services or any derivative works thereof, in whole or in part for commercial or non-commercial purposes.  Without limiting the foregoing, you will not frame or display the Site or Content (or any portion thereof) as part of any other web site or any other work of authorship without the prior written permission of Avisare. If you violate any term of this Agreement, your permission to access and use the Avisare Services may be terminated pursuant to this Agreement.  In addition, we reserve the right to all remedies available at law and in equity for any such violation. “Avisare.com”, “Avisare”, and all logos related to the Avisare or displayed on the Site are either trademarks or registered marks of Avisare or its licensor.  You may not copy, imitate or use them without Avisare’s prior written consent.</p>
         <strong>10. TERM; TERMINATION AND SUSPENSION. </strong>
         <p class="tex-indent">10.1 Term. The term of this Agreement shall commence on the date of your first visit to the Site, and shall remain in effect until terminated in accordance with this Section 10.</p>
         <p class="tex-indent">10.2 Termination. Either party may terminate this Agreement at any time, with or without cause, immediately upon written notice to the other party. In the event you properly terminate this Agreement, your Account is automatically terminated; however, (i) if you have any open Engagements when you terminate this Agreement you will continue to be bound by this Agreement until all such Engagements have closed; (ii) Avisare will continue to perform those services necessary to complete any open Engagement or related transaction between you and another User, and (iii) you will continue to be obligated to pay any amounts accrued but unpaid as of the date of termination or as of the completion of any open Engagements, whichever is later, to Avisare for any Avisare Services and to any Consultants for any Consultant Services.</p>
         <p class="tex-indent">10.3 Suspension. Without limiting Avisare’s other remedies, we may issue a warning, or temporarily suspend, indefinitely suspend or terminate your User access, Account or a Job, and refuse to provide any or all Avisare Services to you if: (a) you breach the letter or spirit of any terms or conditions of this Agreement, other parts of the Terms of Service, or the linked policies and information incorporated herein by reference, including our written policies and procedures posted on the Site; (b) we suspect or become aware that you have provided false or misleading information to us; (c) we believe that your actions are in violation of Section 6 of this Agreement; or (d) we believe, in our sole discretion, that your actions may cause legal liability for you, our Users, or Avisare or our Affiliates, may be contrary to the interests of the Site or the User community, or may involve illicit activity. Once your Account is indefinitely suspended or terminated, you must not continue to use the Site under the same Account or a different Account or reregister under a new Account without Avisare’s prior written consent.</p>	
         <span>10.4 Effect of Suspension or Termination.</span>
         <p class="tex-indent"><strong>10.4.1 Notifying Other Users.</strong> If Avisare suspends or terminates your Account, Avisare has the right but not the obligation, to notify other Users with which you have an Engagement to inform them of your suspended or terminated Account.</p>
         <p class="tex-indent"><strong>10.4.2 Post-Termination Access.</strong> When your Account is terminated for any reason, you will no longer have access to data, messages, files and other material posted or stored on the Site. If practicable, for a period of one year from the date of termination, we will retain this information along with all your previous posts and proposals. If you appeal our decision to terminate your Account within the one-year period, we will retain your information until such dispute is resolved. If you fail to appeal our decision within one year, Avisare may permanently delete your information. Any additional post-termination access or assistance from us is subject to mutual written agreement by you and us.</p>
         <p><strong>11. COPYRIGHT INFRINGEMENT.</strong> The Digital Millennium Copyright Act of 1998 (the "DMCA") provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under U.S. copyright law. If you believe that any materials on our Site infringe your copyright, you may request that they be removed. This request must bear a signature (or electronic equivalent) of the copyright holder or an authorized representative, and must: (a) identify the allegedly infringing materials; (b) indicate where on the Site the infringing materials are located; (c) provide your name and contact information; (d) state that you have a good faith belief that the materials are infringing; (e) state that the information in your claim is accurate; and (f) indicate that "under penalty of perjury" you are the lawful copyright owner or are authorized to act on the owner's behalf. If you believe that someone has wrongly filed a notice of copyright infringement against you, the DMCA permits you to send us a counter-notice. Notices and counter-notices must meet the then-current statutory requirements imposed by the DMCA. See http://www.copyright.gov/ for further information. Our contact for copyright issues relating to the Avisare Services (including the notices and counter-notices) is:</p>
         <p>
            EOS Management Group, LLC<br/>
            Attn: Copyright Agent<br/>
            c/o Matthew Crowley, Esq.<br/>
            15760 Ventura Blvd, Suite 700<br/>
            Encino, CA 91436<br/>
            copyright@avisare.com
         </p>
         <p>Please note that there are penalties for false claims under the DMCA.</p>
         <p><strong>12. MODIFICATION TO TERMS.</strong> This Agreement is subject to revision by Avisare. If we deem any of the revisions to be material changes, we will post a notice of the changes on our Site. Any changes will be effective upon the earlier of the date specified in such notice or that posting of notice of changes, provided that the changes will not apply to your use of the Avisare Services prior to the effective date of the changes. If you do not accept the changes, you should not continue to use the Avisare Services. If any change is found invalid, void or for any reason unenforceable, that change is severable and does not affect the validity and enforceability of any remaining changes or conditions. You should check for any new notices of changes regularly and stay informed of the Terms of Service. Your continued use of the Avisare Services after any change, regardless of whether a change was received by you directly, indicates your acceptance and agreement to any such change.</p>
         <span>13. DISPUTES WITH AVISARE.</span>
         <p class="tex-indent"><strong>13.1 General.</strong> You and Avisare agree that we will resolve any claim or controversy at law or in equity that arises between us out of or relating to this Agreement or the Avisare Services (a “Claim”) in accordance with this Section 13.</p>
         <p>13.2 Informal Dispute Resolution. Before serving a demand for arbitration of a claim or otherwise seeking injunctive or other equitable relief in a court of law as expressly permitted in this Agreement, you agree to attempt to resolve the claim in good faith through the following process:</p>
         <p>(i) promptly contact Avisare Customer Support here to inform them of your claim and seek resolution;</p>
         <p>(ii) If Customer Support fails to resolve your claim, notify Avisare in writing of your claim (the “Notice”) by certified mail to EOS Management Group, LLC, c/o Matthew Crowley, Esq.,15760 Ventura Blvd, Suite 700, Encino, CA 91436. The Notice shall include: your name, pertinent account information so we can identify your Account, a brief description of your claim, and contact information. We shall have 60 days from the date of our receipt of the Notice to informally resolve the Claim, which if successful will avoid the need for further action.</p>
         <p class="tex-indent"><strong>13.3 Arbitration.</strong> If we fail to resolve your Claim through informal negotiation, your Claim shall be finally settled on an individual basis through confidential, binding arbitration in accordance with the American Arbitration Association's rules and you and Avisare hereby expressly waive trial by jury. The arbitration shall take place in Los Angeles, California, in the English language and the arbitral decision may be enforced in any court. At your request, hearings may be conducted in person or by telephone and the arbitrator may provide for submitting and determining motions on briefs, without oral hearings. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys' fees. Additionally, you hereby waive your right to participate in a class action lawsuit or class-wide arbitration.</p>
         <p><strong>14.WARRANTY.</strong> You understand and acknowledge that the Avisare Services are being provided to you “AS IS” and “AS AVAILABLE” without warranty of any kind. AVISARE SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT. AVISARE DOES NOT GUARANTEE CONTINUOUS, UNINTERRUPTED OR SECURE ACCESS TO ANY PART OF THE AVISARE SERVICES.</p>
         <p><strong>15. LIMITATION OF LIABILITY.</strong> TO THE MAXIMUM EXTENT PERMITTED BY LAW, AVISARE SHALL HAVE NO LIABILITY FOR ANY DAMAGES OF ANY KIND (INCLUDING WITHOUT LIMITATION INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR TORT DAMAGES, OR LOST PROFITS) IN CONNECTION WITH THIS AGREEMENT, EVEN IF AVISARE HAS BEEN ADVISED OR IS AWARE OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL AVISARE’S LIABILITY FOR MONEY DAMAGES UNDER THIS AGREEMENT EXCEED ONE HUNDRED DOLLARS ($100.00).</p>
         <p><strong>16. INDEMNIFICATION.</strong> You agree to defend, hold harmless and indemnify Avisare, our Affiliates, and our respective officers, directors, employees, attorneys, agents, joint ventures, and our and their respective successors and assigns (each such party an “Indemnified Party”) from and against any and all losses, costs, expenses, damages or other liabilities (including reasonable attorneys’ fees and costs) incurred by an Indemnified Party arising from or related to any cause of action, claim, suit, proceeding, demand or action brought by a third party against an Indemnified Party in connection with your use of the Site Services, including: (a) any payment obligations incurred through use of the Site Services; (b) any allegation of any infringement, misappropriation, or other violation of any Intellectual Property Rights by you or your agents, including by any Work Product provided by you or your agents; (c) your: (i) use of the Site; (ii) decision to supply personal information via the Site; (iii) decision to submit Job postings and User Content, and accept offers from other Users; (iv) breach of any provision of this Agreement; (v) dispute of or failure to pay any invoice or make any other payment; (vi) obligations to a Consultant, including payment obligations; (d) any breach of contract or other claims made by Users with which you conducted business through the Site; (e) any liability arising from the tax treatment of payments or any portion thereof; or (f) anything which the Indemnified Party may do or refrain from doing in connection with this Agreement and the Terms of Service. The foregoing indemnity will include, without limitation, such cause of action, claim, suit, proceeding, demand or action arising out of the negligence of any Indemnified Party; provided that the foregoing indemnification shall not extend to the gross negligence or willful misconduct of an Indemnified Party.</p>
         <p><strong>17. RELEASE.</strong> In addition to the recognition that Avisare is not a party to any Engagement between Client and Consultant, you hereby release Avisare, our Affiliates, and our respective officers, directors, employees, attorneys, agents, subsidiaries, joint ventures, and our and their respective successors and assigns from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with any Dispute you have with another User, whether it be at law or in equity. This release includes, for example and without limitation, any Disputes regarding the performance, functions, and quality of the Consultant Services provided to Client by a Consultant and requests for refunds based upon Disputes.</p>
         <p>YOU HEREBY WAIVE CALIFORNIA CIVIL CODE § 1542 (AND ANY ANALOGOUS LAW IN ANY OTHER APPLICABLE JURISDICTION) WHICH SAYS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”</p>
         <p>This release will not apply to a claim that Avisare failed to meet an Avisare obligation under this Agreement.</p>
         <span>18. GENERAL TERMS</span>
         <p class="tex-indent"><strong>18.1 Assignment.</strong> This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Avisare without restriction, including without limitation to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Avisare Services.  Any attempted transfer or assignment in violation hereof shall be null and void.  Subject to the foregoing, this Agreement will bind and inure to the benefit of the parties, their successors and permitted assigns. </p>
         <p class="tex-indent"><strong>18.2 Severability.</strong> If any provision of this Agreement shall be determined to be invalid or unenforceable under the rule, law or regulation or any governmental agency, local, state, or federal, such provision will be changed and interpreted to accomplish the objectives of the provision to the greatest extent possible under any applicable law and the validity of enforceability of any other provision of this Agreement shall not be affected.</p>
         <p class="tex-indent"><strong>18.3 Entire Agreement.</strong> This Agreement and other legal notices and agreements published by Avisare on the Site, comprise the entire understanding and agreement between you and Avisare as to the subject matter hereof, and supersedes any and all prior discussions, agreements and understandings of any kind, written or oral (including without limitation any prior versions of this Agreement), and every nature between and among you and Avisare, as well as any conflicting or inconsistent terms in any website(s) that link to or are linked from the Site. </p>
         <p class="tex-indent"><strong>18.4 Side Agreements.</strong> Subject to Section 6, Clients and Consultants may enter into any supplemental or other written agreement that they deem appropriate (e.g. confidentiality agreement, assignment of rights, etc.), as long as Client and Consultant provide written notice and the scope of any side agreements to the Company. The terms and conditions of this Agreement, however, will govern and supersede any term or condition in a side agreement that purports to expand Avisare’s obligations or restrict Avisare’s rights under this Agreement. </p>
         <p class="tex-indent"><strong>18.5 No Waiver.</strong> The failure or delay of either party to exercise or enforce any right or claim does not constitute a waiver of such right or claim and shall in no way affect that party’s right to later enforce or exercise it, unless such party issues an express written waiver, signed by a duly authorized representative of each party.</p>
         <p class="tex-indent"><strong>18.6 Governing Law.</strong> This Agreement shall be governed by the laws of the State of California, without regard to its conflicts of law principles.</p>
         <p><strong>19. DEFINITIONS.</strong> As used in this Agreement and the other Terms of Service, the following terms have the meanings given below, unless otherwise defined or required in context:</p>
         <p><strong>“Account”</strong> means the Avisare account you open when you register to become a User and use the Site Services.</p>
         <p><strong>“Affiliate”</strong> means any entity that, directly or indirectly, through one or more intermediaries, controls, is controlled by, or is under common control with Avisare.</p>
         <p><strong>“Avisare Services”</strong> means the creation, hosting, maintenance, and provision of the Site and all services delivered by Avisare that are accessible through the Site. The term Avisare Services does not include Consultant Services or Third-Party Services.</p>
         <p><strong>“Client”</strong> means a User that investigates and purchases Consultant Services or identifies a Consultant through the Site.</p>
         <p><strong>“Consultant”</strong> means a User that offers and delivers Consultant Services to or identifies a Client through the Site.</p>
         <p><strong>“Consultant Services”</strong> means all services performed for or delivered to Clients by Consultants.</p>
         <p><strong>“Dispute”</strong>, if capitalized, means any dispute between Users (ex: a dispute between a Client and Consultant). The use of the un-capitalized term “dispute” anywhere on the Site refers to any dispute, whether between Users or with Avisare.</p>
         <p><strong>“Intellectual Property Rights”</strong> means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</p>
         <p><strong>“Job”</strong> means a consulting job advertised by a Client on the Site.</p>
         <p><strong>“Service Fee”</strong> means the fee that Avisare earns for providing Clients with a curated environment to solicit consulting talent.</p>
         <p><strong>“Site”</strong> means the domain and all subdomains of Avisare.com and any mobile or web services or applications owned, controlled, or offered by Avisare.</p>
         <p><strong>“Site Services”</strong> means all services that are accessible through the Site whether provided by Avisare, an Affiliate or a third party except a Consultant. Site Services includes the Third-Party Services but excludes Consultant Services.</p>
         <p><strong>“Terms of Service”</strong> means this Agreement and all other Site agreements and policies referenced or linked therein or from the following URL: <span class="blue">https://www.avisare.com/terms.</span></p>
         <p><strong>“Third-Party Provider”</strong> means a provider of Third-Party Services.</p>
         <p><strong>“Third-Party Services”</strong> means all services that are accessible through the Site but delivered by third parties, not Avisare or its Affiliates. The term Third-Party Services does not include Avisare Services or Consultant Services.</p>
         <p><strong>“Third-Party Sites”</strong> means all websites, Third-Party Services and resources linked to from the Site. </p>
         <p><strong>“User”</strong> means a person or entity that registers for an Account.</p>
         <p><strong>“Work Product”</strong> means any tangible or intangible results or deliverables that Consultant agrees to create for, or actually delivers to, Client as a result of performing the Consultant Services on a particular Job, including but not limited to, business plan, strategies, initiatives, processes, policies, diagrams and other visuals, or other information, and any intellectual property developed in connection therewith. </p>

		</article>
	</section>
	<!-- END CONTAINER -->
		  <% endblock %>