<div class="box box-warning">
    <form name="addIndustryForm" ng-submit="prospect.addNewProspect(prospect.prospect)">
        <div class="box-body">
            <div class="col-xs-12">
                <input type="hidden" ng-model="prospect.prospect.id">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" ng-model="prospect.prospect.firstName" id="firstName" ng-required="true" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" ng-model="prospect.prospect.lastName" id="lastName" ng-required="true" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" ng-model="prospect.prospect.companyName" id="companyName" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" ng-model="prospect.prospect.email" id="email" ng-required="true" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input avisare-phone avisare-input type="text" class="form-control" ng-model="prospect.prospect.phoneNumber" id="phoneNumber" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" ng-model="prospect.prospect.message" id="message" disabled="disabled"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>