<div class="box box-warning">
    <form name="addSkillForm" ng-submit="skill.addNewSkill(skill.skill)">
        <div class="box-body">
            <div class="col-xs-12">
                <input type="hidden" ng-model="skill.skill.id">
                <div class="form-group">
                    <label for="skillName">Name</label>
                    <input type="text" class="form-control" ng-model="skill.skill.skillName" id="skillName" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="skillDescription">Description</label>
                    <input type="text" class="form-control" ng-model="skill.skill.skillDescription" id="skillDescription">
                </div>
                <div class="form-group">
                    <label for="skillStatus">Status</label>
                    <input type="checkbox" ng-model="skill.skill.skillStatus" id="skillStatus">
                </div>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </div>
    </form>
</div>