<!-- Basic Info -->
<div class="box box-primary">

    <div class="box-header">
        <button type="button" class="btn btn-primary" ng-click="skill.showForm()">New Skill</button>
    </div>

    <div class="box-body">
        <div class="col-sm-12 col-xs-12">
            <div class="form-group">
                <div ui-grid="skill.gridOptions" ui-grid-edit ui-grid-pagination ui-grid-resize-columns ></div>
            </div>
        </div>
    </div>
</div><!-- /. Basic Info -->