<form avisare-form ng-disable="siteCtrl.sending" novalidate class="form-client row" name="siteCtrl.experienceForm" id="experienceForm">
  <div class="container-fluid" ng-controller="AddressController as addressCtrl">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label for="country">Country</label>
        <ui-select avisare-input required name="country" ng-model="addressCtrl.country" theme="selectize" ng-disabled="disabled" search-enabled="true" on-select="addressCtrl.changeCountry($select.selected.id)" id="country">
          <ui-select-match placeholder="Select country">{{$select.selected.countryName}}</ui-select-match>
          <ui-select-choices repeat="country in addressCtrl.countries | filter: $select.search">
            <span ng-bind-html="country.countryName | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label for="state">State</label>
        <ui-select avisare-input required name="state" ng-model="addressCtrl.state" theme="selectize" ng-disabled="disabled" search-enabled="true" on-select="addressCtrl.changeState($select.selected.id)" id="state">
          <ui-select-match placeholder="Select a state">{{$select.selected.stateName}}</ui-select-match>
          <ui-select-choices repeat="state in addressCtrl.states | filter: $select.search">
            <span ng-bind-html="state.stateName | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label for="city">City</label>
        <ui-select avisare-input required name="city" ng-model="addressCtrl.city" theme="selectize" ng-disabled="disabled" search-enabled="true" on-select="addressCtrl.changeCity($select.selected.id)" id="city">
          <ui-select-match placeholder="Select a city">{{$select.selected.cityName}}</ui-select-match>
          <ui-select-choices repeat="city in addressCtrl.cities | filter: $select.search">
            <span ng-bind-html="city.cityName | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label for="phone">Phone Number</label>
        <input avisare-phone avisare-input required name="phone" ng-model="addressCtrl.address.phoneNumber" type="text" class="form-control" id="phone" placeholder="Phone Number">
      </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-controller="IndustryController as IndustryCtrl">
          <label for="primaryIndustry">Primary Industry</label>&nbsp;<i class="fa fa-question-circle" uib-tooltip="{{IndustryCtrl.industryTooltip}}" tooltip-placement="right" tooltip-class="tooltip-application"></i>
          
          <ui-select avisare-input required name="primaryIndustry" ng-model="IndustryCtrl.industryApplication" theme="selectize" ng-disabled="disabled" search-enabled="true" id="primaryIndustry">
            <ui-select-match placeholder="Select a Industry">
              {{$select.selected.industryName}}
            </ui-select-match>
            <ui-select-choices repeat="industry in IndustryCtrl.industries | filter: $select.search">
              <span ng-bind-html="industry.industryName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-controller="FunctionController as functionCtrl">
          <label for="primaryFunction">Primary Function</label>&nbsp;<i class="fa fa-question-circle" uib-tooltip="{{applicationCtrl.primaryFunctionTooltip}}" tooltip-placement="right"></i>
          <!-- <input avisare-input required name="primaryFunction" type="text" ng-model="applicationCtrl.application.profile.primaryFunction" class="form-control" id="primaryFunction" placeholder="Primary Function"> -->
          <ui-select avisare-input ng-model="functionCtrl.functionSelected" theme="selectize" ng-disabled="disabled" search-enabled="true" name="primaryIndustry">
            <ui-select-match placeholder="Select a Primary Function">
              {{$select.selected.functionName}}
            </ui-select-match>
            <ui-select-choices repeat="function in functionCtrl.functions | filter: $select.search">
              <span ng-bind-html="function.functionName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="resume">Resume</label>&nbsp;<i class="fa fa-question-circle" uib-tooltip="{{applicationCtrl.maxSizeFile}}" tooltip-placement="right"></i>
    <avisare-file class="form-control" name="resume" required ng-model="applicationCtrl.application.profile.resume" placeholder="Resume">
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="writingSample">Writing Sample</label>&nbsp;<i class="fa fa-question-circle" uib-tooltip="{{applicationCtrl.maxSizeFile}}" tooltip-placement="right"></i>
    <avisare-file class="form-control" name="writingSample" required ng-model="applicationCtrl.applicationData.writingSample" id="writingSample" placeholder="Writing Sample">
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="aboutMe">Value Proposition</label>&nbsp;<i class="fa fa-question-circle" uib-tooltip-template="'myTooltipTemplate.html'" tooltip-placement="right"></i>
    <span class="pull-right" style="font-size: small">Characters left: {{500 - applicationCtrl.setting.aboutMe.length}}</span>
    <textarea  avisare-input required avisare-input name="aboutMe" class="form-control" id="aboutMe" ng-model="applicationCtrl.setting.aboutMe" rows="3" ng-maxlength="500" maxlength="500" placeholder="Value Proposition"></textarea>
  </div>
  <script type="text/ng-template" id="myTooltipTemplate.html">
      <span>Your value proposition is a description of the services that you offer in 2-3 sentences. Consider mentioning years of experience in a particular industry and/or function in addition to the areas of a business in which you’ve had the most impact. Your V.P. should be: <strong>Clear</strong> (make it easy to understand), <strong>Specific</strong> (the more specific, the easier it will be for companies to find you), and <strong>Benefits-oriented</strong>. </span>
    </script>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="linkedin">Linkedin Profile</label>
    <input name="linkedin" avisare-input  maxlength="255" ng-maxlength="255" required ng-model="applicationCtrl.application.profile.linkedin" type="text" class="form-control" id="linkedin" placeholder="Linkedin Profile">
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="skype">Skype Username</label>
    <input name="skype" avisare-input  maxlength="255" ng-maxlength="255" ng-model="applicationCtrl.application.profile.skype" type="text" class="form-control" id="skype" placeholder="Skype Username">
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="webSite">Website Url</label>
    <input avisare-input name="webSite" type="url"  maxlength="255" ng-maxlength="255" ng-model="applicationCtrl.applicationData.websiteUrl" class="form-control" id="webSite" placeholder="http://website.com">
  </div>
</form>
<form ng-disable="siteCtrl.sending" name="siteCtrl.caseForm" novalidate class="form-client">
  <div class="container-fluid row" ng-controller="caseStudiesController as caseCtrl" ng-init="caseCtrl.application = true">
    <article class="row" ng-repeat="case in caseCtrl.caseStudies" style="border: 3px solid #fff; border-radius: 10px; padding: 35px; margin: 25px 0 20px 0"  id="application-case-study-{{::$index}}">
      <h3 style="font-family: source_sans_probold; margin-top: -55px; padding-bottom: 35px">
        <span style="background: #dce8f6 none repeat scroll 0 0; color: #000; display: inline-block; float: left; padding: 5px 0px">CASE STUDY {{$index + 1}}</span>
        <small style="background: #40bff1 none repeat scroll 0 0; font-size: 15px; font-family: source_sans_proregular; padding: 12px 0; width: 190px; border-radius: 5px; color: #fff; float: right; text-align: center; cursor:pointer;" ng-click="caseCtrl.caseStudyExample()">CASE STUDY EXAMPLE</small>
      </h3>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="caseStudyTitle">Title</label>
        <input avisare-input type="text" class="form-control"  maxlength="255" ng-maxlength="255" placeholder="Title" ng-model="case.caseStudyTitle" id="caseStudyTitle" required>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="caseStudyTitle">Industry</label>
        <ui-select avisare-input ng-model="case.industrySelected" theme="selectize" ng-disabled="disabled" search-enabled="true" required>
            <ui-select-match placeholder="Select a Industry">
                {{$select.selected.industryName}}
            </ui-select-match>
            <ui-select-choices repeat="industry in caseCtrl.industries | filter: $select.search">
                <span ng-bind-html="industry.industryName | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="caseStudyProblem">Problem</label>
        <textarea avisare-input class="form-control" id="caseStudyProblem" ng-model="case.caseStudyProblem" rows="3" placeholder="Problem" required></textarea>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="caseStudySolution">Solution</label>
        <textarea avisare-input class="form-control" id="caseStudySolution" ng-model="case.caseStudySolution" rows="3" placeholder="Solution" required></textarea>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="caseStudyResult">Result</label>
        <textarea avisare-input class="form-control" id="caseStudyResult" ng-model="case.caseStudyResult" rows="3" placeholder="Result" required></textarea>
      </div>
    </article>  
  </div>
</form>
<div class="form-client col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <button ng-disable="siteCtrl.sending" ng-click="siteCtrl.syncApplication(siteCtrl.experienceForm)" class="btn btn-primary btn-lg submit-client">Save</button>
  <button ng-disable="siteCtrl.sending" ng-click="siteCtrl.stepTwo(siteCtrl.experienceForm)" class="btn btn-primary btn-lg submit-client">Last Step <i class="fa fa-angle-right"></i></button>
</div>