<form novalidate class="form-client" ng-controller="ReferenceController as referenceCtrl" name="siteCtrl.ReferenceForm">
  <section class="row" ng-repeat="reference in referenceCtrl.references">
    <h3 class="container-fluid">Reference {{$index + 1}}</h3>
    <div class="col-sm-12">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="firstName">First Name</label>
      <input avisare-input required  maxlength="255" ng-maxlength="255" ng-model="reference.firstName" type="text" class="form-control" id="firstName{{$index + 1}}" name="firstName{{$index + 1}}" placeholder="First Name">
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="lastName">Last Name</label>
      <input avisare-input required  maxlength="255" ng-maxlength="255" ng-model="reference.lastName" type="text" class="form-control" id="lastName{{$index + 1}}" name="lastName{{$index + 1}}" placeholder="Last Name">
    </div>
    </div>
    <div class="col-sm-12">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="communitacionMethod">Method of Communication</label>
      <ui-select avisare-input ng-model="reference.communitacionMethod" theme="selectize" ng-disabled="disabled" search-enabled="true">
        <ui-select-match placeholder="Method of Communication">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="communitacionMethod in referenceCtrl.communitacionMethod | filter: $select.search">
          <span ng-bind-html="communitacionMethod | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="email">Email</label>
      <input avisare-input required  maxlength="255" ng-maxlength="255" ng-model="reference.email" type="email" class="form-control" name="email{{$index + 1}}" id="email{{$index + 1}}" placeholder="Email">
    </div>
    </div>
    <div class="col-sm-12">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="phone">Phone Number</label>
      <input avisare-phone avisare-input ng-model="reference.phone" type="text" class="form-control" id="phone" placeholder="Phone Number">
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="relation">Relationship to Applicant</label>
      <ui-select avisare-input required ng-model="reference.relation" theme="selectize" id="relation{{$index + 1}}" name="relation{{$index + 1}}" ng-disabled="disabled" search-enabled="true">
        <ui-select-match placeholder="Relationship to Applicant">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="relation in referenceCtrl.relation | filter: $select.search">
          <span ng-bind-html="relation | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    </div>
  </section>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <button ng-click="siteCtrl.syncApplication(siteCtrl.experienceForm)" class="btn btn-primary btn-lg submit-client">Save</button>
    <button ng-click="siteCtrl.submitApplication()" class="btn btn-primary btn-lg submit-client">Submit</button>
  </div>
</form>