<form avisare-form novalidate ng-disable="siteCtrl.sending" class="form-client" name="siteCtrl.basicForm" ng-submit="siteCtrl.stepOne(siteCtrl.basicForm)">
  <div class="container-fluid row">
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="firstName">First Name</label>
      <input name="firstName" avisare-input  maxlength="255" ng-model="applicationCtrl.application.firstName" type="text" required class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label for="lastName">Last Name</label>
      <input name="lastName" avisare-input  maxlength="255" ng-model="applicationCtrl.application.lastName" type="text" required class="form-control" id="lastName" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="email">Email Address</label>
    <input name="email" avisare-input  maxlength="255" ng-model="applicationCtrl.application.email" type="email" required class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="referred">Person Who Referred You</label>
    <input name="referred" avisare-input  maxlength="255" ng-model="applicationCtrl.applicationData.referredBy" type="text" class="form-control" id="referred" placeholder="Referred By">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <button class="btn btn-primary btn-lg submit-client">Next Step <i class="fa fa-angle-right"></i></button>
  </div>
</form>