<div style="padding: 15px; position: relative">
    <i class="fa fa-info-circle fa-5x" style="text-align: center; display: inline-block; width: 100%"></i>
    <h2>
        <p style="font-size:17px;text-align:left;margin-bottom: 5px; color: #797979">
            <strong style="font-weight: bold;">Title:</strong> Healthcare Interim VP of Shared Services
        </p>
        <p style="font-size:17px;text-align: left;margin-bottom: 5px; color: #797979">
            <strong style="font-weight: bold;">Problem:</strong> TierCo Healthcare Solutions, a publicly held $1billion healthcare solutions company based in San Diego, CA, needed an interim VP of Shared Services to reorganize the structure of the department while they conducted a permanent search. The existing department set-up needed restructuring to break down silos and promote cooperation and innovation.
        </p>
        <p style="font-size:17px;text-align: left;margin-bottom: 5px; color: #797979">
            <strong style="font-weight: bold;">Solution:</strong> I was hired for a six month engagement to recruit and later manage a 200 person team of professional service providers. During my tenure, I redesigned the shares services structure from a revenue focus to a service excellence focus with goals around operational efficiency.
        </p>
        <p style="font-size:17px;text-align: left;margin-bottom: 5px; color: #797979">
            <strong style="font-weight: bold;">Result:</strong> Service-related write-offs were reduced by 90%. Captured $12m by implementing strict audit processes for unbilled revenue. Saved the department $565k by creating KPIs for improved operational management.
        </p>
    </h2>
</div>
<div class="modal-footer">
    <button style="display: inline-block; background-color: rgb(174, 222, 244); box-shadow: 0px 0px 2px rgba(174, 222, 244, 0.8), 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset; margin: 26px 5px 0; padding: 10px 32px; font-weight: 500; font-size: 17px; border:medium; border-radius: 5px" type="button" ng-click="$close()">Ok</button>
</div>