<!-- Cases Studies -->
<div class="box box-primary" ng-controller="caseStudiesController as caseCtrl">
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="col-sm-6 col-xs-12" ng-controller="AddressController as address">

                <h4>Case Studies</h4>
                <button type="button" class="btn btn-primary" ng-click="caseCtrl.openModal()"><i class="fa fa-plus-circle"></i> &nbsp; Add New</button>
            </div>
            <div class="col-xs-12">

                <div class="caseStudiesList row" ng-repeat="case in caseCtrl.caseStudies">
                    <hr/>
                    <div class="col-xs-6">
                        <h4>{{case.caseStudyTitle}}</h4>
                        <p>Added on {{case.createdAt | date}}</p>
                    </div>
                    <div class="col-xs-5 case-study-options">
                        <a ng-click="caseCtrl.openModal(case)">
                           <i style="cursor: pointer" class="fa fa-edit"></i>
                        </a>
                        <a ng-click="caseCtrl.deleteCaseStudy(case)">
                            <i style="cursor: pointer" class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    <br>
                </div>
            </div>

        </div>
        <!-- /.box-body -->

    </form>
</div>
<!-- /. Cases Studies -->