<div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-danger btn-sm" ng-click="caseCtrl.closeModal()">
          <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <form novalidate avisare-form name="caseCtrl.caseStudyForm" ng-submit="caseCtrl.syncCaseStudy()">
        <div class="box-body">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="caseStudyTitle">Title</label>
                    <input avisare-input  ng-maxlength="255" maxlength="255" type="text" class="form-control" ng-model="caseCtrl.caseStudy.caseStudyTitle" id="caseStudyTitle" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Industry</label>
                    <ui-select avisare-input ng-model="caseCtrl.caseStudy.industrySelected" theme="selectize" ng-disabled="disabled"
                               search-enabled="true" required>
                        <ui-select-match placeholder="Select a Industry">
                            {{$select.selected.industryName}}
                        </ui-select-match>
                        <ui-select-choices repeat="industry in caseCtrl.industries | filter: $select.search">
                            <span ng-bind-html="industry.industryName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                  <label for="caseStudyProblem">Problem</label>
                  <span class="pull-right" style="font-size: small">Characters left: {{500 - caseCtrl.caseStudy.caseStudyProblem.length}}</span>
                  <textarea avisare-input  ng-maxlength="500" maxlength="500"  class="form-control" ng-model="caseCtrl.caseStudy.caseStudyProblem" id="caseStudyProblem" required> </textarea>
                </div>
                 <div class="form-group">
                    <label for="caseStudySolution">Solution</label>
                   <span class="pull-right" style="font-size: small">Characters left: {{500 - caseCtrl.caseStudy.caseStudySolution.length}}</span>
                   <textarea avisare-input  ng-maxlength="500" maxlength="500"  class="form-control" ng-model="caseCtrl.caseStudy.caseStudySolution" id="caseStudySolution" required> </textarea>
                </div>
                 <div class="form-group">
                    <label for="caseStudyResult">Result</label>
                   <span class="pull-right" style="font-size: small">Characters left: {{500 - caseCtrl.caseStudy.caseStudyResult.length}}</span>
                   <textarea avisare-input  ng-maxlength="500" maxlength="500" class="form-control" ng-model="caseCtrl.caseStudy.caseStudyResult" id="caseStudyResult" required> </textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>