<!-- Experience & Education -->
<div class="box box-primary">

    <div class="box-body">
        <div class="col-sm-6 col-xs-12" ng-controller="ExperienceController as experienceCtrl">
            <h4>Experience <i class="fa fa-question-circle" style="float: rigth;" uib-tooltip="{{experienceCtrl.experienceTooltip}}"></i> </h4>
            <button type="button" class="btn btn-primary" ng-click="experienceCtrl.openModal()"><i class="fa fa-plus-circle"></i> &nbsp; Add New</button>
            <div class="experienceList" ng-repeat="experienceItem in experienceCtrl.experiences">
                <hr/>
                <span>{{experienceItem.experienceTitle}}</span> at <span>{{experienceItem.experienceCompany}}</span>

                <div style="float: right">
                    <a href="" ng-click="experienceCtrl.openModal(experienceItem)"><i
                        class="fa fa-edit"></i>
                    </a>
                    <a href="" ng-click="experienceCtrl.removeEducation(experienceItem)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
                <br>
                {{experienceItem.experienceStart | date}} to {{experienceItem.experienceEnd | PresentDateFilter}}
            </div>

        </div>

        <div class="col-md-6  col-xs-12" ng-controller="EducationController as educationCtrl">
            <h4>Education</h4>
            <button type="button" class="btn btn-primary" ng-click="educationCtrl.openModal()"><i class="fa fa-plus-circle"></i> &nbsp; Add New</button>
            <div class="educationList" ng-repeat="educationItem in educationCtrl.educationList">
                <hr/>
                <span>{{educationItem.degreeDesignation}} {{educationItem.degreeName}}</span> at  {{educationItem.university}}

                <div style="float: right">
                    <a href="" ng-click="educationCtrl.openModal(educationItem)"><i
                        class="fa fa-edit"></i>
                    </a>
                    <a href="" ng-click="educationCtrl.removeEducation(educationItem)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
                <br>
            </div>
            

        </div>

    </div>
        <!-- /.box-body -->

</div><!-- /. Basic Info -->