<div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-danger btn-sm" ng-click="experienceCtrl.closeModal()">
          <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <form novalidate avisare-form name="experienceCtrl.experienceForm" ng-submit="experienceCtrl.saveExperience(experienceCtrl.experienceForm)">

        <div class="box-body">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="experienceCompany">Company</label>
                    <input avisare-input type="text" class="form-control" maxlength="255" ng-model="experienceCtrl.experience.experienceCompany" id="experienceCompany" required>
                </div>
                <div class="form-group">
                    <label for="experienceTitle">Title</label>
                    <input avisare-input type="text" class="form-control" maxlength="255" ng-model="experienceCtrl.experience.experienceTitle" id="experienceTitle" required>
                </div>
                <div class="form-group">
                    <label>Start date</label>&nbsp; <i class="fa fa-question-circle" uib-tooltip="{{experienceCtrl.dateStartTooltip}}"></i>
                    <avisare-datepicker avisare-input ng-model="experienceCtrl.experience.experienceStart" required date></avisare-datepicker>
                </div>
                <div class="form-group">
                    <label for="showExperience">Currently work here?</label>
                    <input id="showExperience" type="checkbox" class="flat-red" ng-click="experienceCtrl.toggleShowExperienceEndDate($event)" ng-model="experienceCtrl.experience.endExperienceShow"> 
                </div>
                <div ng-if="!experienceCtrl.experience.endExperienceShow" class="form-group">
                    <label>End date</label>&nbsp; <i class="fa fa-question-circle" uib-tooltip="{{experienceCtrl.dateEndTooltip}}"></i>
                    <avisare-datepicker avisare-input ng-model="experienceCtrl.experience.experienceEnd" ng-required='!experienceCtrl.experience.endExperienceShow'></avisare-datepicker>
                </div>
                <div class="form-group">
                    <label for="experienceDescription">Description </label>
                    <span class="pull-right" style="font-size: small">Characters left: {{500 - experienceCtrl.experience.experienceDescription.length}}</span>
                    <textarea avisare-input id="experienceDescription" ng-maxlength="500" maxlength="500" class="form-control" ng-model="experienceCtrl.experience.experienceDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="showWebsite">Show in Website</label>
                    <input id="showWebsite" type="checkbox" class="flat-red" ng-model="experienceCtrl.experience.experienceShow"> 
                </div>
                <input type="submit" class="btn btn-primary" value="submit"/>
            </div>
        </div>
    </form>
</div>