<div class="col-md-6 col-md-offset-3" ng-controller="ResetController as reset">
  <div class="panel-body">
    <form novalidate avisare-form ng-submit="resetForm.$valid && reset.reset()" accept-charset="UTF-8"
          role="form" class="form-signin" name="resetForm">
      <div class="form-group" ng-class="{'has-error': resetForm.newPass.$invalid && resetForm.newPass.$touched}">
        <input avisare-input class="form-control" placeholder="New Password" ng-model="reset.resetData.password"
               type="password" id="newPass" name="newPass" ng-minlength="5" required>
      </div>

      <div class="form-group" ng-class="{'has-error': resetForm.repeatNewPass.$invalid && resetForm.repeatNewPass.$touched ||
                                (reset.resetData.password !== reset.newPassword)}">

        <input avisare-input class="form-control" placeholder="Repeat Password" ng-model="reset.newPassword"
               type="password" id="repeatNewPass" name="repeatNewPass" ng-minlength="5" required>
      </div>
      <div ng-show="reset.resetData.password !== reset.newPassword" class="error-messages" style="display: block;">
        <div>Passwords must match</div>
      </div>
      </br>
      <input class="btn btn-lg btn-success btn-block" type="submit" id="reset" value="Reset »">
    </form>
  </div>
</div>
