<div class="col-md-6 col-md-offset-3 " ng-controller="RequestResetController as reset">
  <div class="panel-body">
    <form novalidate avisare-form ng-submit="requestForm.$valid && reset.request()" accept-charset="UTF-8"
          role="form" class="form-signin" name="requestForm">
      <label class="panel-login">
        <div class="login_result"></div>
      </label>

      <div class="form-group" ng-class="{'has-error': requestForm.email.$invalid && requestForm.email.$touched }">
        <input avisare-input class="form-control" placeholder="Email" ng-model="reset.email"
               type="email" id="email" name="email" required>
      </div>
      </br>
      <input class="btn btn-lg btn-success btn-block" type="submit" id="reset" value="Request Reset Password »">
    </form>
  </div>
</div>
