<!-- Info boxes -->
<div class="row"><br></div>
<div class="row">
  <div class="col-xs-12">
    <!-- Quick search -->
    <h4 class="box-title">Quick search for consultants</h4>
    <form action="#" method="get" class="form-inline" style="height: 35px;">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Search by name...">
      </div>
      <div class="form-group">
        <input type="text" name="location" class="form-control" placeholder="Search by location...">
      </div>
      <div class="form-group">
        <input type="text" name="keyword" class="form-control" placeholder="Search by keyword...">
      </div>
      <!-- <div class="form-group">
        <input type="text" name="firm" class="form-control" placeholder="Search by firm">
      </div> --> 
      <div class="form-group">
      <ui-select ng-model="profile.profile.travel" theme="selectize" search-enabled="true">
              <ui-select-match placeholder="Availability">
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices repeat="amount in profile.travelAvaliabilities | filter: $select.search">
                <span ng-bind-html="amount | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
      </div>
      <div class="form-group">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary"> <i class="fa fa-search"></i>&nbsp;Search
          </button>
      </div>
    </form>
    <br>
    <!-- Welcome message -->
    <div class="box" ng-show="true">
      <div class="box-header with-border">
        <h3 class="box-title">{{userCtrl.user.firstName}}, welcome to your Avisare portal!</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                  class="fa fa-times" ng-click="dash.closeMessage()"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        Here you can search for consultants, create a new RFP that is by invitation only or receive bids from any consultants matching the criteria on Avisare, view a listing of all consulting firms on Avisare, search their people and contact them, search and download white papers, manage projects and much more! <br>For help, <a href="#">click here</a>.
      </div><!-- /.box-body -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-6 col-xs-12">
    <div class="row">

      <!-- Search consultants -->
      <div class="col-md-6 col-sm-12">
        <div class="box bg-aqua">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-search"></i>
            </div>
            <div class="title-box text-center">
              <h4>Search all consultants on Avisare</h4>
            </div>
            <div class="content-box">
              <p class="text-center">Looking for specific skill sets for your project?.<br> Search both independent consultants and those at consulting firms by clicking here.</p>
              <div class="col-lg-8 col-lg-offset-2 content-btn">
                <button type="button" ui-sref="client.consultants"  class="btn btn-block btn-default">Search Consultants</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col Search consultants -->

      <!-- Create RFP -->
      <div class="col-md-6 col-sm-12">
        <div class="box bg-blue">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-file-o"></i>
            </div>
            <div class="title-box text-center">
              <h4>Create New Request for Proposal</h4>
            </div>
            <div class="content-box">
              <p class="text-center">Want to receive bids for your project?<br>Post an RFP or RFI and let consultants and consulting firms submit their interest.</p>
              <div class="col-lg-8 col-lg-offset-2 content-btn">
                <button type="button" ui-sref="client.newrfp"  class="btn btn-block btn-default">Create new RFP</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col Create RFP -->
    </div>
    <div class="row">
      <!-- View List Consultants -->
      <div class="col-md-6 col-sm-12">
        <div class="box bg-blue">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-list-ul"></i>
            </div>
            <div class="title-box text-center">
              <h4>View Consulting Firm Listings</h4>
            </div>
            <div class="content-box">
              <p class="text-center">View a listing of all consulting firms on Avisare.<br>Search for firms, view complete profile information and contact them.</p>
              <div class="col-lg-8 col-lg-offset-2 content-btn">
                <button type="button" class="btn btn-block btn-default">View Consulting firms</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col View List Consultants-->

      <!-- Invite your network -->
      <div class="col-md-6 col-sm-12">
        <div class="box bg-aqua">
          <div class="box-body">
            <div class="icon-box text-center">
              <i class="fa fa-user-plus"></i>
            </div>
            <div class="title-box text-center">
              <h4>Invite Your Network to Join Avisare</h4>
            </div>
            <div class="content-box">
              <p class="text-center">Send a personal invite request or Invite consulting firms, independent consultants or companies that hire consultants to join Avisare.</p>
              <div class="col-lg-8 col-lg-offset-2 content-btn">
                <button type="button" ui-sref="consultant.invite" class="btn btn-block btn-default">Send invitations</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col Invite your network-->

    </div>
  </div>
  <!-- /.col -->


  <!-- /.col -->


</div>
<!-- /.row -->
