<div class="box box-warning">
    <form name="addIndustryForm" ng-submit="industry.addNewIndustry(industry.industry)">
        <div class="box-body">
            <div class="col-xs-12">
                <input type="hidden" ng-model="industry.industry.id">
                <div class="form-group">
                    <label for="industryName">Name</label>
                    <input type="text" class="form-control" ng-model="industry.industry.industryName" id="industryName" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="industryStatus">Status</label>
                    <input type="checkbox" ng-model="industry.industry.industryStatus" id="industryStatus">
                </div>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </div>
    </form>
</div>