<!-- Info boxes -->
<div class="row">
    <div class="col-xs-12">
        <h3>Industries</h3>
        <div>
            <div ng-include="'/public/templates/_industries_info.html'"></div>
        </div>
    </div>
</div>
<!-- /.row -->
