.file{
  padding: 12px 20px;
  overflow: hidden;
  background: #fff;
  font-size: 16px;
  border: #c2c7cc 1px solid;
  color: #000;
  height: 41px;
  border-radius: 0px;
  position: relative;
}

  .file.file-focused{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  .file-text{
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-top: -3px;
  }

  .file-text.file-placeholder{
    color: #9A9A9A;
  }

  .file-input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }