@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/myriadpro-light.eot');
    src: url('../fonts/myriadpro-light.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-light.woff') format('woff'),
    url('../fonts/myriadpro-light.ttf') format('truetype'),
    url('../fonts/myriadpro-light.svg#MyriadProLight') format('svg');
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/myriad10-webfont.eot');
    src: url('../fonts/myriad10-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriad10-webfont.woff') format('woff'),
    url('../fonts/myriad10-webfont.ttf') format('truetype'),
    url('../fonts/myriad10-webfont.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular-webfont.eot');
    src: url('../fonts/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriadpro-regular-webfont.woff') format('woff'),
    url('../fonts/myriadpro-regular-webfont.ttf') format('truetype'),
    url('../fonts/myriadpro-regular-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
    url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'),
    url('../fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('../fonts/myriadpro-it_0-webfont.eot');
    src: url('../fonts/myriadpro-it_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriadpro-it_0-webfont.woff') format('woff'),
    url('../fonts/myriadpro-it_0-webfont.ttf') format('truetype'),
    url('../fonts/myriadpro-it_0-webfont.svg#MyriadProItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-It';
    src: url('../fonts/MyriadPro-LightIt.eot');
    src: url('../fonts/MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightIt.ttf') format('truetype');
    font-weight: nromal;
    font-style: italic;
}

@font-face {
    font-family: 'MyriadPro-Black';
    src: url('../fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/MyriadPro-Black.otf') format('opentype'),
    url('../fonts/MyriadPro-Black.woff') format('woff'), 
    url('../fonts/MyriadPro-Black.ttf') format('truetype'), url('../fonts/MyriadPro-Black.svg#MyriadPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:"source_sans_problack";
	src:url("../fonts/SourceSansPro-Black.eot?") format("eot"),
	url("../fonts/SourceSansPro-Black.woff") format("woff"),
	url("../fonts/SourceSansPro-Black.ttf") format("truetype"),
	url("../fonts/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
	font-weight:normal;
	font-style:normal;
}
body { 
	padding-top: 91px; 
}
.navbar-default{
	margin-bottom: 0 !important;
	height: 91px;
}
.navbar-default .container{
	padding-top: 16px;
}
.navbar-default .navbar-brand{
	font-family: 'source_sans_problack';
	font-size: 34px;
	text-transform: uppercase;
}
.navbar-default .navbar-brand span{
	color: #008ec8;
}
.navbar-default .container ul li{
	font-family: 'MyriadProRegular';
	font-size: 18px;
	color: #a4a4a4 !important;
}
.items-service li{
	display: inline-block;
}
.background-about{
	position: relative;
	z-index: -11111;
	background-image: url('../images/banner-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#about{
	min-height: 392px;
	height: auto;
	position: relative;
    z-index: -111;
} 
#about .perfil-img{
	float: right;
}
#about figure{
	position: absolute;
	top: 75%;
    left: 45%;
    right: 0;
    bottom: 0;
    z-index: 10000;
    width: 12%;
}

#about article:last-child{
	padding-top: 20px;
}

h3{
	font-family: 'MyriadPro-Black' !important;
	font-size: 40px !important;
	line-height: 46px !important;
	text-transform: uppercase;
}
#about .text{
	font-family: 'MyriadProLight';
	padding: 5px 150px 5px 0px;
	line-height: 24px;
	font-size: 16px;
}
.white-text{
	color: #F8F8F8;
}
#service{
	padding-top: 4%;
}
#service h3, #case-studies h3{
	color: #008ec8;
}
#service p{
	color: #7c7c7c;
}
.items-service li:before {    
	color: #008ec8;
	content: '\f00c';
	font-family: 'FontAwesome';
	font-size: 24px;
	margin:0 5px 0 -30px;
}
.items-service{
	text-align: center;
}
.items-service li{
	font-family: 'MyriadProRegular';
	text-align: left;
    font-size: 18px;
    padding: 0px 30px 40px 0px;
    width: 32%;
    display: inline-block;
    vertical-align: top;
}
#service{
	padding-top: 70px;
}
#service p{
	padding-bottom: 5%;
}
.background-case{
	background-color: #efefef;
}
#case-studies{
	padding-top: 70px;
}
#case-studies .flexslider{
	margin: 0 auto 60px;
	padding-top: 20px;
}
#case-studies .flexslider .slides{
	display: table;
    margin: auto;
}
#case-studies .flexslider .slides > li{
	/*display: inline-block !important;*/
}
#case-studies .box-slider{
	border: 1px solid #EBEBEB;
	width: 210px;
	min-height: 210px;
	background-color: #219fda;
	-webkit-border-radius: 5px;/*Safari, Chrome*/
	-moz-border-radius: 5px;/*Firefox*/
	border-radius: 5px;
	color: white;
}
#case-studies .box-slider h4{
	font-family: 'Arial';
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#case-studies .box-slider p{
	font-family: 'MyriadProLight';
	font-size: 16px;
	min-height: 90px;
	text-align: left;
}
#case-studies .box-slider .icon a{
	color: white;
}
#case-studies .box-case{
	-moz-border-radius: 5px;/*Firefox*/
	-webkit-border-radius: 5px;/*Safari, Chrome*/
	background-color: #219fda; 
	border-radius: 5px;
	color: white;
	padding: 40px;
}
#case-studies .box-case b{
	font-family: 'MyriadProBold';
}
#case-studies .box-case p{
	padding: 0 0 20px;
	font-family: 'MyriadProLight';
	font-size: 16px;
	min-height: 70px;
}
#case-studies .box-case a{
	color: white;
}
#clients{
	padding-top: 70px;
	padding-bottom: 60px;
}
#clients h3{
	padding-bottom: 20px;
	color: #1281ae;
}
#clients .cont-imgs div{
	display: inline-block;
}
#experience{
	padding-top: 70px;
}
#experience h3{
	padding-bottom: 20px;
	color: #1281ae;
	text-decoration: uppercase;
}
#experience h4{
	font-family: 'MyriadPro-Black';
	font-size: 26px;
	text-transform: uppercase;
}
#experience h5{
	font-size: 20px;
	color: #48b1ed;
}
#experience h6{
	font-family: 'MyriadProLight';
    font-weight: bold;
	font-style: italic;
	font-size: 20px;
}
#experience p{
	font-family: 'MyriadProLight';
	font-size: 16px;
	padding: 0px 30px;
	text-align: left;
    line-height: 26px;
}
#experience .btn-down{
	padding-top: 50px;
	padding-bottom: 60px;
}
#experience .btn{
	font-family: 'MyriadProLight';
	font-size: 25px;
	padding: 15px 0;
	width: 30%;
}
.background-press{
	background-image: url('../images/banner-bg.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}
#press{
	padding-top: 70px;
	padding-bottom: 54px;
}
#press .item-press{
	width: 30%;
	margin-bottom: 10px;
	display: inline-block;
}
#press .item-press img{
	margin: 0 auto;
}
#press .item-press p{
	font-family: 'MyriadProRegular';
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#educations{
	padding-top: 70px;
}
#educations .box-cert h3, .box-cert h4{
	color: #008ec8;
	text-transform: uppercase;
}
#educations .box-educ h3, .box-educ h4{
	color: #00ccea;
	font-style: uppercase;
}
#educations .item-cert{
	padding-top: 20px;
}
#educations .item-cert p:nth-of-type(1){
	font-family: 'MyriadProRegular';
    font-size: 18px;
}
#press h3{
	color: #fff;
}
#contact{
	padding-top: 70px;
}
#contact h3{
	color: #008ec8;
}
#contact .map{
	padding-right: 20px !important;
}
#contact h4{
	font-family: 'MyriadProBold';
	font-size: 19px;
}
#contact h5{
	font-family: 'MyriadProLight';
	font-size: 19px;
}
#contact ul.items-contact{
	list-style: none !important;
	list-style-type: none;
	padding: 0;
}
#contact ul li{
	display: inherit;
	padding-top: 10px;
	font-family: 'Arial';
	font-size: 17px;
	font-weight: bold;
}
#contact ul li a{
	font-weight: normal;
	color: #000;
	text-decoration: underline;
}
footer{
	background-color: #f7f7f7;
}
footer .container{
	min-height: 116px;
	padding-top: 50px;
}
footer .container .social{
	list-style:none;
}
footer .container .social li{
	display: inline-block;
	padding: 5px;
}
#toTop { 
  display:block; 
  text-decoration:none; 
  cursor: pointer;
  position:fixed; 
  bottom:20px; 
  right:20px; 
  overflow:hidden; 
  width:55px; 
  height:55px; 
  border:none; 
  text-indent:100%; 
  background:url(../images/back-2-top.png) no-repeat left top; 
  z-index:9999; 
} 
.divider{
	border-top: 1px solid #EBEBEB;
	margin-top: 30px;
	width: 100%;
}
/*section{
	border: 1px solid #EBEBEB;
}*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left: 80 !important;
	padding-right: 0 !important;
}

/*MEDIA QUERY*/
@media(max-width:767px){
	.navbar-default .navbar-brand{
		font-size: 22px;
	}
	.navbar-default .container ul li{
		font-size: 13px;
		background-color: #F5F5F5;
	}
	#about .perfil-img{
		margin: 0 auto;
		float: initial;
	}
	#about .text{
		padding: 0;
	}
	.items-service{
		padding: 0;
	}
	.items-service li{
		padding: 0px 20px 40px 20px;
		width: 100%;
	}
	#experience .btn{
		width: 100%;
	}

	h3 b{
		font-size: 34px !important;
	}
	#press .item-press{
		width: 100%;
	}
	#contact ul li{
		font-size: 14px;
	}
	#case-studies .flexslider .slides{
		width: 1000% ;
	}
}
@media(min-width:768px){
	.navbar-default .container ul li{
		font-size: 14px;
	}
	.navbar-nav li a{
		padding-left: 9px !important;
    	padding-right: 9px !important;
	}
	#about h3{
		padding-left: 5px;
	}
	#about .text{
		padding: 5px 5px 5px 10px;
	}
	#experience .btn{
		width: 60%;
	}
	#case-studies .flexslider .slides{
		width: 1000%;
	}
}
@media(min-width:992px){
	.navbar-default .container ul li{
		font-size: 18px;
	}
	#experience .btn{
		width: 30%;
	}

}
@media(min-width:1200px){}
/******************************************/