@charset "utf-8";
@import url('./application.css');
/* CSS Document */
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-regular-webfont.html') format('woff2'),
    url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-regular-webfont-2.html') format('truetype'),
    url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-light-webfont.html') format('woff2'),
    url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-light-webfont-2.html') format('truetype'),
    url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/sourcesanspro-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-bold-webfont.html') format('woff2'),
    url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-bold-webfont-2.html') format('truetype'),
    url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-semibold-webfont.html') format('woff2'),
    url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-semibold-webfont-2.html') format('truetype'),
    url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_problack';
    src: url('../fonts/sourcesanspro-black-webfont.eot');
    src: url('../fonts/sourcesanspro-black-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-black-webfont.html') format('woff2'),
    url('../fonts/sourcesanspro-black-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-black-webfont-2.html') format('truetype'),
    url('../fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('../fonts/sourcesanspro-it-webfont.eot');
    src: url('../fonts/sourcesanspro-it-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-it-webfont.html') format('woff2'),
    url('../fonts/sourcesanspro-it-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-it-webfont-2.html') format('truetype'),
    url('../fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proSBdIt';
    src: url('../fonts/sourcesanspro-semiboldit-webfont.eot');
    src: url('../fonts/sourcesanspro-semiboldit-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-semiboldit-webfont.html') format('woff2'),
    url('../fonts/sourcesanspro-semiboldit-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-semiboldit-webfont-2.html') format('truetype'),
    url('../fonts/sourcesanspro-semiboldit-webfont.svg#source_sans_proSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/myriadpro-light.eot');
    src: url('../fonts/myriadpro-light.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-light.woff') format('woff'),
    url('../fonts/myriadpro-light.html') format('truetype'),
    url('../fonts/myriadpro-light.svg#MyriadProLight') format('svg');
}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/myriad10-webfont.eot');
    src: url('../fonts/myriad10-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriad10-webfont.woff') format('woff'),
    url('../fonts/myriad10-webfont.html') format('truetype'),
    url('../fonts/myriad10-webfont.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular-webfont.eot');
    src: url('../fonts/myriadpro-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriadpro-regular-webfont.woff') format('woff'),
    url('../fonts/myriadpro-regular-webfont.html') format('truetype'),
    url('../fonts/myriadpro-regular-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
    url('../fonts/myriadpro-bold-webfont.html') format('truetype'),
    url('../fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('../fonts/myriadpro-it_0-webfont.eot');
    src: url('../fonts/myriadpro-it_0-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriadpro-it_0-webfont.woff') format('woff'),
    url('../fonts/myriadpro-it_0-webfont.html') format('truetype'),
    url('../fonts/myriadpro-it_0-webfont.svg#MyriadProItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-It';
    src: url('../fonts/MyriadPro-LightIt.eot');
    src: url('../fonts/MyriadPro-LightItd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightIt.html') format('truetype');
    font-weight: nromal;
    font-style: italic;
}

@font-face {
    font-family: 'MyriadPro-Black';
    src: url('../fonts/MyriadPro-Blackd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Black.html') format('opentype'),
    url('../fonts/MyriadPro-Black.woff') format('woff'), url('../fonts/MyriadPro-Black-2.html') format('truetype'), url('../fonts/MyriadPro-Black.svg#MyriadPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    /*margin-top: 105px;*/
    font: 15px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
/*HEADER***********************************/
.navbar-default{
    border: none;
}
.header-back{
    background: #FFF !important;
}
nav ul{
    margin-left: 75px !important;
}
nav ul li:nth-child(5){
    margin-right: 112px;
}
nav ul li a{
    color: #000 !important;
    text-decoration: none;
    padding: 20px 10px 0 10px;
    float: left;
    border-top: 16px solid transparent;
    letter-spacing: 2px;
}
nav ul li .btn-item{
    margin-top: 24px;
    margin-right: 5px;
}
nav ul li .btn-login{
    background: #4dc0ef;
    border-radius: 3px;
    padding: 3px 10px;
    font: normal 18px/24px 'source_sans_proregular';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}
.navbar-nav>li>a:hover{
    color: #fff;
}
nav ul li .btn-join{
    background: #7b0098;
    border-radius: 3px;
    padding: 3px 10px;
    font: normal 18px/24px 'source_sans_proregular';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}
nav ul li:hover a, nav ul li.active a{
    color: #000;
    border-top: 16px solid #4dc0ef;
    text-decoration: none;
}
a.navbar-brand{
    margin-top: 14px;
    padding: 0px 15px;
}
.navbar-default{
	margin-bottom: 0 !important;
	height: 75px;
    background-color: white;
}
.navbar-default .container{
	/*padding-top: 30px;*/
	font-size: 15px;
	text-transform: uppercase;
}
.navbar-header button{
    margin-top: 12px;
    padding: 15px 15px;
    border: none;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #43BFF1;
    height: 4px;
}
.navbar-default .navbar-collapse{
    background: rgba(255, 255, 255, 1);
}
/*END HEADER***********************************/

/*CLIENT***************************************/
.back-1{
    margin-top: 105px;
    background-image: url('../images/step-bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}
.back-1 #form-client, .off-form-header{
    margin-top: 90px;
    margin-bottom: 120px;
    padding: 30px 50px 30px;
    background-color: rgba(51, 111, 173, 0.9);
    color: white;
}
.back-1 #form-client h2, .back-1 .off-form-header h2{
    font-size: 45px;
    font-weight: bold;
}
.back-1 #form-client p, .back-1 .off-form-header p{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
}
.form-client label{
    text-transform: none;
}

.form-client label.required::after {
    content: '*';
    color: red;
    padding-left: 0.4em;
}

.form-client input[type="text"],
.form-client input[type="email"],
.form-client input[type="password"],
.form-client input[type="date"],
.form-client input[type="url"],
.form-client input[type="file"],
textarea{
    -webkit-border-radius: 0 !important;/*Safari, Chrome*/
    background: #fff;
    font-size: 16px;
    padding: 12px 20px;
    -moz-border-radius: 0 !important;/*Firefox*/
    border-radius: 0 !important;
    border: #c2c7cc 1px solid;
    color: #000;
    height: 42px;
    text-align: left;
    text-transform: none;
    resize: none;
}

.form-client input[type="file"]{
    height: auto;
    padding: 10px 10px;
}

.form-client .submit-client{
    padding: 10px 40px 10px 40px;
    background-color: #43BFF1;
    text-transform: uppercase;
    border: 0 !important;
    -webkit-border-radius: 0 !important;/*Safari, Chrome*/
    -moz-border-radius: 0 !important;/*Firefox*/
    border-radius: 0 !important;
}
.form-client .submit-client i{
    margin-left: 5px;
}
.form-client .has-error .form-control {
    border-color: #FF0500;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.back-2{
	padding: 0;
}
.back-2 img:first-child{
	position: absolute;
    margin-left: -38px;
    margin-top: -106px;
    height: inherit;
}
.back-2 #why-user{
	padding: 20px 50px 20px;
}
.back-2 #why-user h3{
	font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
	font-size: 33px;
	color: #267696;
}
.back-2 #why-user p{
    font-size: 17px;
    line-height: 28px;
    display: block;
    margin-bottom: 12px;
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    font-weight: 700;

}
.back-2 #why-user p b{
    font-family: 'source_sans_probold', Arial, Helvetica, sans-serif;

}
.back-2 #why-user ul{
	padding: 0;
    margin-right: 20px;
}
.back-2 #why-user ul li b{
	font-family: 'source_sans_probold', Arial, Helvetica, sans-serif;
}
.back-2 #why-user ul li{
	font-size: 17px;
	line-height: 28px;
	display: block;
    margin-bottom: 12px;
    padding-left: 28px;
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: url(../images/icon.png) scroll 0px 4px no-repeat;
    list-style: none;
}
.back-2 #why-user ul li ul li{
	display: block;
    margin-bottom: 12px;
    padding-left: 24px;
    font-size: 17px;
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    background: url(../images/arrow-icon.png) scroll 0px 7px no-repeat;
    list-style: none;
}
.back-3{
    background-color: #3475b8;
}
.back-3 h3{
    font: 42px/42px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 50px;
}
.back-3 .container{
    padding: 50px 0 0;
}
.back-3 .container h4{
    display: block;
    font: normal 25px/30px 'source_sans_probold';
    color: #32e0ff;
    padding: 10px 0;
    text-transform: uppercase;
}
.back-3 .container article{
    position: relative;
}
.back-3 .container article p{
    font: normal 17px/26px 'source_sans_proregular';
    color: #fff;
    text-align: center;
    padding: 0px 60px 50px 60px;
    position: relative;
    z-index: 1;
}
.back-3 .container article .arw-img1{
    position: absolute;
    top: 7%;
    left: 70%;
    right: 0;
    bottom: 0;
    width: 60%;
}
.back-3 .container article .arw-img2{
    position: absolute;
    top: 7%;
    left: 60%;
    right: 0;
    bottom: 0;
    width: 32%;
}
.back-3 .container article small img{
    width: 100%;
}
.back-4{
    background: #f5f5f5;
}
.back-4 .container {
    padding-top: 28px;
    padding-bottom: 40px;
}
.back-4 .container article h3{
    font: 25px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    color: #4b4b4b;
}
.back-4 .container article h3 span{
    color: #3fabd7;
    font: 25px 'source_sans_problack', Arial, Helvetica, sans-serif;
}
.back-4 .container article p{
    font: 17px/29px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    padding: 0 20px 0 0;
}
/*END CLIENT *************************************/

/* ABOUT******************************************/
#about{
    margin-top: 105px;
}
#about .p-about{
    padding-top: 10px;
    text-align: center;
}
#about .p-about h2{
    font: 40px 'source_sans_problack', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #4dc0ef;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}
#about .p-about p{
    color: #000000;
    font: 17px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
    text-align: center;
}
.banner-about{
    height: 285px;
    background: url(../images/about-banner.jpg) no-repeat top center;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.back-benefits{
    color: #fff;
    padding: 29px 0 29px 0;
    background: #4dc0ef;
    text-align: center;
}
.back-benefits h2{
    padding-bottom: 40px;
    font: 40px 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
.back-benefits article{
    background: #f5f5f5;
    border-radius: 12px;
    color: #484848;
    display: block;
    font: 24px/28px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    margin-top: 20px;
    max-height: 600px;
    min-height: 580px;
    padding: 0px;
    text-align: left;
}
.back-benefits article{
    margin-left: 8%;
}
.back-benefits article:nth-child(2){
    margin-left: 10%;
}
.back-benefits article:nth-child(3){
    margin-left: 2%;
}
.back-benefits article:nth-child(4){
    margin-left: 2%;
}
.back-benefits  article img{
    margin-top: -15%;
}
.back-benefits  article h3{
    text-align: center;
    font: 21px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0px 0 6px 0px;
    color: #4dc0ef;
}
.back-benefits .body-p{
    padding-bottom: 80px;
}
.back-benefits ul{
    padding-left: 4%;
    padding-right: 4%;
    min-height: 402px;
}
.back-benefits ul li{
    font-size: 17px;
    display: block;
    margin-bottom: 12px;
    padding-left: 28px;
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    background: url(../images/icon.png) scroll 0px 4px no-repeat;
    list-style: none;
}
.back-benefits .row-btn{
    /*margin-top: 110px;*/
}
.back-benefits a:hover{
    background: #4dc0ef;
    color: #fff;
}
.back-benefits a{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 13px 25px;
    border-radius: 4px;
    background: #4dc0ef;
    color: #fff;
    font: 22px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
#perspective article:last-child{
    padding-top: 35px;
    padding-bottom: 20px;
}
#perspective article h2{
    margin: 0px;
    color: #267696;
    font: 35px 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
#perspective article p{
    padding-top: 28px;
    text-align: left;
    font-size: 17px;
}
#perspective article p span{
    font: 17px 'source_sans_proSBdIt', Arial, Helvetica, sans-serif;
}
#values{
    background: #a49dba;
    padding: 55px 0 45px 0px;
}
#values article h3{
    font-size: 45px;
    color: #ffffff;
    font-family: 'source_sans_probold',Arial, Helvetica, sans-serif;
}
#values article h4{
    font: 38px 'source_sans_prolight',Arial, Helvetica, sans-serif;
}

#values .container .cont{
    position: absolute;
    padding: 20px 80px 20px 50px;
    color: #ffffff;
}
#values .container .cont p{
    text-align: left;
    font: 22px 'source_sans_prolight',Arial, Helvetica, sans-serif;
}
#our,#our>article{
    padding: 0;
    background: #FFF !important;
}
#our article:first-child{
    padding: 10px 70px 0 120px;
}
#our h3{
    font: 35px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    color: #267696;
}
#our .content p{
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 29px;
    padding-top: 32px;
    padding-bottom: 0px !important;
    text-align: left;
}
#our .content span{
    font: 17px 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
}
.banner-our{
    height: 258px;
    background: url(../images/bottom-banner.jpg) no-repeat top center;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -3px;
}
.our-people{
    background: #eeeeee;
    padding: 36px 0 47px 0px;
}
.our-people h3{
    font: 35px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    color: #267696;
    text-align: center;
}
.our-people p{
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
}
.our-people p a{
    text-decoration: underline;
}
.our-people p span{
    font: 17px 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
}
.our-people .container ul{
    text-align: center;
}
.our-people .container ul li{
    display: inline-block;
    margin: 25px 20px 15px 0;
}
#values .container .flexslider .slides{
    text-align: center;
}

#values .container .flexslider .slides li p{
    padding-top: 20px;
    text-align: center;
    background: url(../images/circle-img.png) center no-repeat;
    min-height: 120px;
    font: 70px "Times New Roman", Times, serif;
    color: #FFF;
}
#values .container .cont div{
    display: none;
}
.flexslider{
    margin: 0;
}
.flex-control-paging li a{
    background: transparent;
    border-radius: 25px;
    border: 1px solid #fff;
    color: #FFF;
    height: 25px;
    padding-top: 2px;
    text-indent: 0;
    width: 25px;
}
.flex-control-paging li a.flex-active{
    background: #FFF;
    color: #a49dba;
}
.flex-control-paging li a:hover{
    background: none;
}
.flex-control-nav{
    bottom: -30px;
}
/* END ABOUT**************************************/
/*BIO */
#bio{
    margin-top: 105px;
    padding-top: 30px;
}
#bio article h2{
    margin: 0px;
    padding: 0px;
    color: #4dc0ef;
    text-transform: uppercase;
    font: 40px/40px 'source_sans_problack', Arial, Helvetica, sans-serif;
}
#bio article p{
    padding-bottom: 30px;
    font: 17px/30px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
#bio article p strong{
    font: normal 17px 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
/*END BIO*/
/****MODAL LOGIN****/
.modal .modal-dialog{
    max-width: 450px;
}
.modal .modal-content{
    border-radius: 0;
    border: 0;
}
.modal .modal-dialog .modal-body{
    background: url(../images/popup-bg.jpg)!important;
}
.modal .form-group{
    margin-bottom: 20px;
}
.modal .modal-content h4{
    font: normal 30px/36px 'source_sans_problack';
    color: #000;
    text-transform: uppercase;
    padding: 20px 0 20px;
}
.modal .form-login .form-group label{
    font: normal 18px/24px 'source_sans_prosemibold';
    color: #000;
    text-transform: uppercase;
}
.modal .form-login input[type="text"],input[type="email"],input[type="password"]{
    -webkit-border-radius: 0 !important;/*Safari, Chrome*/
    background: #fff;
    font-size: 16px;
    padding: 12px 20px;
    -moz-border-radius: 0 !important;/*Firefox*/
    border-radius: 0 !important;
    border: #c2c7cc 1px solid;
    color: #000;
    height: 42px;
    text-transform: none;
    text-align: center;
}
.modal .form-login .submit-login{
    font: normal 19px/19px 'source_sans_problack';
    padding: 10px 40px 10px 40px;
    background-color: #119cd7;
    text-transform: uppercase;
    border: 0 !important;
    -webkit-border-radius: 0 !important;/*Safari, Chrome*/
    -moz-border-radius: 0 !important;/*Firefox*/
    border-radius: 0 !important;
}
.modal .form-login .checkbox{
    margin-left: 8.33333333%;
    margin-right: 8.33333333%;
    margin-top: 8%;
}
.modal .modal-footer{
    text-align: center;
    padding: 30px;
    border: none;
}
.modal .modal-footer h5{
    font: normal 18px/24px 'source_sans_proregular';
    color: #000;
    text-transform: uppercase;
    padding: 0 0 10px;
}
.modal .modal-footer a, .modal .modal-footer button{
    background: #7b0098;
    font: normal 19px/25px 'source_sans_problack';
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 0 !important;
    -webkit-border-radius: 0 !important;/*Safari, Chrome*/
    -moz-border-radius: 0 !important;/*Firefox*/
    border-radius: 0 !important;
    margin: 5px !important;
}
/****END MODAL LOGIN****/
/*HOME */
.intro{
    background: url(../images/startup-shutterstockUp.jpg) 50% 0 no-repeat;
    background-size: cover;
    background-position: 0% 3%;
    height: 768px;
    margin: 0 auto;
    padding: 0;
}
.intro .container{
    padding-top: 200px;
}
.intro .container h1{
    margin: 0px;
    padding: 0px;
    color: #267696;
    font: 45px 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
}
.intro .container h4, .intro .container p{
    color: #000000;
    font: 23px 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
.second{
    background: url(../images/expertise_269302526.jpg) 50% no-repeat;
    background-size: 50%;
    background-position: 0% 21%;
    height: inherit;
    margin: 0 auto;
    padding: 0;
    z-index: 200;
    position: relative;
}
.second article h2{
    color: #267696;
    line-height: 35px;
    font: 29px/35px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    padding-bottom: 14px;
    padding-left: 40px;
}
.second .container article ul li{
    font-size: 17px;
    display: block;
    margin-bottom: 12px;
    padding-left: 28px;
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    line-height: 28px;
    background: url(../images/icon.png) scroll 0px 4px no-repeat;
    list-style: none;
}
.second .container article ul li strong{
    font: normal 17px 'source_sans_probold', Arial, Helvetica, sans-serif;
}
.third{
    background: #4dc0ef fixed;
    overflow: hidden;
    color: #FFF;
    padding: 52px 0 0px 0;
}
.third .container h3{
    font: normal 30px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
.third .img-box{
    display: block;
    margin: auto;
    width: 182px;
    padding-top: 30px;
    margin-bottom: 0;
    text-align: center;
    min-height: 182px;
    padding-top: 0;
}
.third .container article p{
    padding-top: 8px;
    margin-bottom: 42px;
    font: normal 20px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
.third .management{
    background-image: url('../images/management-icon.png');
    height: 182px;
    width: 182px;
}
.third .information{
    background-image: url('../images/information-icon.png');
    height: 182px;
    width: 182px;
}
.third .logistics{
    background-image: url('../images/logistics.png');
    height: 182px;
    width: 182px;
}
.third .human{
    background-image: url('../images/human-icon.png');
    height: 182px;
    width: 182px;
}
.third .markiting{
    background-image: url('../images/markiting.png');
    height: 182px;
    width: 182px;
}
.third .development{
    background-image: url('../images/development.png');
    height: 182px;
    width: 182px;
}
.four{
    background: #f8f8f8 url(../images/group_of_teensUp.jpg) 50% no-repeat;
    background-size: 50%;
    background-position: right 0%;
}
.four .container article{
    padding-right: 50px;
    padding-bottom: 50px;
}
.four .container article h3{
    font: 33px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    color: #267696;
    padding-top: 60px;
}
.four .container article  span{
    font: 26px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
.four .container article p{
    margin-bottom: 25px;
    margin-top: 10px;
    font: 17px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    color: #454545;
}
.four .container article h2{
    font: normal 35px 'source_sans_probold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.banner-home .container{
    padding-top: 30px;
}
.banner-home .container h3{
    font: 23px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    padding-bottom: 18px;
}
.banner-home .container h3 span{
    color: #00b7e1;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}
.banner-home .container p{
    font: 22px/34px 'source_sans_prolight', Arial, Helvetica, sans-serif;
}
.banner-home .container p em{
    font-family: 'source_sans_probold', Arial, Helvetica, sans-serif;
}
.banner-home .container p .btn-contact{
    padding: 0px 12px;
    color: #fff !important;
    cursor: pointer;
    background: #00b7e1;
    font-size: 22px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 34px;
    display: inline-block;
}
.banner-home .container p a em{
    text-decoration: underline;
    color:#333;
}
.banner-home .container .join-us{
    font: 40px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    color: #00b7e1;
    padding-top: 8px;
}

.back-2.home{
    background: url(../images/sunset_teamworkUp.jpg) no-repeat top center;
    background-size: 100%;
    background-position: 20% 43%;
}
.back-2.home img:first-child{
    margin-top: 0;
}
/*JOIN*/
.join{
    background: url(../images/startup-shutterstockUp2.jpg) no-repeat top center;
    background-size: cover;
    margin-top: 105px;
    padding-top: 205px;
    padding-bottom: 105px;
    height: 768px;
}
.submit-contact, .submit-join{
    font: normal 19px/19px 'source_sans_problack';
    padding: 20px;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #FFF !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*CONTACT------------------------------------------------------------------------------------------------------------------*/

/*Contact US*/
.contact-box {
    background: url(../images/contact-bg.jpg) no-repeat top center;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 92px;
    color: #fff;
    margin: auto;
    padding: 105px 0 134px 0px;
}


.contact-box h3 {
    text-transform: uppercase;
    font: 40px/40px 'source_sans_problack', Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 2px
}

.contact-box span {
    text-align: center;
    display: block;
    margin-bottom: 35px;
    font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.contact-box  label {
    text-transform: uppercase;
    font-family: 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    padding: 0 0 3px 10px;
    font-weight: normal;
}

.contact-box .select-box {
    margin: 0px auto 30px;
    width: 50%;
}


.contact-box .styled-select {
    width: auto;
    height: 34px;
    overflow: hidden;
    background: url("../images/select-arrow.png") no-repeat right #ffffff;
    border: 0;
    border-radius: 8px;
    height: 45px;
    line-height: 45px;
    font-family: "source_sans_proregular", Arial, Helvetica, sans-serif;
    font-size: 18px ;
    margin-bottom: 10px;
}

.contact-box select {
    background: transparent;
    width: 105%;
    padding: 5px 0 5px 3%;
    font-size: 16px;
    line-height: 1;
    border: 0;
    height: 45px;
    -webkit-appearance: none;
    font-family: "source_sans_proregular", Arial, Helvetica, sans-serif;
    font-size: 18px ;
    margin-bottom: 30px;
    color: #333;
}

.contact-box input {
    border: 0px;
    border-radius: 5px;
    background: #fff;
    line-height: 45px;
    height: 45px;
    width: 100%;
    padding-left: 3%;
    font-family: "source_sans_proregular", Arial, Helvetica, sans-serif;
    font-size: 18px ;
    margin-bottom: 10px;
    color: #333;
}

.contact-box textarea {
    border: 0px;
    border-radius: 8px !important;
    background: #fff;
    height: 110px;
    width: 51%;
    padding: 10px 0 10px 3%;
    resize: vertical;
    resize: none;
    font-family: arial;
    font-size: 18px ;
    font-family: "source_sans_proregular", Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #333;
}

.contact-box .textarea-box {
    margin: 0px auto 30px;
    text-align: center;    
}

.contact-box .button{
    text-align: center;
}

.contact-box button.submit {
    border: 0px;
    border-radius: 5px;
    background: #3276be;
    line-height: 58px;
    height: 58px;
    width: 205px;
    font: 30px 'source_sans_problack', Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0px auto;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 58px;
    line-height: 58px;
}

.contact-box ::-webkit-input-placeholder {
    color: #ccc !important;
}

.contact-box :-moz-placeholder {
    color: #ccc !important;
}

.contact-box ::-moz-placeholder {
    color: #ccc !important;
}

.contact-box :-ms-input-placeholder {
    color: #ccc !important;
}

.contact-box label.required::after {
    content: '*';
    color: red;
    padding-left: 0.4em;
}

.required span{
    color: #ee0101;
    font-size: 11px;
    text-align: left;
    padding-left: 15px; 
    margin-bottom: 20px;
}
/*END CONTACT***********************************/
/*-----EXAMPLE------------------------------------------------------------------------------------------------------------------------------------------------------*/

.about-box .about-top {
    padding-top: 105px;
    font: 17px 'source_sans_prolight', Arial, Helvetica, sans-serif;
}

.about-box .about-top h1 {
    font: 40px 'source_sans_problack', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #4dc0ef;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center
}

.about-box .about-top p {
    margin-bottom: 35px;
    color: #000000;
    text-align: center;
    font: 17px 'source_sans_prolight', Arial, Helvetica, sans-serif;
}

.tab-content{
    border: 5px solid #cccccc;
    border-radius: 12px;
    padding: 58px 70px 0 54px;
}


.tab-content h2 {
    color: #4dc0ef;
    font: 20px/47px "source_sans_prosemibold",Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}


.tab-content h3 {
    color: #393939;
    font: 25px/47px "source_sans_prosemibold",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}


.tab-content p {
    color: #000000;
    font: 17px/29px "source_sans_prolight",Arial,Helvetica,sans-serif;
    margin-bottom: 35px;
    text-align: left;
}

.scenario-icon {
    padding-left: 55px;
    background: url(../images/scenario-icon.png) left no-repeat
}

.solution-icon {
    padding-left: 55px;
    background: url(../images/solution-icon.jpg) left no-repeat
}

.results-icon {
    padding-left: 55px;
    background: url(../images/results-icon.png) left no-repeat
}

.nav-tabs{
    border: none;
    padding: 0 7%;
}

.content-tabs .nav li a{
    padding: 0;
}

.nav-tabs > li{
    margin-bottom: -25px;
}

.nav-tabs > li > a{
    border: 1px solid #a2a2a2;
    border-radius: 16px;
    display: block;
    height: 207px;
    overflow: hidden;
    width: 309px;
    background-color: #fff;
    margin-right: 14px !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border: 3px solid !important;
    box-shadow: 0 0 0 6px #ffffff;
    height: 245px;
    position: relative;
    width: 309px;
    z-index: 2;
    border-color: #a2a2a2 !important;
}

.nav-tabs li .heading {
    background: rgba(0, 0, 0, 0) url("../images/exam-bg.png") repeat-x scroll 0 0;
    bottom: -10px;
    color: #494949;
    display: block;
    font: 16px "source_sans_prosemibold",Arial,Helvetica,sans-serif;
    height: auto;
    left: 0;
    margin-left: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 10;
}
.nav-tabs li a.active span {
    display: block;
}

.nav-tabs li a img{
    width: 100%;
}

/*GO HOW IT WORKS--------------------------------------------------------------------------------------------------------------------------------------------------*/
.how-it-box {
    padding: 105px 0 47px;
}

.how-it-box h1 {
    font: 40px 'source_sans_problack', Arial, Helvetica, sans-serif;
    color: #4dc0ef;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.works-box {
    background: url(../images/work-bg.png) top center repeat-y;
    margin-top: 55px;
    padding-bottom: 80px;
}

.works-box .inner-box {
    position: relative;
}

.works-box .hand-img {
    text-align: center;
    margin-top: -55px;
}

.works-box .bottom-img {
    position: absolute;
    left: 50%;
    bottom: -70px;
    margin-left: -34px;
}

.works-box .inner-box .lft-box {
    padding-right: 38px;
}

.works-box .inner-box .lft-box h2 {
    font: 45px 'source_sans_problack', Arial, Helvetica, sans-serif;
    color: #3fabd7;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: -106px;
    left: 140px;
}

.works-box .inner-box .rgt-box {
    position: relative;
    padding-left: 38px;
}

.works-box .inner-box .rgt-box h2 {
    font: 45px 'source_sans_problack', Arial, Helvetica, sans-serif;
    color: #4189d3;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: -106px;
    left: 133px;
}

.works-box .inner-box ul {
    color: #fff;
    margin: 0px;
    padding: 15px 0 0 0;
}

.works-box .inner-box ul li {
    list-style: none;
    font: 17px/29px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 28px;
    height: 130px;
}

.works-box .inner-box ul li h3 {
    font: 25px 'source_sans_problack', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.works-box .inner-box .register-icon {
    background: url(../images/register-icon.png) left top no-repeat;
    padding-left: 87px;
   /* height: 128px;*/
}

.works-box .inner-box .apply-icon {
    background: url(../images/apply-icon.png) left top no-repeat;
    padding-left: 87px;
    /*height: 121px;*/
}

.works-box .inner-box .project-icon {
    background: url(../images/project-icon.png) left no-repeat;
    padding-left: 87px;
    /*height: 133px;*/
}

.works-box .inner-box .payment-icon {
    background: url(../images/payment-icon.png) left top no-repeat;
    padding-left: 87px;
}

.works-box .inner-box .post-icon {
    background: url(../images/post-icon.png) left no-repeat;
    padding-left: 87px;
}

.works-box .inner-box .engage-icon {
    background: url(../images/engage-icon.png) left no-repeat;
    padding-left: 87px;
    /*height: 129px;*/
}

.works-box .inner-box .track-icon {
    background: url(../images/track-icon.png) left no-repeat;
    padding-left: 87px;
    /*height: 131px;*/
}

.works-box .inner-box .pay-icon {
    background: url(../images/pay-icon.png) left top no-repeat;
    padding-left: 87px;
}

.how-it-box .invitation-img {
    float: left;
    padding: 28px 30px 0 0;
}

.how-it-box .invitation-img1 {
    float: left;
    width: 529px;
    padding: 28px 0 0 30px;
}

.how-it-box .content-box {
    font: 17px/29px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    float: left;
    padding-top: 72px;
}

.how-it-box .content-box h4 {
    font: 25px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    color: #4b4b4b
}

.how-it-box .content-box h4 span {
    color: #3fabd7;
    font: 25px 'source_sans_problack', Arial, Helvetica, sans-serif;
}

.how-it-box .bott-box {
    background: #f2f2f2;
    padding-bottom: 40px;
}

.how-it-box .content-box2 {
    font: 17px/29px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    float: left;
    width: 500px;
    padding-top: 72px;
}

.how-it-box .content-box2 h4 {
    font: 25px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    color: #4b4b4b
}

.how-it-box .content-box2 h4 span {
    color: #3fabd7;
    font: 25px 'source_sans_problack', Arial, Helvetica, sans-serif;
}

.how-it-box .bott-box {
    background: #f2f2f2;
    padding-bottom: 40px;
}

.how-it-box .bott-box .online-img {
    float: right;
    padding-top: 39px;
    padding-right: 70px;
}

.how-it-box .content-box2 p {
    margin-bottom: 30px;
}

.invitation-img > img{
    width: 100%;
}


/*END HOW IT WORKS-------------------------------------------------------------------------------------------------------------------------------------------------*/

.pad {
    color: #000000;
    font: 20px 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-bottom: 30px;
}
.blue {
    margin: 0px;
    padding: 0px;
    color: #4dc0ef;
    font: 17px/30px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
.rating ul li {
    font: 17px/30px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}
#bio article ul li{
    list-style-type: none;
    display: block;
    margin-bottom: 12px;
}
#bio article ul li a {
    font: 20px 'source_sans_probold', Arial, Helvetica, sans-serif;
    border: 1px solid #dcdcdc;
    color: #c4c4c4;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0px 15px;
}
#bio article ul li a.active {
    background: #4dc0ef;
    color: #fff;
    margin: 0px 15px;
    text-decoration: none;
}
#bio article ul li a:hover{
    background: #4dc0ef;
    color: #fff;
    margin: 0px 15px;
    text-decoration: none;
}
/*FOOTER-------------------------------------------------------------------------------------------------------------------*/

footer {
    padding: 42px 0px;
}

footer .foot-menu {
    margin: 0 auto;
    max-width: 606px;
    color: #2b2b2b;
    font: 18px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

footer .foot-menu ul {
    margin: 0px;
    padding: 0px;
}

footer .foot-menu ul li {
    list-style: none;
    float: left;
    margin-right: 23px;
}

footer .foot-menu ul li:last-child {
    margin-right: 0;
}

footer .foot-menu ul li a {
    color: #2b2b2b;
}

footer .foot-menu ul li a:hover {
    color: #4dc0ef;
    text-decoration: none;
}

footer .foot-menu .active a {
    color: #4dc0ef;
}

footer .foot-menu ul li a:focus {
    color: #4dc0ef;
}

footer .copy-right {
    padding: 18px 0 24px 0;
    text-align: center;
    color: #848484;
    letter-spacing: 3px;
    font: 14px 'source_sans_proregular', Arial, Helvetica, sans-serif;
}

footer .social-link {
    text-align: center;
}

footer .social-link a {
    padding: 0px 4px;
    text-decoration: none;
}
/*END FOOTER-------------------------------------------------------------------------------------------------------------------*/

/******************************************/

@media(min-width:320px) and (max-width:567px){
    
    .works-box .inner-box ul li{
        height: 100%;
    }

    .works-box .inner-box .lft-box h2{
        left: 5px;
    }

    .works-box .inner-box .rgt-box h2{
        font-size: 45px;
        top: -43px;
        left: 1700px;
    }
}

/*Small */
@media(max-width:767px){
    /*HEADER********************************/
    .navbar-header{
        padding-bottom: 34px;
    }
    .navbar-collapse.navbar-ex1-collapse.collapse{
        margin-top: 0;
    }
    nav ul{
        margin-left: 0px !important;
    }
    nav ul li a{
        float: initial;
        padding: 0;
    }
    /*END HEADER********************************/

    /* CLIENT **********************************/
    .back-1 #form-client{
        padding: 10px;
    }
    .back-1 #form-client h2{
        font-size: 35px;
    }
    .back-1 #form-client p{
        font-size: 16px;
    }
    .back-2 #why-user{
        padding: 5px 5px 20px 0px;
    }
    .back-2 .img-mobile{
        width: 100%;
    }
    .back-2 #why-user .last{
        padding: 0;
    }
    .back-2 #why-user h3{
        text-align: center;
    }
    .back-2 img:first-child{
        height: 100%;
    }
    .back-2 #why-user ul li{
        text-align: center;
        line-height:initial;
    }
    .back-3 .container article p{
        padding: 0px 20px 50px 20px;
    }
    /* END CLIENT *******************************/
    /* ABOUT**************************************/
    .back-benefits{
        height: 2100px;
        padding: 29px 5px 29px 5px;
    }
    .back-benefits article:nth-child(2){
        margin-left: 0;
    }
    #about .p-about h2{
        font-size: 34px;
    }
    .back-benefits article{
        -webkit-border-radius: 12px;/*Safari, Chrome*/
        -moz-border-radius: 12px;/*Firefox*/
        border-radius: 12px;
        padding-top: 20px;
    }
    .back-benefits article h3{
        margin-top: 0;
        font-size: 22px;
    }
    #perspective article{
        padding: 0;
    }
    #perspective article h2{
        text-align: center;
    }
    #values{
        padding-bottom: 75px;
        min-height: 674px;
    }
    #values .container .cont{
        padding: 0;
        position:inherit;
        text-align: center;
    }
    .flex-control-nav {
        bottom: -280%;
    }
    #our h3{
        padding: 0;
    }
    #our .content p,span{
        display: inline-block;
    }
    #our article:first-child{
        padding: 5px;
    }
    .back-benefits article:nth-child(3){
        margin-left: 0;
    }
    .back-benefits article:nth-child(4){
        margin-left: 0;
    }
    /* END ABOUT**************************************/
    /*BIO*********************/
    #bio article h2{
        padding: 15px 0 0;
        font-size: 25px;
        text-align: center;
    }
    #bio article p{
        text-align: center;
        line-height: 25px;
    }
    /*END BIO*********************/
    /*HOME************************/
    .intro{
        background: url(../images/startup-shutterstockUp.jpg) 63% 0;
        height: 500px;
    }
    .intro .container {
        padding-top: 150px;
    }
    .intro .container h1{
        line-height: 38px;
        font-size: 28px;
    }
    .second{
        background: url(../images/expertise_269302526.jpg) 50% no-repeat;
        background-size: 100%;
        background-position: initial;
    }
    .second .container{
        padding-top: 95%;
    }
    .second article h2{
        padding-left: 0;
    }
    .second .container ul{
        padding-left: 0;
    }
    .third{
        height: auto;
    }
    .four{
        background: #f8f8f8 url(../images/group_of_teensUp.jpg) 50% no-repeat;
        background-size: 100%;
        background-position: top;
    }
    .four .container{
        padding-top: 60%;
    }
    .four .container article{
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .four .container article h3{
        font-size: 30px;
    }
    .back-2.home{
        background-position:top;
        height: auto;
    }
    .back-2.home article{
        padding-top: 65%;
    }
    /*END HOME********************/
    .contact-box .select-box {
        width: 100%;
    }

    .contact-box textarea{
        width: 100%;
    }

    .contact-box .textarea-box{
        padding: 0 15px;
    }

    .contact-box select {
        width: 106%;
    }

    .contact-box .select-box{
        padding: 0 15px;
    }

    /*TABS-----------------------------------*/

    .nav-tabs li .heading {
    display: none;
}

    .nav-tabs > li > a{
        height: 55px;
        width: 69px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        height: 65px;
        width: 69px;
    }

    .nav-tabs li a img{
        width: 120%;
    }
    /*footer*/
    footer .foot-menu ul li{
        padding: 0 12px 5px;
    }
    /*end footer*/

    /*HOW IT WORKS*/

    .how-it-box{
        padding-bottom: 0;
    }

    .works-box{
        background-image: none;
        padding-bottom: 35px;
    }

    .works-box .inner-box .lft-box{
        background-color: #3FABD7;
        padding: 0 25px;
    }

    .works-box .inner-box .lft-box h2{
        font-size: 40px;
        top: -43px;
    }

    .works-box .inner-box .rgt-box{
        background-color: #4189D3;
        padding: 0 25px;
        margin-top: 65px;
    }

    .works-box .inner-box .rgt-box h2{
        font-size: 45px;
        top: -43px;
        left: 170px;
    }

    .works-box .hand-img{
        margin: -45px 0 55px 0;
    }

    .works-box .hand-img img{
        width: 30%;
    }

    .invitation-img > img {
        margin: 0 0 0 24px;
    }

    .how-it-box .content-box{
        padding: 35px 35px ;
    }

    .how-it-box .invitation-img{
        padding-top: 12px;
    }
    
}

/* Ugly Form */

.off-form-header{
    display: none;
    margin-bottom: -125px;
}

.uglyForm .off-form-header {
    display: block;
}

.uglyForm .back-1{
    
    background-image: none;
    margin-top: 0;
}

.uglyForm #form-client{
    background-color: #DCE8F6;
    color: #000;
}

.uglyForm #form-client header {
    display: none;
}

.uglyForm .back-1 #form-client{
    margin-bottom: 0;
}

/* Small */
@media(min-width:768px) and (max-width:991px){
    /*HEADER********************************/
    .navbar-nav{
        float: initial;
    }
    .navbar-brand{
        float: initial;
    }
    .navbar-brand>img{
        width: 80%;
    }
    nav ul li{
        padding-top: 10px;
    }
    nav ul li a{
        padding: 5px !important;
        font-size: 12px;
    }
    nav ul li:nth-child(5){
        margin-right: 10px;
    }
    nav ul li .btn-login{
        font-size: 14px;
    }
    nav ul li .btn-join{
        font-size: 14px;
    }
    /*END HEADER********************************/

    /* CLIENT **********************************/
    .back-2 #why-user{
        padding: 0px 20px 20px;
    }
    .back-2 img:first-child{
        margin-top: 0;
        height: 100%;
    }
    .back-2 article:last-child{
       padding-left: 30px; 
       text-align: center;
    }
    .back-2 #why-user ul{
        margin-right: 0;
    }
    .back-2 #why-user ul li{
        line-height:initial;
        font-size: 16px;
    }
    .back-3 .container .arw-img2 img{
        height: 340px;
    }
    .back-3 .container article p{
        padding: 0px 20px 50px 60px;
    }
    .back-4 .container article:last-child{
        margin-top: 90px;
    }
    /*END CLIENT **********************************/
    /* ABOUT**************************************/
    .back-benefits article:nth-child(2){
        margin: 0px 0 20px 25%;
    }
    .back-benefits article:nth-child(3){
        margin: 10px 0 20px 25%;
    }
    .back-benefits article:nth-child(4){
        margin: 10px 0 20px 25%;
    }
    #our article:first-child {
        padding: 10px;
    }
    #values .container .cont p{
        font-size: 17px;
    }
    /*END ABOUT***********************************/
    /*HOME*/
    .second{
        background: url(../images/expertise_269302526.jpg) 50% no-repeat;
        background-size: 100%;
        background-position: 0px -260px;
        
    }
    .second .container article{
        margin-top: 460px;
    }
    .four {
        background: #f8f8f8 url(../images/group_of_teensUp.jpg) 50% no-repeat;
        background-size: 100%;
        background-position: top;
    }
    .four .container article{
        margin-top: 430px;
    }
    /*END HOME*/
    .nav-tabs > li > a{
        height: 135px;
        width: 190px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        height: 170px;
        width: 191px;
    }

    .nav-tabs li a img{
    width: 120%;
    }

    /*HOW IT WORKS*/

    .works-box .inner-box ul li{
        height: 180px;
    }

    .works-box .inner-box .lft-box h2{
        font-size: 35px;
        top: -76px;
        left: 25px;
    }

    .works-box .inner-box .rgt-box h2{
        font-size: 35px;
        top: -76px;
    }

    .works-box .hand-img{
        margin-top: -45px;
    }

    .works-box .hand-img img{
        width: 20%;
    }

    .invitation-img > img {
        margin: 73px 0 0 24px;
        /*width: 99%;*/
    }

    .how-it-box .content-box{
        padding-top: 35px;
    }

    .how-it-box .invitation-img{
        padding-top: 12px;
    }
    
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
    /*HEADER************************************/
    .navbar-nav{
        float: initial;
    }
    nav ul li:nth-child(5){
        margin-right: 10px;
    }
    /*END HEADER********************************/
    
    /* CLIENT **********************************/
    .back-2 img:first-child{
        margin-top: 0;
    }
    .back-3 .container article p{
        padding: 0px 35px 50px 60px;
    }
    .back-3 .container .arw-img2 img{
        height: 290px;
    }
   /*END CLIENT **********************************/
   /* ABOUT**************************************/
   #perspective article:last-child{
    padding-top: 27px;
   }
   #perspective article p{
    padding-top: 10px;
   }
   #our article:first-child{
        padding: 0px 10px 10px 10px;
   }
   #our h3{
    padding: 0;
   }
   #our .content p{
    padding-top: 5px;
   }
   /* END ABOUT**************************************/
    .nav-tabs > li > a{
        height: 170px;
        width: 255px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        height: 210px;
        width: 255px;
    }

    .nav-tabs li a img{
        width: 120%;
    }

    /*HOW IT WORKS*/

    .invitation-img > img{
        margin-top: 30px;
    }

    .works-box .inner-box .lft-box h2{
        left: 45px;
    }
}

/* Large */
@media(min-width:1200px){}
@media(min-width:320px) and (max-width:567px){
    
    .works-box .inner-box ul li{
        height: 100%;
    }

    .works-box .inner-box .lft-box h2{
        left: 5px;
    }

    .works-box .inner-box .rgt-box h2{
        font-size: 40px;
        top: -43px;
        left: 9%;
    }
}
